{% extends 'base.html' %}
{% load i18n %}
{% block top %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock top %}
{% block content %}


    <section class="py-3 mt-2 bg-info text-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2>{% trans 'Xizmat turini tanlang' %}</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="services py-5 bg-light text-center">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="{% url 'account_statement:new_car' %}" class="text-body">
                        <div class="card bg-info mb-3">
                            <div class="card-body">
                                <i class="fa fa-car fa-4x "></i>
                                </br>
                                </br>
                                <h4>Hisob ma'lumotnomasi</h4>
                            </div>
                        </div>
                    </a>
                </div>


            </div>

        </div>

    </section>
{% endblock content %}