{% load static %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>Tizimga kirish</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static '/plugins/fontawesome-free/css/all.min.css' %}">

</head>
<body>
<div class="container">

    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="not_copy">Tizimga kirish</h3>
                <div class="d-flex justify-content-end social_icon">

                    <a title="Yordam kerakmi?" href="https://t.me/Sirojiddin_Yakubov"><span><i
                            style="color: #0088cc; background-color: whitesmoke; border-radius: 140%"
                            class="fab fa-telegram"></i></span></a>
                    <a title="Yordam kerakmi?"
                       href="https://telegra.ph/E-RIB-tizimidanfoydalanish-boyicha-qollanma-08-11"><span><i
                            style="color: #242424; background-color: whitesmoke; border-radius: 120%"
                            class="far fa-question-circle"></i></span></a>
                </div>
            </div>

            {% include 'includes/../_parts/messages.html' %}

            <div class="card-body">
                <form method="post" action="{% url 'user:login_first' %}" id="form">
                    {% csrf_token %}
                    <div class="input-group form-group">
                        <label class="not_copy" style="width: 100%" for="phone">Telefon raqam:</label>
                        <input id="phoneCode" type="number" class="form-control"
                               placeholder="+998" disabled>

                        <input style="width: 63%" type="number" class="form-control" id="phone" name="phone"
                               autocomplete="off"
                               placeholder="Masalan: 919791999" aria-describedby="passwordHelpBlock" required/>
                        <input type="text" class="form-control not_copy" id="showPhone" style="display: none" disabled/>

                        <div style="display: none" class="valid-feedback">Muvaffaqiyatli to'ldirildi</div>
                        <div style="display: none" class='invalid-feedback'>Raqam 9 xonali sondan iborat bo'lishi
                            kerak
                        </div>

                        <div class="input-group form-group mt-2">
                            <label id="passwordLabel" class="not_copy" style="width: 100%; display: none;"
                                   for="password">Parol:</label>
                            <input type="password" id="password" placeholder="Parol" style="display: none;"
                                   name="password" autocomplete="off"
                                   class="form-control" required>
                        </div>


                        {#                        <small id="passwordHelpBlock" class="form-text text-muted">#}
                        {#                            9 xonali sondan iborat bo'lishi kerak#}
                        {#                        </small>#}

                    </div>
                    {#                    <div class="input-group form-group divWithIcon">#}
                    {#                        <div class="input-group-prepend">#}
                    {#                            <span class="input-group-text"><i class="fas fa-lock custom_icon"></i></span>#}
                    {#                        </div>#}
                    {##}
                    {#                        <input type="password" id="password" placeholder="Parol" name="password" autocomplete="off"#}
                    {#                               class="form-control" required>#}
                    {#                        <i class="far fa-eye icon-pwd"></i>#}
                    {##}
                    {#                    </div>#}

                    {#                    <div class="row align-items-center remember">#}
                    {#                        <input name="checkbox" style="cursor: pointer" type="checkbox"><span class="not_copy"#}
                    {#                                                                                             style="cursor: pointer"#}
                    {#                                                                                             id="label_remember">Eslab qol</span>#}
                    {#                    </div>#}
                    <div class="form-group">
                        <input type="submit" id="SubmitBtn1" value="Kirish" class="btn fourth">
                        <input style="display: none" type="submit" id="SubmitBtn2" value="Kirish" class="btn fourth">
                    </div>
                </form>
            </div>
            <div class="card-footer" style="display: none" id="footerBlock">
                <div class="d-flex justify-content-center links not_copy">
                    Raqamni o'zgartirmoqchimisiz?

                    <a style="display: block" href="{% url 'user:login_first' %}">Raqamni o'zgartirish</a>
                </div>
                <div class="d-flex justify-content-center not_copy">
                    <a href="#" id="forget_pass">Parolni unutdingizmi?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

    $(document).ready(function () {
        var InputPhone = $('#phone'),
            SubmitBtn1 = $('#SubmitBtn1'),
            SubmitBtn2 = $('#SubmitBtn2'),
            redirect = '{{ redirect }}'


        // Eterni false qiladi
        function PressEnterFalse(e) {
            if (e.keyCode === 13 || e.which === 13) {
                e.preventDefault();
                return false;
            }
        }


        // get csrftoken from cookie
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var phone = getCookie('phone')

        if (redirect) {
            SubmitBtn1.hide()
            SubmitBtn2.show()
            $('#footerBlock').show()
            $('#password').show()
            $('.valid-feedback').css('display', 'none')
            $('#phoneCode').css('display', 'none')
            InputPhone.css('display', 'none')
            $('#showPhone').css('display', 'block')
            $('#passwordLabel').css('display', 'block')
            $('#showPhone').attr('value', `+998${phone}`)
        }

        InputPhone.on('keyup', function () {

            if ($(this).val().length === 9) {
                InputPhone.css("border-color", "green").css("background", "#e8f0fe");
                $('.invalid-feedback').css('display', 'none')
                $('.valid-feedback').css('display', 'block')
            } else {
                InputPhone.css("border-color", "red").css("background", "#fcf7f7");
                $('.invalid-feedback').css('display', 'block')
                $('.valid-feedback').css('display', 'none')
            }
        })

        SubmitBtn1.on('click', function (e) {

            e.preventDefault()
            if (InputPhone.val().length === 9) {
                $.ajax({
                    type: 'GET',
                    url: '{% url "user:is_register" %}',
                    data: {
                        'phone': InputPhone.val(),
                    },
                    success: function (messege) {
                        if (messege == 'True') {
                            SubmitBtn1.hide()
                            SubmitBtn2.show()
                            $('#footerBlock').show()
                            $('#password').show()
                            $('.valid-feedback').css('display', 'none')
                            $('#phoneCode').css('display', 'none')
                            InputPhone.css('display', 'none')
                            $('#showPhone').css('display', 'block')
                            $('#passwordLabel').css('display', 'block')
                            $('#showPhone').attr('value', `+998${InputPhone.val()}`)

                        } else {
                            window.location.href = '{% url 'user:signup' %}'
                        }
                    }
                })
            } else {
                InputPhone.css("border-color", "red").css("background", "#fcf7f7");
                $('.invalid-feedback').css('display', 'block')
                $('.valid-feedback').css('display', 'none')
            }
        })


        SubmitBtn2.on('click', function (e) {
            // e.preventDefault()
            $('form').submit()

        })


//keraksiz
        var passport = $('#passport'),
            password = $('#password'),
            forget_pass = $('#forget_pass')

        forget_pass.on('click', function () {
            sweetAlertFunc()

            function sweetAlertFunc() {
                swal({
                    title: "Parolni unutdingizmi ?",
                    {#text: "Siz haqiqatdan ham guruhini o'chirmoqchimisiz ?",#}
                    {#icon: "warning",#}
                    className: "",
                    buttons: [
                        'Yoq',
                        'Ha, Parolni tiklash'
                    ],
                    dangerMode: false,
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal({
                            text: 'Telefon raqamingizni kiriting...',
                            buttons: [
                                'Orqaga qaytish',
                                'Yuborish'
                            ],
                            content: {
                                element: "input",
                                attributes: {
                                    placeholder: "Masalan: 919791999",
                                    type: "text",
                                },
                            },
                        }).then(function (inputValue) {
                            if (inputValue.length === 9) {
                                $.ajax({
                                    type: 'GET',
                                    url: '{% url "user:forgot_pass" %}',
                                    data: {
                                        'phone': inputValue,
                                    },
                                    success: function (messege) {
                                        if (messege == 'True') {
                                            swal({
                                                icon: "success",
                                                text: "Passport va parol raqamingizga sms tarzida jo'natildi!"
                                            });
                                        } else {
                                            swal({
                                                text: 'Bunday raqam bazada mavjud emas!',
                                                icon: 'error',
                                                buttons: [
                                                    'Orqaga qaytish',
                                                    "Ro'yhatdan o'tish"
                                                ],
                                            }).then(function (isRegister) {
                                                if (isRegister) {
                                                    window.location.href = '{% url 'user:signup' %}'
                                                }
                                            });
                                        }
                                    }

                                })
                            } else {
                                swal({
                                    text: 'Raqamni kiritishda xatolik!',
                                    icon: 'error',
                                    buttons: [
                                        'Orqaga qaytish',
                                        "Qayta urinib ko'rish"
                                    ],
                                }).then(function (isAgain) {
                                    if (isAgain) {
                                        sweetAlertFunc()
                                    }
                                });
                            }
                        });
                    }
                });


                //  swal("Write something here:", {
                //     content: "input",
                //  })
                //      .then((value) => {
                //          swal(`You typed: ${value}`);
                //     });

            }
        })


        $('#label_remember').on('click', function () {
            console.log($(".remember input[name='checkbox']:checked").val())
            if ($(".remember input[name='checkbox']:checked").val()) {

                $(".remember input[name='checkbox']").prop('checked', false);
            } else {

                $(".remember input[name='checkbox']").prop('checked', true);
            }

        })

        passport.keypress(PassportInputFilter)

        $('.divWithIcon i').on('click', function () {
            if ($(this).hasClass('far fa-eye icon-pwd')) {
                $(this).removeClass().addClass('far fa-eye-slash icon-pwd')
                $('#password').attr('type', 'text')
            } else {
                $(this).removeClass().addClass('far fa-eye icon-pwd')
                $('#password').attr('type', 'password')
            }
        })

        password.keypress(function (e) {
            var ew = e.which
            if (ew === 32) {
                e.preventDefault()
            }
        })

    })
</script>


</body>
</html>