{% extends 'base_vertical.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {{ service.short_title }}
{% endblock title %}

{% block page_title %}
    {{ service.long_title }}
{% endblock page_title %}

{% block css %}

    <!-- Plugins css -->
    <link href="{% static 'assets/libs/mohithg-switchery/switchery.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/multiselect/css/multi-select.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/selectize/css/selectize.bootstrap3.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet"
          type="text/css"/>

    <!-- Loading button css -->
    <link href="{% static 'assets/libs/ladda/ladda.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/ladda/ladda-themeless.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Sweet Alert-->
    <link href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>


{% endblock css %}
{% block content %}
    <div class="row ml-2 mr-2">
        <div class="col-12 text-center p-0">
            <div class="card px-0 pt-4 pb-0 mb-3">
                <ul class="step d-flex flex-nowrap">
                    <li id="person_step" class="step-item active">
                        <span>Foydalanuvchi</span>
                    </li>
                    <li id="account_step" class="step-item">
                        <span>Account</span>
                    </li>
                    <li id="document_step" class="step-item">
                        <span>{{ service.short_title }}</span>
                    </li>
                    <li id="car_step" class="step-item">
                        <span>Transport vositasi</span>
                    </li>
                    <li id="section_step" class="step-item">
                        <span>Ariza topshirish hududi</span>
                    </li>
                </ul>
                <br>
                <br>
                {% include 'user/role/app_creator/service/_parts/person_fieldset.html' %}

                {% include 'user/role/app_creator/service/_parts/account_fieldset.html' %}

                {% include 'user/role/app_creator/service/_parts/document_fieldset.html' %}

                {% include 'user/role/app_creator/service/_parts/car_fieldset.html' %}

                {% include 'user/role/app_creator/service/_parts/section_fieldset.html' %}

            </div>

        </div>
    </div>

{% endblock content %}

{% block js %}
    <script src="{% static 'assets/libs/selectize/js/standalone/selectize.min.js' %}"></script>
    <script src="{% static 'assets/libs/mohithg-switchery/switchery.min.js' %}"></script>
    <script src="{% static 'assets/libs/multiselect/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>

    <script src="{% static 'assets/libs/devbridge-autocomplete/jquery.autocomplete.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>


    <script src="{% static 'assets/libs/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-notify@3.1.3/bootstrap-notify.min.js"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"
            integrity="sha512-6Jym48dWwVjfmvB0Hu3/4jn4TODd6uvkxdi9GNbBHwZ4nGcRxJUCaTkL3pVY6XUQABqFo3T58EMXFQztbjvAFQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" charset="UTF-8">
        $(function () {
            $('.select2').select2({
                width: '100%'
            })

            $('#region').select2({
                width: '100%'
            })
            $('#district').select2({
                width: '100%'
            })
            $('#quarter').select2({
                width: '100%'
            })
            $('#auction_number_div').hide()

            {#$('#account_fieldset').hide()#}
            {#$('#car_fieldset').show()#}
        })

        $(document).ready(function () {
                var token = getCookie('token'),
                    csrftoken = getCookie('csrftoken')


                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken)
                        xhr.setRequestHeader('Authorization', `Bearer ${token}`)
                    },
                    error: function (response) {
                        if (response.status === 401) {
                            tokenInvalid()
                        }
                    }
                })

                jQuery.validator.addMethod("noSpace", function (value, element) {
                    return value === '' || value.trim().length !== 0;
                }, "Iltimos, bo'sh joy qoldirmang!");
                jQuery.validator.addMethod("alphanumeric", function (value, element) {
                    return this.optional(element) || /^\w+$/i.test(value);
                }, "Faqat harf va raqam kiriting!");
                jQuery.validator.addMethod("personIdMaxLength", function (value, element) {
                    return this.optional(element) || /^\d{14}$/.test(value);
                }, "JShShIR 14 raqamdan iborat bo'lishi kerak!");
                jQuery.validator.addMethod("phoneMaxLength", function (value, element) {
                    return this.optional(element) || /^\d{2}\s\d{3}-\d{2}-\d{2}$/.test(value);
                }, "Telefon raqam noto'g'ri kiritilgan!");
                jQuery.validator.addMethod("passwordCheck",
                    function (value, element, param) {
                        if (this.optional(element)) {
                            return true;
                        }
                            // else if (!/[A-Z]/.test(value)) {
                            //   return false;
                        //  }
                        else if (!/[a-z]/.test(value)) {
                            return false;
                        } else if (!/[0-9]/.test(value)) {
                            return false;
                        }

                        return true;
                    },
                    "Parol raqam va harfdan iborat bo'lishi kerak!");


                $(document).on('click', '.next', function () {
                    if ($(this).attr('type') === 'button') {
                        var step_prefix = $(this).parents('fieldset').attr('id').split('_')[0]

                        var stepName = step_prefix + '_step'
                        $(`#${stepName}`).removeClass('active')
                        $(`#${stepName}`).next('li').addClass('active')

                        $(this).parents('fieldset').hide()
                        $(this).parents('fieldset').siblings('fieldset').first().show()
                    }
                })

                $(document).on('click', '.prev', function (e) {

                    $(this).parents('fieldset').hide()
                    $(this).parents('fieldset').prev('fieldset').show()

                })

                function formatState(state) {
                    if (!state.id) {
                        return state.text;
                    }
                    return $(
                        '<div style="' + $(state.element).data('style') + '"> ' + state.text + '</div>'
                    );
                }

                $('#car').select2({
                    placeholder: '-- modelni tanlang --',
                    templateResult: formatState,
                }).on('select2:close', function () {
                    var el = $(this);
                    if (el.val() === "new") {
                        var newval = addCarModel(url = '{% url 'user:save_new_car_model' %}')
                        console.log(newval)
                        if (newval !== null && newval !== undefined) {
                            el.append('<option>' + newval + '</option>').val(newval);
                        }
                    }
                })

                $('#person').select2({
                    placeholder: '-- foydalauvchini tanlang --',
                    templateResult: formatState,
                }).on('select2:close', function () {
                    var el = $(this);
                    if (el.val() === "new") {
                        var newval = addCarModel(url = '{% url 'user:save_new_car_model' %}')
                        console.log(newval)
                        if (newval !== null && newval !== undefined) {
                            el.append('<option>' + newval + '</option>').val(newval);
                        }
                    }
                })

                $('#color').select2({
                    placeholder: '-- rangni tanlang --',
                    templateResult: formatState,
                }).on('select2:close', function () {
                    var el = $(this);
                    if (el.val() === "new") {
                        var newval = addColor(url = '{% url 'user:save_new_color' %}', select_id = 'color')
                        if (newval !== null && newval !== undefined) {
                            el.append('<option>' + newval + '</option>').val(newval);
                        }
                    }
                })
            }
        )
    </script>
{% endblock js %}






