{% extends 'base_vertical.html' %}
{% load static %}
{% load i18n %}

{% block show_left_bar %}  "size": "condensed"{% endblock show_left_bar %}

{% block css %}

    <!-- third party css -->
    <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- third party css end -->

{% endblock css %}

{% block page_title %}
    {% if section %}{% blocktrans with section_title=section.title %}{{ section_title }}ga kelib
        tushgan arizalar{% endblocktrans %}{% else %}{% trans "Arizalar" %}{% endif %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-10 col-xs-12">
                            <div class="row justify-content-center">
                                <div class="col-8">
                                    <a href="{% url "application:change_get_request" 'process' 'all' %}"
                                       class="btn btn-light">Hammasi</a>
                                    <a href="{% url "application:change_get_request" 'process' '1' %}"
                                       class="btn btn-info">Yangilar</a>
                                    <a href="{% url "application:change_get_request" 'process' '5' %}"
                                       class="btn btn-success">Qabul qilingan</a>
                                    <a href="{% url "application:change_get_request" 'process' '2' %}"
                                       class="btn btn-warning">Jarayon</a>
                                    <a href="{% url "application:change_get_request" 'process' '8' %}"
                                       class="btn btn-secondary">Qayta tiklangan</a>
                                    <a href="{% url "application:change_get_request" 'process' '6' %}"
                                       class="btn btn-danger">Rad etilgan</a>
                                </div>
                            </div>
                            <table id="example1" class="table dt-responsive nowrap w-100">
                                <thead>
                                <tr>
                                    <th>{% trans "Xizmat nomi" %}</th>
                                    <th>{% trans "Avtomobil" %}</th>
                                    <th>{% trans "Arizachi" %}</th>
                                    <th>{% trans "Yaratilgan vaqti" %}</th>
                                    <th style="width: 14% !important;">{% trans "Holati" %}</th>
                                    <th style="width: 5% !important;">{% trans "Ariza raqami" %}</th>
                                    <th>{% trans "#" %}</th>
                                </tr>
                                </thead>


                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-2" id="right_filter_div">
                            {% include 'user/role/checker/right_filter_applications.html' %}
                        </div>
                    </div>


                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->

    </div>

{% endblock content %}
{% block js %}
    <script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'assets/libs/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'assets/libs/moment/moment.js' %}"></script>
    <script src="{% static 'assets/libs/moment/locale/ru.js' %}"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            sendAuthorizationToken()

            $.fn.dataTable.ext.errMode = function (settings, helpPage, message) {
                console.log(message);
            };

            var table = $("#example1").DataTable({
                "serverSide": true,
                "processing": true,
                'autoWidth': false,
                "orderCellsTop": true,
                "order": [[4, "asc"]],
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "{% trans 'Qidiruv...' %}",
                    "emptyTable": `{% trans "Ma'lumot topilmadi!" %}`,
                    {#"info": "Ko'rsatilgan _END_ dan _START_. Jami: _TOTAL_ ta ma'lumot",#}
                    "info": `{% trans "Jami: _TOTAL_ ta ariza" %}`,
                    "infoEmpty": `{% trans "Jami: _TOTAL_ ta ariza" %}`,
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "{% trans 'Yuklanmoqda...' %}",
                    "processing": '<div class="spinner-grow" role="status"> <span class="sr-only"></span> </div>',
                    "zeroRecords": `{% trans "Ma'lumot topilmadi!" %}`,
                    "paginate": {
                        "first": "{% trans 'Birinchi' %}",
                        "last": "{% trans 'Oxirgi' %}",
                        "next": "{% trans 'Keyingi' %}",
                        "previous": "{% trans 'Oldingi' %}"
                    },
                    "aria": {
                        "sortAscending": `{% trans ": o'sish tartibi faollashtirildi" %}`,
                        "sortDescending": `{% trans ": kamayish tartibi faollashtirildi" %}`,
                    }
                },
                "ajax": function (data, callback, settings) {

                    $.ajax({
                        url: "{% url 'api_checker:applications_list' %}",
                        type: 'GET',
                        dataType: "json",
                        cache: false,
                        contentType: "application/json; charset=utf-8",
                        data: {
                            limit: data.length,
                            offset: data.start,
                            q: data.search.value,
                            order_by: data.columns[data.order[0].column].data.replace(/\./g, "__"),
                            old_request: window.location.search
                        }
                    }).then(function (res) {
                        callback({
                            recordsTotal: res.count,
                            recordsFiltered: res.count,
                            data: res.results
                        });
                    });
                },
                "columns": [
                    {
                        "data": "service",
                         orderable: false,
                        render: function (data, type, row) {
                            var url = "{% url 'application:application_detail' 12345 %}".replace(/12345/, row.id.toString())
                            return `<a href="${url}">${data.short_title}</a>`
                        }
                    },
                    {
                        "data": 'car',
                         orderable: false,
                        render: function (data, type, row) {
                            var car_url = "{% url 'user:view_car_data' 12345 %}".replace(/12345/, row.car.id.toString())
                            return `<a href='${car_url}' title='${data.model.title}'>${data.model.title.substring(0, 25)}</a><br>${data.old_number ? data.old_number : ''}`
                        }
                    },
                    {
                        "data": "created_user",
                         orderable: false,
                        render: function (data, type, row) {
                            var created_user_url = "{% url 'user:view_personal_data' 12345 %}".replace(/12345/, row.created_user.id.toString())
                            return `<a href='${created_user_url}'>${data.last_name} ${data.first_name} ${data.middle_name}</a><br>+998${data.phone}`
                        }
                    },
                    {
                        "data": "created_date",
                        render: function (data, type, row) {
                            moment.locale('ru');
                            return `<span title='${moment(data).format('LLL')}'>${moment(data).fromNow()}</span>`
                        }
                    },
                    {
                        "data": "process",
                         orderable: false,
                        render: function (data, type, row) {
                            var border_color = ((row.process === 2) || (row.process === 3) || (row.process === 4)) ? "#ecec01" : (row.process === 5) ? "#36f406" : (row.process === 6) ? "#dc3545" : '#c9c9c9';

                            return `
                            <select name="process_select" class="change_process select-css form-select"
                                                data-id="${row.id}" style="font-size: smaller;border: 2px solid ${border_color}">
                                <option value="" ${row.process === 1 ? 'selected' : ''}>-- holatni tanlang --</option>
                               <option value="process" ${(row.process === 2) || (row.process === 3) || (row.process === 4) ? "selected" : ''}>Jarayon</option>
                               <option value="confirm" ${(row.process === 5) ? "selected" : ''}>Qabul qilish</option>
                                <option value="cancel" ${(row.process === 6) ? 'selected' : ''}>Rad etish</option>

                            </select>
                            `
                        }

                    },
                    {"data": "id"},
                    {
                        "data": "file_name",
                         orderable: false,
                        render: function (data, type, row) {
                            var url = "{% url 'application:create_application_doc' filename=12345 %}".replace(/12345/, row.file_name.toString());

                            return `<center><a href="${url}" ><i style="font-size: large" class="fas fa-file-word"></i></a></center>`
                        }
                    },

                ],
                createdRow: function (row, data, index) {
                    console.log(205, row)
                    if ((data.process === 2) || (data.process === 3) || (data.process === 4)) {
                        $(row).addClass('tr-warning')
                    } else if (data.process === 5) {
                        $(row).addClass('tr-success')
                    } else if (data.process === 6) {
                        $(row).addClass('tr-danger')
                    }
                }
            })

            $('#example1 tbody').on('change', '.change_process', function () {

                var applicationId = $(this).data('id'),
                    SelectedProcess = $(this).children('option:selected').val(),
                    cancel_url = "{% url 'application:applications_list' %}",
                    success_url = "{% url 'application:confirm_application_data' %}"

                $(".change_process").each(function () {
                    if ($(this).data('id') === applicationId) {
                        var is_replace_number = $(this).data('replace-number')

                        if (SelectedProcess === 'confirm') {
                            $(this).css('border', '2px solid #36f406')

                            $.ajax({
                                            type: "POST",
                                            url: "{% url 'application:confirm_application_data' %}",
                                            data: {
                                                'application': applicationId,
                                                'process': 'confirm',
                                            },
                                            statusCode: {
                                                200: function (res) {

                                                    $.notifyDefaults({
                                                        type: 'success',
                                                        allow_dismiss: false,
                                                        animate: {
                                                            enter: 'animated fadeInRight',
                                                            exit: 'animated fadeOutRight',
                                                        },
                                                        z_index: '9999'
                                                    });
                                                    $.notify({
                                                        icon: 'glyphicon glyphicon-star',
                                                        message: `<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                                                                '<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\n' +
                                                                '<path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>\n' +
                                                                '</svg> &nbsp${applicationId}-raqamli ariza muvaffaqiyatli tasdiqlandi!`
                                                    });

                                                    refresh_with_time(400)

                                                },
                                                404: function (err) {
                                                    errorFunction()
                                                }
                                            },
                                        })

                        } else if (SelectedProcess === 'cancel') {
                            $(this).css('border', '2px solid #dc3545')

                            process_cancel(success_url, cancel_url, applicationId)

                        } else if (SelectedProcess === 'process') {
                            $(this).css('border', '2px solid #ecec01')

                            process(success_url, cancel_url, applicationId)
                        }

                      /*  $.ajax({
                            type: 'POST',
                            {#url: '{% url "application:get_given_number" id=12345 %}'.replace(/12345/, applicationId.toString()),#}
                            statusCode: {
                                200: function (response) {
                                    console.log(response)
                                    if (SelectedProcess === 'confirm') {
                                           if (is_replace_number) {
                                            console.log('replace number')
                                            process_confirm_replace_number(success_url, cancel_url, applicationId, response)
                                        } else {

                                        console.log('not replace number')
                                        {#process_confirm_not_replace_number(success_url, cancel_url, applicationId)#}
                                        {#process_confirm(success_url, cancel_url, applicationId)#}
                                        $.ajax({
                                            type: "POST",
                                            url: "{% url 'application:confirm_application_data' %}",
                                            data: {
                                                'application': applicationId,
                                                'process': 'confirm',
                                            },
                                            statusCode: {
                                                200: function (res) {

                                                    $.notifyDefaults({
                                                        type: 'success',
                                                        allow_dismiss: false,
                                                        animate: {
                                                            enter: 'animated fadeInRight',
                                                            exit: 'animated fadeOutRight',
                                                        },
                                                        z_index: '9999'
                                                    });
                                                    $.notify({
                                                        icon: 'glyphicon glyphicon-star',
                                                        message: `<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                                                                '<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\n' +
                                                                '<path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>\n' +
                                                                '</svg> &nbsp${applicationId}-raqamli ariza muvaffaqiyatli tasdiqlandi!`
                                                    });

                                                    refresh_with_time(400)

                                                },
                                                404: function (err) {
                                                    errorFunction()
                                                }
                                            },
                                        })


                                    } else if (SelectedProcess === 'cancel') {
                                        process_cancel(success_url, cancel_url, applicationId)
                                    } else if (SelectedProcess === 'process') {
                                        process(success_url, cancel_url, applicationId)
                                    }
                                },
                                404: function (err) {
                                    console.log(err)
                                    errorFunction()
                                },


                            },
                        })  */
                    }
                })
            })
        })
    </script>
{% endblock js %}
