env/
.idea/
reception/__pycache__/
venv/
user/__pycache__/
user/migrations/__pycache__/
db.sqlite3
__pycache__/manage.cpython-38.pyc
user/migrations/
reception/local_settings.py
app/migrations/__pycache__/
app/__pycache__/
