env/
.idea/
venv/
db.sqlite3
__pycache__/manage.cpython-38.pyc
reception/local_settings.py
media/
*/__pycache__/
__pycache__/
*/migrations/
venv39/
deploy/.env
.bash_history
.cache
.local
.viminfo
deploy/pgdata
staticfiles