env/
.idea/
reception/__pycache__/
venv/
user/__pycache__/
user/migrations/__pycache__/
db.sqlite3
__pycache__/manage.cpython-38.pyc
user/migrations/
reception/local_settings.py
account_statement/migrations/__pycache__/
account_statement/__pycache__/
media/
account_statement/migrations/
application/__pycache__/
application/migrations/__pycache__/
application/migrations/0001_initial.py
application/migrations/
__pycache__/

