{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section class="py-3 mt-2 bg-info text-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2>{{ service.get_title_display }}</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <!-- left column -->
            <div class="col-md-12">
                {% include '_parts/messages.html' %}
                <table class="table table-bordered">
                    {% if service.seriya %}
                        <tr>
                            <th scope="row">Seriyasi va raqami:</th>
                            <td>{{ service.seriya }}</td>
                        </tr>
                    {% endif %}
                    {% if service.contract_date %}
                        <tr>
                            <th scope="row">Shartnoma tuzilgan sana:</th>
                            <td>
                                {{ service.contract_date|date:"SHORT_DATE_FORMAT" }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">Shaxs turi:</th>
                        <td>{% if service.person_type == 'Y' %}
                            Yuridik shaxs{% else %}Jismoniy shaxs{% endif %}</td>
                    </tr>
                    {% if service.person_type == 'Y' %}
                        <tr>
                            <th scope="row">Tashkilot:</th>
                            <td>{% if service.organization %}
                                <a href="{% url 'user:view_organization_data' service.organization.id %}">
                                    {{ service.organization }}</a>{% endif %}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">Avtomobil:</th>
                        <td>{% if service.car %}
                            <a href="{% url 'user:view_car_data' service.car.id %}">{{ service.car.model }}</a>{% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">Yaratilgan vaqt:</th>
                        <td>{% if service.created_date %}
                            {{ service.created_date|date:"SHORT_DATETIME_FORMAT" }}{% endif %}
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom %}

{% endblock bottom %}