{% extends 'base_vertical.html' %}
{% load static %}
{% load i18n %}

{% block show_left_bar %}  "size": "condensed"{% endblock show_left_bar %}

{% block css %}

    <!-- third party css -->
    <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/libs/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- third party css end -->

{% endblock css %}

{% block page_title %}
    {% trans "Arizachilar" %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-10 col-xs-12">
                            <table id="example1" class="table dt-responsive nowrap w-100">
                                <thead>
                                <tr>

                                    <th>{% trans "#" %}</th>
                                    <th>{% trans "Arizachi" %}</th>
                                    <th>{% trans "Viloyat" %}</th>
                                    <th>{% trans "Tuman/Shahar" %}</th>
                                    <th>{% trans "So'nggi tashrif" %}</th>
                                    <th>{% trans "Ro'yhatdan o'tgan" %}</th>
                                    <th>{% trans "Tahrirlash" %}</th>
                                    {#                                    <th>{% trans "Ariza raqami" %}</th>#}
                                </tr>
                                </thead>


                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-2" id="right_filter_div">
                            {% include 'user/role/administrator/right_filter_applicants.html' %}
                        </div>
                    </div>


                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->

    </div>

{% endblock content %}
{% block js %}
    <script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'assets/libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'assets/libs/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'assets/libs/moment/moment.js' %}"></script>
    <script src="{% static 'assets/libs/moment/locale/ru.js' %}"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            sendAuthorizationToken()

            $.fn.dataTable.ext.errMode = function (settings, helpPage, message) {
                console.log(message);
            };

            var table = $("#example1").DataTable({
                "serverSide": true,
                "processing": true,
                'autoWidth': false,
                "orderCellsTop": true,
                "order": [[1, "asc"]],
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "{% trans 'Qidiruv...' %}",
                    "emptyTable": `{% trans "Ma'lumot topilmadi!" %}`,
                    {#"info": "Ko'rsatilgan _END_ dan _START_. Jami: _TOTAL_ ta ma'lumot",#}
                    "info": `{% trans "Jami: _TOTAL_ ta arizachi" %}`,
                    "infoEmpty": `{% trans "Jami: _TOTAL_ ta arizachi" %}`,
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "{% trans 'Yuklanmoqda...' %}",
                    "processing": '<div class="spinner-grow" role="status"> <span class="sr-only"></span> </div>',
                    "zeroRecords": `{% trans "Ma'lumot topilmadi!" %}`,
                    "paginate": {
                        "first": "{% trans 'Birinchi' %}",
                        "last": "{% trans 'Oxirgi' %}",
                        "next": "{% trans 'Keyingi' %}",
                        "previous": "{% trans 'Oldingi' %}"
                    },
                    "aria": {
                        "sortAscending": `{% trans ": o'sish tartibi faollashtirildi" %}`,
                        "sortDescending": `{% trans ": kamayish tartibi faollashtirildi" %}`,
                    }
                },
                "ajax": function (data, callback, settings) {

                    $.ajax({
                        url: "{% url 'api_administrator:applicants_list' %}?id=475",
                        type: 'GET',
                        dataType: "json",
                        cache: false,
                        contentType: "application/json; charset=utf-8",
                        data: {
                            limit: data.length,
                            offset: data.start,
                            q: data.search.value,
                            order_by: data.columns[data.order[0].column].data.replace(/\./g, "__"),
                            old_request: window.location.search
                        }
                    }).then(function (res) {
                        console.log(res)
                        callback({
                            recordsTotal: res.count,
                            recordsFiltered: res.count,
                            data: res.results
                        });
                    });
                },
                "columns": [
                    {
                        data: "id",
                        orderable: false,
                        render: function (data, type, row) {
                            return data
                        }
                    },
                    {
                        "data": "phone",
                        render: function (data, type, row) {
                            return `<b>${row.last_name} ${row.first_name} ${row.middle_name}</b><br>+998${data}`
                        }
                    },
                    {
                        "data": 'region',
                        orderable: false,
                        render: function (data, type, row) {
                            return `<b>${data.title}</b>`
                        }
                    },
                    {
                        "data": 'district',
                        orderable: false,
                        render: function (data, type, row) {
                            return `<b>${data.title}</b>`
                        }
                    },
                    {
                        "data": "last_login",
                        render: function (data, type, row) {
                            moment.locale('ru');
                            return `<span title='${moment(data).format('LLL')}'>${moment(data).fromNow()}</span>`
                        }
                    },
                    {
                        "data": "date_joined",
                        render: function (data, type, row) {
                            moment.locale('ru');
                            return `<span title='${moment(data).format('LLL')}'>${moment(data).fromNow()}</span>`
                        }
                    },
                    {
                        "mData": null,
                        orderable: false,
                        "mRender": function (data, type, row) {
                            const href = "{% url 'user:applicant_update' 12345 %}".replace(/12345/, row.id.toString())
                            return `<a href="${href}" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>`

                        }
                    }
                    /*

                     {
                         "data": "created_date",
                         render: function (data, type, row) {
                             moment.locale('ru');
                             return `<span title='${moment(data).format('LLL')}'>${moment(data).fromNow()}</span>`
                         }
                     },
                     {
                         "data": "process",
                         render: function (data, type, row) {
                             if (row.process === 7) {
                                 return '<span class="badge label-table bg-warning">Ariza yaratilmoqda</span>'
                             } else if (row.process === 0) {
                                 return '<span class="badge label-table bg-warning">Ariza yaratilgan</span>'
                             } else if (row.process === 1) {
                                 return '<span class="badge label-table bg-info">YXHBga jo\'natilgan</span>'
                             } else if (row.process === 2) {
                                 return '<span class="badge label-table bg-info">Ko\'rib chiqilyapti</span>'
                             } else if (row.process === 3) {
                                 return '<span class="badge label-table bg-warning">To\'lov kutilmoqda</span>'
                             } else if (row.process === 4) {
                                 return '<span class="badge label-table bg-warning">Hujjatlarning asl nusxalari kutilmoqda</span>'
                             } else if (row.process === 5) {
                                 return '<span class="badge label-table bg-success">Muvaffaqiyatli yakunlangan</span>'
                             } else if (row.process === 6) {
                                 return '<span class="badge label-table bg-danger">Rad etilgan</span>'
                             }

                         }

                     },
                     {"data": "id"}, */
                ]
            })
        })
    </script>
{% endblock js %}
