{% load static i18n %}
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="add_user_modal" data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="#" id="add_user_form">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_user_modalLabel">Yangi arizachi ro'yhatga olish oynasi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">

                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="phone">{% trans "Tel raqam/Login" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9 phone_div">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">+998</div>
                                </div>
                                <input type="text" id="phone" name="phone"
                                       class="form-control" required
                                       autocomplete="off">

                            </div>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="last_name">{% trans "Familiya" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="text" id="last_name" name="last_name"
                                   class="form-control" required

                                   placeholder="{% trans 'Masalan: Yoqubov' %}"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="first_name">{% trans "Ism" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="text" id="first_name" name="first_name"
                                   class="form-control" required

                                   placeholder="{% trans 'Masalan: Sirojiddin' %}"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="middle_name">{% trans "Otasining ismi" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="text" id="middle_name" name="middle_name"
                                   class="form-control" required
                                   placeholder="{% trans 'Masalan: Tojiddinovich' %}"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="birthday">{% trans "Tug'ilgan vaqt" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="date" id="birthday" name="birthday"
                                   class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="region">{% trans "Viloyat" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9 region">
                            <select name="region" class="form-control" id="region"
                                    required>
                                <option value="">--Viloyatni tanlang--</option>
                                {% for reg in regions %}
                                    <option {% if reg == region %}selected{% endif %}
                                            value="{{ reg.id }}">{{ reg.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="district">{% trans "Tuman/Shahar" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9 district">
                            <select name="district" class="form-select select2" id="district"
                                    required>

                                <option value="">{% trans '--Tumanni tanlang--' %}</option>

                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="quarter">{% trans "Mahalla" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9 quarter">
                            <select name="quarter" class="form-select select2" id="quarter"
                                    required>

                                <option value="">{% trans '--Mahallani tanlang--' %}</option>

                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="address">{% trans "Ko'cha/Qishloq" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="text" id="address" name="address"
                                   class="form-control" required
                                   placeholder="{% blocktrans %}Masalan: M.Iqbol ko'chasi 76-uy{% endblocktrans %}"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="passport_seriya">{% trans "Passport seriya" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="text" id="passport_seriya" name="passport_seriya"
                                   class="form-control text-uppercase" required
                                   placeholder="{% blocktrans %}Masalan: AA{% endblocktrans %}"
                                   autocomplete="off">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="passport_number">{% trans "Passport raqam" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="number" id="passport_number" name="passport_number"
                                   class="form-control" required
                                   placeholder="{% blocktrans %}Masalan: 3870293{% endblocktrans %}"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="issue_by_whom">{% trans "Kim tomonidan berilgan" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="text" id="issue_by_whom" name="issue_by_whom"
                                   class="form-control text-uppercase" required
                                   placeholder="{% blocktrans %}Masalan: BUXORO SHAHAR IIB{% endblocktrans %}"
                                   autocomplete="off">
                        </div>
                    </div>
                    <input type="hidden" value="{{ request.user.id }}" name="created_by">

                </div>

                <div class="modal-footer">
                    <button type="button" id="cancel_confirm" class="btn btn-secondary" data-bs-dismiss="modal">
                        Bekor qilish
                    </button>
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                </div>
            </form>
        </div>
    </div>
</div>