{% load i18n static %}
<div id="legal_div" style="display: none">

    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
               for="title">{% trans "Tashkilot nomi" %}<span
                class="text-danger">*</span></label>
        <div class="col-8 col-xl-9">
            <input type="text" id="title"
                   class="form-control" required
                   placeholder='Masalan: "BUXORO RAVON AVTOMAKTAB" MCHJ'
                   autocomplete="off">
        </div>
    </div>
    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
               for="director">{% trans "Rahbari" %}<span
                class="text-danger">*</span></label>
        <div class="col-8 col-xl-9">
            <input type="text" id="director"
                   class="form-control" required
                   placeholder="Masalan: Sirojiddin Yoqubov"
                   autocomplete="off">
        </div>
    </div>
    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
               for="identification_number">{% trans "STIR raqam" %}<span
                class="text-danger">*</span></label>
        <div class="col-8 col-xl-9">
            <input type="number" id="identification_number"
                   class="form-control" required
                   placeholder='Masalan: 305897526'
                   autocomplete="off">
        </div>
    </div>
    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
               for="legal_address_region">{% trans 'Yuridik manzili(Viloyat)' %}<span
                class="text-danger">*</span></label>
        <div class="col-8 col-xl-9 legal_address_region">
            <select id="legal_address_region" required
                    class="form-control select2">
                <option value="">--Viloyatni tanlang--</option>
                {% for region in regions %}
                    <option value="{{ region.id }}">{{ region.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
               for="legal_address_district">{% trans 'Yuridik manzili(Tuman)' %}<span
                class="text-danger">*</span></label>
        <div class="col-8 col-xl-9 legal_address_district">
            <select id="legal_address_district" required
                    class="form-control select2"
                    data-width="100%">
                <option value="">--Tumanni tanlang--</option>

            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
               for="address_of_garage">{% trans "Garaj manzili" %}<span
                class="text-danger">*</span></label>
        <div class="col-8 col-xl-9">
            <input type="text" id="address_of_garage"
                   class="form-control" required
                   placeholder="Masalan: Buxoro shahri Suvchilar ko'chasi 24/3"
                   autocomplete="off">
        </div>
    </div>
    <div class="justify-content-end row">
        <div class="col-12">
            <button type="button"
                    class="btn btn-secondary waves-effect waves-light float-start prev">
                Oldingi
            </button>
            <button type="submit"
                    class="btn btn-info waves-effect waves-light float-end next">Keyingi
            </button>
        </div>
    </div>
</div>

{% block js %}
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $organizationForm = $('#organization_form');
            console.log($organizationForm)
            if ($organizationForm.length) {

                var organizationButton = $organizationForm.children('#legal_div').find('button:submit')

                $organizationForm.validate({
                    {#ignore: ":hidden:not('#fuel_types')",#}

                    rules: {
                        //username is the name of the textbox
                        title: {
                            required: true,
                        },
                        director: {
                            required: true,
                        },
                        identification_number: {
                            required: true,
                            alphanumeric: true,
                            noSpace: true,
                        },
                        legal_address_region: {
                            required: true,
                        },
                        legal_address_district: {
                            required: true,
                        },
                        address_of_garage: {
                            required: true,
                        },


                    },
                    messages: {
                        title: {
                            //error message for the required field
                            required: 'Tashkilot nomi kiritilmagan!'
                        },
                        director: {
                            required: 'Rahbar kiritilmagan!'
                        },
                        identification_number: {
                            required: 'STIR raqam kiritilmagan!'
                        },
                        legal_address_region: {
                            required: "Yuridik manzil(Viloyat) tanlanmagan!",
                        },
                        legal_address_district: {
                            required: "Yuridik manzil(Tuman) tanlanmagan!",
                        },
                        address_of_garage: {
                            required: "Garaj manzili kiritilmagan!",
                        },


                    },
                    errorPlacement: function (error, element) {
                        if (element.is("#legal_address_region")) {
                            error.appendTo(element.parents('.legal_address_region'));
                        } else if (element.is("#legal_address_district")) {
                            error.appendTo(element.parents('.legal_address_district'));
                        } else {
                            error.insertAfter(element);
                        }

                    },


                    submitHandler: function (form, e) {
                        e.preventDefault()
                        organizationButton.attr('disabled', true)
                        var organizationButtonValue = organizationButton.text()
                        organizationButton.html(`${organizationButtonValue}&nbsp<i class="fas fa-spinner fa-spin"></i>`)
                        $.ajax({
                            type: "POST",
                            url: "{% url 'user:add_organization' %}",
                            data: $(form).serialize(),

                            success: function (response) {
                                console.log(response)
                                if (typeof response === 'object') {
                                    organizationButton.parents('fieldset').hide()
                                    organizationButton.parents('fieldset').next('fieldset').show()
                                    console.log(response['pk'])
                                    $('input[name ="organization"]').val(response['pk'])

                                    $('#document_step').addClass('active')
                                    $('#person_step').removeClass('active')
                                    organizationButton.prop('type', 'button')
                                } else {
                                    errorFunction()
                                    organizationButton.attr('disabled', false)
                                    organizationButton.html(organizationButtonValue)
                                }
                            }

                        });
                        return false; // required to block normal submit since you used ajax
                    }
                });


            }
        })
    </script>
{% endblock js %}