{% load static i18n %}

<fieldset id="applicant_fieldset" v-if="isShowApplicantFieldset">
    <legend>Arizachi</legend>
    <form>
        <div class="row mb-3">
            <label for="person" class="col-form-label not_copy text-start label_required">Arizachini tanlang</label>
            <div class="col-12">
                <div class="input-group mb-3">
                    <v-select
                            v-model="applicant"
                            :options="applicants"
                            label="title"
                            placeholder="Arizachi nomini qidiring . . . "
                            class="form-control"
                            :class="{'v-error': $v.applicant.$error}"
                            :disabled="applicantIsComplete"
                            ref="applicant"
                    >
                        <span slot="no-options">Siz izlayotgan arizachi topilmadi! <a href="#"
                                                                                      @click="addApplicantDialog = true">yangi arizachi qo'shish</a></span>
                    </v-select>
                    <div v-if="!applicantIsComplete" class="input-group-append" @click="addApplicantDialog = true">
                        <span class="input-group-text" style="height: 32px !important;">
                            <i class="fas fa-plus"></i>
                        </span>
                    </div>
                    <div
                            v-if="$v.applicant.$dirty && !$v.applicant.required"
                            class="text-danger w-100" style="text-align: start">
                        Arizachi tanlanmagan!
                    </div>
                </div>
            </div>
        </div>
        <div id="physical_div">
            <div class="row mb-3">
                <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                       for="last_name">{% trans "Familiya" %}</label>
                <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <input type="text" :value="applicant.last_name"
                           class="form-control" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                       for="first_name">{% trans "Ism" %}</label>
                <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <input type="text" :value="applicant.first_name"
                           class="form-control" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                       for="middle_name">{% trans "Otasining ismi" %}</label>
                <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <input type="text" :value="applicant.middle_name"
                           class="form-control" disabled>
                </div>
            </div>
            <div class="row mb-3" v-if="applicant.region">
                <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                       for="region">{% trans "Viloyat" %}</label>

                <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8 region">
                    <input class="form-control" type="text" :value="applicant.region.title" disabled>
                </div>
            </div>
            <div class="row mb-3" v-if="applicant.district">
                <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                       for="district">{% trans "Tuman/Shahar" %}</label>
                <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8 district">
                    <input class="form-control" type="text" :value="applicant.district.title" disabled>
                </div>
            </div>
            <div class="row mb-3" v-if="applicant.quarter">
                <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                       for="quarter">{% trans "Mahalla" %}</label>
                <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8 quarter">
                    <input class="form-control" type="text" :value="applicant.quarter.title" disabled>
                </div>
            </div>


            <div class="justify-content-end row">
                <div class="col-12">
                    <button
                            @click="applicantIsComplete ? changeFieldset('isShowPersonTypeFieldset', 'isShowApplicantFieldset') : sendApplicantForm()"
                            class="btn btn-info waves-effect waves-light float-end next"
                            type="button"
                    >Keyingi
                    </button>
                </div>
            </div>
        </div>
    </form>
</fieldset>



{% block modals %}
    {% include 'modals/add_applicant_modal.html' %}
    {% include 'modals/sms_verification_modal_vue.html' %}
{% endblock modals %}