{% load i18n static %}

<fieldset id="document_fieldset" v-if="isShowDocumentFieldset">
    <legend>{% trans "Notarius ma'lumotlari" %}</legend>
    <form @keypress.enter.prevent="!documentFormIsComplete ? sendDocumentForm() : ''">
        <div class="alert-danger text-center"><p><b style="color: red; font-size: large">*</b> ushbu belgi qo'yilgan
            maydonlarni to'ldirish majburiy.</p>
        </div>

        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="seriya">
                {% blocktrans with service_title=service.short_title %}{{ service_title }} seriyasi va
                    raqami{% endblocktrans %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <input type="text"
                       id="seriya"
                       name="seriya"
                       v-model="documentForm.seriya"
                       class="form-control text-uppercase"
                       :class="$v.documentForm.seriya.$error  ? 'is-invalid' : ''"
                       placeholder="{% trans 'Masalan: ASH 1234567 TN' %}"
                       :disabled="documentFormIsComplete"
                       autocomplete="off">
                <div v-if="$v.documentForm.seriya.$dirty && !$v.documentForm.seriya.required"
                     class="invalid-feedback" style="text-align: start">
                    Seriya kirilmagan!
                </div>
                <div v-if="$v.documentForm.seriya.$dirty && !$v.documentForm.seriya.minLength"
                     class="invalid-feedback" style="text-align: start">
                    Seriya kamida 5 ta harf yoki raqamdan iborat bo'lishi kerak!
                </div>
                <div v-if="$v.documentForm.seriya.$dirty && !$v.documentForm.seriya.maxLength"
                     class="invalid-feedback" style="text-align: start">
                    Seriya ko'pi bilan 50 ta harf yoki raqamdan iborat bo'lishi mumkin!
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="contract_date">{% trans "Shartnoma tuzilgan sana" %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <input
                        type="date"
                        id="contract_date"
                        name="contract_date"
                        v-model="documentForm.contract_date"
                        :class="$v.documentForm.contract_date.$error  ? 'is-invalid' : ''"
                        class="form-control"
                        :disabled="documentFormIsComplete"
                >
                <div v-if="$v.documentForm.contract_date.$dirty && !$v.documentForm.contract_date.required"
                     class="invalid-feedback" style="text-align: start">
                    Sana kirilmagan!
                </div>
                <div v-if="$v.documentForm.contract_date.$dirty && $v.documentForm.contract_date.required && !$v.documentForm.contract_date.dateValidator"
                     class="invalid-feedback" style="text-align: start">
                    Sana noto'g'ri kiritilgan!
                </div>
            </div>
        </div>
        <div class="justify-content-end row">
            <div class="col-12">
                <button type="button"
                        @click="()=>{isShowPersonTypeFieldset = true; isShowDocumentFieldset = false}"
                        class="btn btn-secondary waves-effect waves-light float-start"
                >Oldingi
                </button>
                <button
                        type="button"
                        class="btn btn-info waves-effect waves-light float-end"
                        @click="documentFormIsComplete ? changeFieldset('isShowCarFieldset','isShowDocumentFieldset') : sendDocumentForm()"
                >Keyingi
                </button>
            </div>
        </div>
    </form>
</fieldset>