{% load static i18n %}

<fieldset id="person_type_fieldset" style="display: none">
    <legend>Shaxs turi</legend>
    <form action="#" id="account_form" method="POST">
        {% csrf_token %}
        <div id="account_div">
            <div class="row mb-3">
                <label class="col-form-label not_copy text-start">Arizachi shaxsini tanlang<span
                        class="text-danger">*</span></label>
                <div class="col-12">
                    <select class="form-select" style="width: 100%;" id="person_type" name="person_type"
                            required>
                        <option value="0">Jismoniy shaxs</option>
                        <option value="1">Yuridik shaxs</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label not_copy text-start">Arizachi<span
                        class="text-danger">*</span></label>
                <div class="col-12">
                    <input type="text" id="applicant_x" readonly class="form-control">
                </div>
            </div>
            <div id="legal_div" style="display: none">
                <div class="row mb-3">
                    <label for="organization" class="col-form-label not_copy text-start">Ariza ushbu maydonda tanlangan
                        tashkilot nomidan jo'natiladi<span
                                class="text-danger">*</span></label>
                    <div class="col-12">
                        <select id="organization" class="form-select">
                            <option></option>
                            <option value="new" data-style="color: blue">Yangi tashkilot qo'shish</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="justify-content-end row">
                <div class="col-12">
                    <button type="button"
                            class="btn btn-secondary waves-effect waves-light float-start prev">
                        Oldingi
                    </button>
                    <button type="button"
                            class="btn btn-info waves-effect waves-light float-end next">Keyingi
                    </button>
                </div>
            </div>

        </div>
    </form>
</fieldset>

{% block modals %}
    {% include 'modals/add_organization_modal.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var countdown,
                personForm
            sendAuthorizationToken()

            $('#person_type_fieldset').bind('beforeShow', function () {
                $('#applicant_x').val($('#person option:selected').text())
            })

            $(document).on('change', '#person_type', function (e) {
                var selectedPersonType = $(this).children("option:selected").val();
                $('input[name ="person_type"]').val(selectedPersonType)

                if (selectedPersonType === '1') {
                    $('#title').attr('name', 'title')
                    $('#director').attr('name', 'director')
                    $('#identification_number').attr('name', 'identification_number')
                    $('#legal_address_region').attr('name', 'legal_address_region')
                    $('#legal_address_district').attr('name', 'legal_address_district')
                    $('#address_of_garage').attr('name', 'address_of_garage')

                    var applicantId = $('#person option:selected').val()
                    getAjaxData('{% url "api_app_creator:user_organizations_list" pk=12345 %}'.replace(/12345/, applicantId.toString())).then(function (res) {
                        console.log(res)
                        res.forEach((x, i) =>
                            $("#organization").select2({
                                data: [{id: x.id, text: `${x.title}`}],
                                width: '100%',
                                placeholder: '-- tashkilotni tanlang --',
                                templateResult: formatState,
                                escapeMarkup: function (markup) {
                                    return markup;
                                },
                                language: {
                                    noResults: function () {
                                        return "Ma'lumot topilmadi! <a href='#' id='add_new_organization'>Yangi tashkilot qo'shish</a>";
                                    }
                                },

                            }).on('select2:close', function () {
                                var el = $(this);
                                if (el.val() === "new") {
                                    $('#add_organization_modal').modal('show')
                                    $('#organization').select2('close')
                                }
                            })
                        );
                    })

                    $('#legal_div').show()


                } else if (selectedPersonType === '0') {
                    $('#title').removeAttr('name')
                    $('#director').removeAttr('name')
                    $('#identification_number').removeAttr('name')
                    $('#legal_address_region').removeAttr('name')
                    $('#legal_address_district').removeAttr('name')
                    $('#address_of_garage').removeAttr('name')

                    $('#legal_div').hide()

                }
            });
        })
    </script>

{% endblock js %}