{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block top %}
    <link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
{% endblock top %}
{% block content %}
    <section class="py-3 mt-2 bg-info text-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2>{% trans "Arizalar" %}</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid mt-3">
        <div class="row">
            <!-- left column -->
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-10 mb-1">
                {% include '_parts/messages.html' %}

                <div class="table-responsive"
                     style="border: 1px solid #dbdada; border-radius: 3px; padding: 2% 2% 2% 2%;">
                    <table id="example1" class="table table-bordered table-hover dataTable">
                        <thead class="thead-light" style="font-size: smaller">
                        <tr>

                            <th scope="col">Ariza raqami</th>
                            <th scope="col">Xizmat nomi</th>
                            <th scope="col">Hujjat</th>
                            <th scope="col">Avtomobil</th>
                            <th scope="col">Texnik ko'rik</th>
                            <th scope="col">To'lov</th>
                            <th scope="col">Topshirdi</th>
                            <th scope="col">Yaratilgan vaqti</th>
                            <th scope="col">Ariza nusxasi</th>
                            <th scope="col" style="width: 6rem">Holati</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for application in applications %}

                            <tr>

                                <th scope="row" class="text-center">{{ application.id }}</th>
                                <td>
                                    <a href="{% url 'application:application_detail' application.id %}">{{ application.service.get_title_display }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'application:view_application_service_data' application.service.id %}">{{ application.service.seriya }}</a>
                                </td>
                                <td class="text-center"><a
                                        href="{% url 'user:view_car_data' application.service.car.id %}">{{ application.service.car.model }}</a>
                                </td>
                                <td class="text-center">{% if application.service.car.is_confirm %}
                                    <i style="color: green" class="far fa-check-circle"></i>{% else %}
                                    <i style="color: red" class="far fa-times-circle"></i>{% endif %}</td>
                                <td class="text-center">{% if application.is_payment %}
                                    <i style="color: green" class="far fa-check-circle"></i>{% else %}
                                    <i style="color: red" class="far fa-times-circle"></i>{% endif %}</td>
                                <td>{% if application.service.organization %}
                                    {{ application.service.organization }}{% else %}
                                    {{ application.service.created_user }}{% endif %}</td>

                                <td>{{ application.created_date|date:'SHORT_DATETIME_FORMAT' }}</td>
                                <td class="text-center">
                                    <a class="btn btn-outline-primary"
                                       href="{% url 'application:create_application_doc' application.file_name %}"><i
                                            class="fas fa-download"></i></a>
                                </td>
                                <td>
                                    <select name="process_select" class="form-control change_process"
                                            data-id="{{ application.id }}" style="font-size: smaller">
                                        <option {% if application.process == '1' %}selected{% endif %} value="process">
                                            Jarayonda
                                        </option>
                                        <option {% if application.process == '2' %}selected{% endif %} value="confirm">
                                            Qabul qilish
                                        </option>
                                        <option {% if application.process == '3' %}selected{% endif %} value="pass">Rad
                                            etish
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>


                        <tfoot>

                        </tfoot>
                    </table>
                </div>

            </div>
            <!--/.col (left) -->
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                {% include 'application/right_filter_applications.html' %}
            </div>
        </div>


        <!-- /.row -->
    </div>
{% endblock content %}
{% block bottom %}
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
        $(document).ready(function () {
            var token = getCookie('token'),
                csrftoken = getCookie('csrftoken')

            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', csrftoken)
                    xhr.setRequestHeader('Authorization', `Token ${token}`)
                },
                error: function (response) {
                    if (response.status === 401) {
                        $.notifyDefaults({
                            type: 'danger',
                            allow_dismiss: false,
                            animate: {
                                enter: 'animated fadeInRight',
                                exit: 'animated fadeOutRight'
                            },
                            z_index: '9999'
                        })
                        $.notify({
                            icon: 'glyphicon glyphicon-star',
                            message: '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                                '  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>\n' +
                                '  <path fill-rule="evenodd" d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>\n' +
                                '</svg> Xatolik yuz berdi! Token yaroqsiz!'
                        })
                        setTimeout(function () {
                            window.location.href = '{% url "user:custom_logout" %}'
                        }, 3000);
                    }
                }
            })

            $('.change_process').on('change', function () {
                var applicationId = $(this).data('id'),
                    SelectedProcess = $(this).children('option:selected').val()


                $(".change_process").each(function () {

                    if ($(this).data('id') === applicationId) {
                        var url = "{% url 'application:confirm_application_data' %}"

                        if (SelectedProcess === 'confirm') {
                            swal({
                                title: "Berilayotgan DRB",
                                {#text: "Siz haqiqatdan ham guruhini o'chirmoqchimisiz ?",#}
                                {#icon: "warning",#}
                                closeOnClickOutside: false,

                                className: "",
                                buttons: [
                                    'Bekor qilish',
                                    'Saqlash'
                                ],
                                dangerMode: false,
                                content: {
                                    element: "input",
                                    attributes: {
                                        placeholder: "Masalan: 80979HBA",
                                        type: "text",
                                    },
                                },
                            }).then(function (given_number_val) {
                                if (given_number_val) {
                                    if (given_number_val !== '') {
                                        swal({
                                            title: "Berilayotgan qayd etish guvohnomasi",
                                            {#text: "Siz haqiqatdan ham guruhini o'chirmoqchimisiz ?",#}
                                            {#icon: "warning",#}
                                            closeOnClickOutside: false,
                                            className: "",
                                            buttons: [
                                                'Bekor qilish',
                                                'Saqlash'
                                            ],
                                            dangerMode: false,
                                            content: {
                                                element: "input",
                                                attributes: {
                                                    placeholder: "Masalan: AAC112345785",
                                                    type: "text",
                                                },
                                            },
                                        }).then(function (technical_passport_val) {
                                            if (technical_passport_val) {
                                                if (technical_passport_val !== '') {
                                                    swal({
                                                        title: "Qayd etish guvohnomasini topshirish kunini kiriting!",
                                                        {#text: "Siz haqiqatdan ham guruhini o'chirmoqchimisiz ?",#}
                                                        {#icon: "warning",#}
                                                        closeOnClickOutside: false,
                                                        className: "",
                                                        buttons: [
                                                            'Bekor qilish',
                                                            'Saqlash'
                                                        ],
                                                        dangerMode: false,
                                                        content: {
                                                            element: "input",
                                                            attributes: {
                                                                {#placeholder: "Masalan: AAC112345785",#}
                                                                type: "date",
                                                            },
                                                        },
                                                    }).then(function (given_date) {
                                                        if (given_date) {
                                                            swal({
                                                                title: "Qayd etish guvohnomasini topshirish vaqtini kiriting!",
                                                                {#text: "Siz haqiqatdan ham guruhini o'chirmoqchimisiz ?",#}
                                                                {#icon: "warning",#}
                                                                closeOnClickOutside: false,
                                                                className: "",
                                                                buttons: [
                                                                    'Bekor qilish',
                                                                    'Saqlash'
                                                                ],
                                                                dangerMode: false,
                                                                content: {
                                                                    element: "input",
                                                                    attributes: {
                                                                        placeholder: "Masalan: 15:30",
                                                                        type: "text",
                                                                    },
                                                                },

                                                            }).then(function (given_time) {
                                                                if (given_time) {
                                                                    $.ajax({
                                                                        type: "POST",
                                                                        url: url,
                                                                        data: {
                                                                            'application': applicationId,
                                                                            'given_number': given_number_val,
                                                                            'technical_passport': technical_passport_val,
                                                                            'confirm': 'True',
                                                                            'given_date': given_date,
                                                                            'given_time': given_time

                                                                        },
                                                                        success: function (response) {
                                                                            if (response === 'True') {
                                                                                $.notifyDefaults({
                                                                                    type: 'success',
                                                                                    allow_dismiss: false,
                                                                                    animate: {
                                                                                        enter: 'animated fadeInRight',
                                                                                        exit: 'animated fadeOutRight',
                                                                                    },
                                                                                    z_index: '9999'
                                                                                });
                                                                                $.notify({
                                                                                    icon: 'glyphicon glyphicon-star',
                                                                                    message: '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                                                                                        '<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\n' +
                                                                                        '<path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>\n' +
                                                                                        '</svg> Muvaffaqiyatli tasdiqlandi!'
                                                                                });
                                                                            } else {
                                                                                errorFunction()
                                                                            }
                                                                        },
                                                                        error: function (response) {
                                                                            console.log(response.status)
                                                                            errorFunction()
                                                                        }
                                                                    })
                                                                }
                                                            })


                                                        }

                                                    })


                                                } else {

                                                    errorFunction()
                                                }
                                            }

                                        })
                                    } else {

                                        errorFunction()
                                    }
                                }

                            })
                        } else {

                            swal({
                                title: "Jarayon yoki rad etish sababini kiriting",
                                {#text: "Siz haqiqatdan ham guruhini o'chirmoqchimisiz ?",#}
                                {#icon: "warning",#}
                                closeOnClickOutside: false,
                                className: "",
                                buttons: [
                                    'Bekor qilish',
                                    'Saqlash'
                                ],
                                dangerMode: false,
                                content: {
                                    element: "input",
                                    attributes: {
                                        placeholder: "Masalan: Kiritilgan ma'lumotlarda xato va kamchiliklar mavjud",
                                        type: "text",
                                    },
                                },
                            }).then(function (process_sms) {
                                if (process_sms) {
                                    $.ajax({
                                        type: "POST",
                                        url: url,
                                        data: {
                                            'application': applicationId,
                                            'confirm': SelectedProcess,
                                            'process_sms': process_sms
                                        },
                                        success: function (response) {
                                            if (response === 'True') {
                                                $.notifyDefaults({
                                                    type: 'success',
                                                    allow_dismiss: false,
                                                    animate: {
                                                        enter: 'animated fadeInRight',
                                                        exit: 'animated fadeOutRight',
                                                    },
                                                    z_index: '9999'
                                                });
                                                $.notify({
                                                    icon: 'glyphicon glyphicon-star',
                                                    message: '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                                                        '<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\n' +
                                                        '<path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>\n' +
                                                        '</svg> Tasdiq muvaffaqiyatli bekor qilindi!'
                                                });

                                            } else {

                                                errorFunction()
                                            }
                                        },
                                        error: function (response) {
                                            console.log(response.status)
                                            errorFunction()
                                        }
                                    })
                                }
                            })


                        }
                    }


                })

            })


        })

    </script>
{% endblock bottom %}