<table class="table table-bordered table-striped">
    <tbody>
    <tr>
        <th scope="row">Status:</th>
        <td><button class="btn btn-success">Arizani {{ application.section.title }}ga jo'natish</button></td>
    </tr>
    <tr>
        <th scope="row">Ariza raqami:</th>
        <td>{{ application.id }}</td>
    </tr>
    <tr>
        <th scope="row">Tekshirish uchun parol:</th>
        <td class="text-danger">{{ application.password }}</td>
    </tr>
    <tr>
        <th scope="row">Xizmat nomi:</th>
        <td>
            {% if request.user.is_authenticated %}
                <p>{{ application.service.long_title }}</p>
            {% else %}
                <p>{{ application.service.long_title }}</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Ariza jo'natilgan YXHB RIB bo'limi:</th>
        <td>
            <p>{{ application.section.region.title }}: {{ application.section.title }}</p>
        </td>
    </tr>
    {% if application.seriya %}
        <tr>
            <th scope="row">Xizmat turi seriyasi va raqami:</th>
            <td>
                <p>{{ application.seriya }}</p>
            </td>
        </tr>
        <tr>
            <th scope="row">Shartnoma tuzilgan sana:</th>
            <td>
                <p>{{ application.contract_date|date:"SHORT_DATE_FORMAT" }}</p>
            </td>
        </tr>
    {% endif %}
    <tr>
        <th scope="row">Yaratdi:</th>
        <td>{{ application.created_user }}</td>
    </tr>

    <tr>
        <th scope="row">Ariza nusxasi</th>
        <td>
            <a href="{% url 'application:create_application_doc' application.file_name %}">Yuklab
                olish</a>
        </td>
    </tr>

    <tr>
        <th scope="row">Ariza haqida ma'lumot</th>
        <td><a style="cursor: pointer; color: #007bff"
               class="application_render_pdf"
               data-application="{{ application.id }}">Yuklab olish</a>
        </td>
    </tr>

    <tr>
        <th scope="row">Berilgan sana:</th>
        <td>{{ application.created_date|date:'SHORT_DATETIME_FORMAT' }}</td>
    </tr>
    </tbody>
</table>