<table class="table table-bordered">
    <thead class="thead-light">
    <tr>
        <th scope="col">Holat</th>
        <th scope="col">Sababi</th>
        {% if application.given_date and application.given_time %}
            <th scope="col">Hujjatlarni qabul qilib olish sanasi</th>
            <th scope="col">Hujjatlarni qabul qilib olish vaqti</th>
        {% endif %}
        {% if application.canceled_date %}
            <th scope="col">Hujjatlar rad etilgan vaqt</th>
        {% endif %}


    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" style="color: #0f6674">{{ application.get_process_display }}</th>
        <th style="color: #0f6674">{{ application.process_sms }}</th>
        {% if application.given_date and application.given_time %}
            <th style="color: #0f6674">{{ application.given_date }}</th>
            <th style="color: #0f6674">{{ application.given_time }}</th>
        {% endif %}
    {% if application.canceled_date %}
            <th style="color: #0f6674">{{ application.canceled_date }}</th>
        {% endif %}
    </tr>
    </tbody>
</table>