{% load humanize static %}
{% load applications_tags %}
<div id="render_div">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Davlat boji nomi</th>
                <th scope="col">Sababi</th>
                <th scope="col">Hisob raqam</th>
                <th scope="col">To'lov miqdori</th>
                <th scope="col" style="width: 7%">Holati</th>
            </tr>
            </thead>
            <tbody>

            {% for percent in percents %}
                {% if percent.payment != 0 %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <th scope="row">{{ percent.get_state_duty_display }}</th>
                        <th scope="row">{{ percent.title }}</th>
                        <td>
                            <b>{% get_payment_score application.id percent.id as state_duty_score %} {{ state_duty_score.score|safe }}</b>
                        </td>
                        <td><b class="state_payment">
                            {% get_state_duty_payment percent.id application.id as pay %}{{ pay|intcomma }}</b> so'm
                        </td>
                        <td>
                            {% if not percent.state_duty == 7 %}

                                {% if application.section.pay_for_treasury %}
                                    {% check_state_payment_paid application percent as check %}
                                    {% if state_duty_score.state_duty %}
                                        {% if not check %}
                                            <button class="btn btn-danger create_pay"
                                                    data-percent-id="{{ percent.id }}"><i
                                                    class="fa fa-money-bill-wave-alt"></i> To'lash
                                            </button>
                                        {% else %}
                                            {% check_memorial application percent as memorial %}
                                            {% if not memorial %}
                                                <b class="text-primary text-center">Bankka jo'natilgan</b>
                                            {% else %}
                                                <a href="{{ memorial.memorial }}" class="btn btn-success text-bold"
                                                   download="download"> <i class="fa fa-file-download"></i> Kvitansiya
                                                    yuklab
                                                    olish</a>
                                            {% endif %}

                                        {% endif %}
                                    {% else %}
                                        <b class="text-danger text-center">-</b>

                                    {% endif %}
                                {% else %}
                                    <b class="text-danger text-center">Ushbu YHXB onlayn kvitansiyani qabul qilmaydi</b>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
            <tfoot style="background: lightgray">
            <tr>
                <th></th>
                <th>Jami</th>
                <th></th>
                <th></th>
                <th><b id="total_state_payments"></b> so'm</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <div style="margin: 20px; font-size: medium">
            <p><b style="font-size: large">O'zbekiston Respublikasi Markaziy banki Toshkent shahar
                bosh boshqarmasi XKKM</b></p>
            <p>Hisob raqam: <b style="color: blue">23402000300100001010</b></p>
            <p>MFO: <b style="color: blue">00014</b></p>
            <p>INN: <b style="color: blue">201122919</b></p>
        </div>
    </div>
</div>
<hr>
<p>Ushbu summa to'g'riligini YHXB RO' va IOB xodimlariga tekshirtiring. Kam yoki ko'p o'tgan to'lov uchun E-RIB
    ma'muriyati javobgar emas.</p>
<div class="justify-content-end row" data-html2canvas-ignore="true">
    <div class="col-12">
        {% if not application.is_payment %}
            {#        {% if not application.organization %}#}
            {#            <button type="button"#}
            {#                    class="btn btn-info waves-effect waves-light float-start">To'lov qilish &nbsp&nbsp&nbsp<i#}
            {#                    class="fas fa-long-arrow-alt-right"></i>#}
            {#            </button>#}
            {#        {% endif %}#}

            {#            <button type="button"#}
            {#                    class="btn btn-info waves-effect waves-light float-start application-state-duty-payment">Naqd to'lov#}
            {#                qilish &nbsp&nbsp&nbsp<i#}
            {#                        class="fas fa-long-arrow-alt-right"></i>#}
            {#            </button>#}
        {% endif %}
        <button type="button"
                class="btn btn-info waves-effect waves-light float-end payment_render_pdf">To'lovlarni pdf holatda
            chiqarish
        </button>
    </div>
</div>

{% block js %}
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/libs/cryptoJS/cryptoJS.js' %}"></script>

    <script>
        $(document).ready(function () {
            sendAuthorizationToken()
            $('.create_pay').on('click', function () {
                const percentId = $(this).data('percent-id'),
                    applicationId = '{{ application.id }}'

                var encrypted = CryptoJS.AES.encrypt(`percentId=${percentId}&applicationId=${applicationId}`, "password")
                window.location.href = `{% url 'user:create_card_pay' %}?token=${encrypted}`
            })


        })
    </script>
{% endblock js %}