{% extends 'base_vertical.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load applications_tags %}
{% block css %}
    <style>
        .table-striped > tbody > tr:nth-of-type(odd) {
            --bs-table-accent-bg: #e9eef1;
            color: var(--bs-table-striped-color);
        }

        .accordion-button {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 1rem 1.25rem;
            font-size: .875rem;
            color: #6c757d;
            text-align: left;
            background-color: #dfe2e4;
            border: 0;
            border-radius: 0;
            overflow-anchor: none;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
            border: 1px dashed darkblue;
        }

    </style>

    <!-- Sweet Alert-->
    <link href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block page_title %}
    {% trans 'Amalllar xronologiyasi' %}
{% endblock page_title %}

{% block content %}

    <div class="row">
        {% include '_parts/messages.html' %}
        <div class="col-12 info_area">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                            <h5>Ariza haqida ma'lumot</h5>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                         aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            {% include 'application/inc/about_application_part.html' %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                            <h5>Ariza topshiruvchi</h5>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            {% include 'application/inc/application_submitting_part.html' %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                            <h5>Avtomobil</h5>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            {% include 'application/inc/application_car_part.html' %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseFour">
                            <h5>Mavjud fayllar</h5>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                         aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body">
                            <ul>
                                {% include 'application/inc/application_files_part.html' %}
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFifth">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFifth" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseFifth">
                            <h5>To'lov</h5>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFifth" class="accordion-collapse collapse"
                         aria-labelledby="panelsStayOpen-headingFifth">
                        <div class="accordion-body">
                            <ul>
                                {% include 'application/inc/application_payments_part.html' %}
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseSix">
                            <h5>Ariza holati</h5>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                         aria-labelledby="panelsStayOpen-headingSix">
                        <div class="accordion-body">
                            <ul>
                                {% include 'application/inc/application_status_part.html' %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.min.js"
            integrity="sha512-vDKWohFHe2vkVWXHp3tKvIxxXg0pJxeid5eo+UjdjME3DBFBn2F8yWOE0XmiFcFbXxrEOR1JriWEno5Ckpn15A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'assets/libs/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-notify@3.1.3/bootstrap-notify.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {


            var isBlock = '{{ application.is_block }}'
            var proccess = '{{ application.process }}'
            var activation_pay = '{{ activation_pay }}'
            var user = '{{ request.user }}'
            var application_owner = '{{ application.created_user }}'
            var applicationId = '{{ application.id }}'

            if (user === application_owner) {


                if (proccess === '7' && isBlock === 'True') {
                    Swal.fire({
                        allowOutsideClick: false,
                        showCloseButton: true,
                        showCancelButton: false,
                        showConfirmButton: true,
                        showLoaderOnConfirm: true,
                        confirmButtonText: "To'lov qilish",
                        {#cancelButtonText: 'Bekor qilish',#}
                        icon: 'error',
                        title: 'Ariza aktivlashtirilmagan!',
                        text: `Arizani aktivlashitirish uchun ariza jo'natiladigan YHXB RIB bo'limini va ${activation_pay} so'm to'lovni amalga oshirishingiz talab etiladi!`,
                        {#footer: '<a href="">To\'lovni keyinroq amalga oshiraman</a>'#}
                    }).then(function (confirm) {
                        if (confirm.isConfirmed) {
                            window.location.href = '{% url 'paycom:create_paycom_url_via_order' %}' + `?amount=${activation_pay}&application=${applicationId}`
                        }
                    })
                } else if (proccess === '7') {
                    Swal.fire({
                        allowOutsideClick: false,
                        showCloseButton: true,
                        showCancelButton: false,
                        showConfirmButton: true,
                        showLoaderOnConfirm: true,
                        confirmButtonText: "Arizani tahrirlash",
                        {#cancelButtonText: 'Bekor qilish',#}
                        icon: 'error',
                        title: 'Ariza aktivlashtirilmagan!',
                        text: `Arizani aktivlashitirish uchun ariza jo'natiladigan YHXB RIB bo'limini kitishingiz talab etiladi!`,
                        {#footer: '<a href="">To\'lovni keyinroq amalga oshiraman</a>'#}
                    })
                } else if (isBlock === 'True') {
                    Swal.fire({
                        allowOutsideClick: false,
                        showCloseButton: true,
                        showCancelButton: false,
                        showConfirmButton: true,
                        showLoaderOnConfirm: true,
                        confirmButtonText: "To'lov qilish",
                        {#cancelButtonText: 'Bekor qilish',#}
                        icon: 'error',
                        title: 'Ariza aktivlashtirilmagan!',
                        text: `Arizani aktivlashitirish uchun ${activation_pay} so'm to'lovni amalga oshirishingiz talab etiladi!`,
                        {#footer: '<a href="">To\'lovni keyinroq amalga oshiraman</a>'#}
                    }).then(function (confirm) {
                        if (confirm.isConfirmed) {
                            window.location.href = '{% url 'paycom:create_paycom_url_via_order' %}' + `?amount=${activation_pay}`
                        }
                    })
                }
            }

            $('.application_render_pdf').on('click', function () {
                var applicationId = $(this).data('application')
                window.location.href = "{% url 'application:application_pdf' id=12345 %}".replace(/12345/, applicationId.toString());
            })

            $('#payment_render_pdf').on('click', function () {
                var element = document.getElementById('render_div'),
                    filename = `To'lov`

                html_to_pdf(element, filename)
            })
            calc_total()

            function calc_total() {
                if (!String.prototype.trim) {
                    String.prototype.trim = function () {
                        return this.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, '');
                    };
                }

                var sum = 0;
                $(".state_payment").each(function () {
                    sum += parseFloat($(this).text().replace(/[\s+,.]/g, ''));
                });
                $('#total_state_payments').text(sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " "))
            }

            var token = getCookie('token'),
                csrftoken = getCookie('csrftoken')

            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', csrftoken)
                    xhr.setRequestHeader('Authorization', `Bearer ${token}`)
                },
                error: function (response) {
                    if (response.status === 401) {
                        tokenInvalid()
                    }
                }
            })

            $('.payment_checkbox').on('change', function () {
                let modify
                if ($(this).prop('checked')) {
                    modify = true
                } else {
                    modify = false
                }

                $.ajax({
                    type: 'POST',
                    url: '{% url "application:modify_payment_checkbox" %}',
                    data: {
                        'modify': modify,
                        'payment': $(this).data('payment'),
                    },
                    success: function (res) {
                        if (res === 'True') {
                            edit_toast()
                        } else {
                            errorFunction()
                        }
                    },
                    error: function (err) {
                        errorFunction()
                    }
                })
            })


            $('.application-state-duty-payment').on('click', function () {
                var paymentId = $(this).data('payment')
                const {value: formValues} = Swal.fire({
                    allowOutsideClick: false,
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    },
                    confirmButtonText: 'Saqlash',
                    cancelButtonText: 'Bekor qilish',
                    title: 'Naqd pul to\'lovi',
                    html:
                        '<label style="float: left; margin-bottom: 0" class="label_required" for="add_color">Moderatorning maxfiy raqamini kiriting</label>' +
                        '<input style="margin-top: 4px" id="add_cash" class="form-control">',
                    focusConfirm: false,
                    preConfirm: () => {
                        return [
                            document.getElementById('add_cash').value,
                        ]
                    },
                }).then(function (confirm) {
                    if (confirm.isConfirmed) {
                        var secret_key = confirm.value[0]
                        if (secret_key !== '') {

                            $.ajax({
                                type: 'POST',
                                url: "{% url 'application:application_cash_by_moderator' %}",
                                data: {
                                    secret_key: secret_key,  // moderator secret_key
                                    application: '{{ application.id }}',
                                    type: 1,  // application state duty payment type
                                    payment: paymentId,
                                },
                                statusCode: {
                                    200: function (response) {
                                        setTimeout(function () {
                                            window.location.reload()
                                        }, 3000)
                                        success_toast()

                                    },
                                    404: function (error) {
                                        error_toast()
                                    },
                                    409: function () {
                                        const Toast = Swal.mixin({
                                            toast: true,
                                            position: 'top-end',
                                            background: '#f5d696',
                                            showConfirmButton: false,
                                            timer: 5000,
                                            timerProgressBar: false,
                                            didOpen: (toast) => {
                                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                                            }
                                        })
                                        Toast.fire({
                                            icon: 'warning',
                                            title: `Arizangiz to'lovlari allaqachon amalga oshirilgan!`
                                        })
                                    }
                                },
                            })

                        }


                    } else {
                        error_toast()
                    }


                })
            })

            $('.application-activation-payment').on('click', function () {
                const {value: formValues} = Swal.fire({
                    allowOutsideClick: false,
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    },
                    confirmButtonText: 'Saqlash',
                    cancelButtonText: 'Bekor qilish',
                    title: 'Naqd pul to\'lovi',
                    html:
                        '<label style="float: left; margin-bottom: 0" class="label_required" for="add_color">Moderatorning maxfiy raqamini kiriting</label>' +
                        '<input style="margin-top: 4px" id="add_cash" class="form-control">',
                    focusConfirm: false,
                    preConfirm: () => {
                        return [
                            document.getElementById('add_cash').value,
                        ]
                    },
                }).then(function (confirm) {
                    if (confirm.isConfirmed) {
                        var secret_key = confirm.value[0]
                        if (secret_key !== '') {

                            $.ajax({
                                type: 'POST',
                                url: "{% url 'application:application_cash_by_moderator' %}",
                                data: {
                                    secret_key: secret_key,  // moderator secret_key
                                    application: '{{ application.id }}',
                                    type: 0,  // application state duty payment type
                                },
                                statusCode: {
                                    200: function (response) {
                                        setTimeout(function () {
                                            window.location.reload()
                                        }, 3000)
                                        success_toast()

                                    },
                                    404: function (error) {
                                        error_toast()
                                    },

                                    409: function () {
                                        const Toast = Swal.mixin({
                                            toast: true,
                                            position: 'top-end',
                                            background: '#f5d696',
                                            showConfirmButton: false,
                                            timer: 5000,
                                            timerProgressBar: false,
                                            didOpen: (toast) => {
                                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                                            }
                                        })
                                        Toast.fire({
                                            icon: 'warning',
                                            title: `Arizangiz allaqachon aktivlashtiilgan!`
                                        })
                                    }
                                },
                            })

                        }


                    } else {
                        error_toast()
                    }


                })
            })
        })
    </script>
{% endblock js %}
