{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load applications_tags %}
{% block content %}
    <section class="py-3 mt-2 bg-info text-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2>{% trans "Amallar xronologiyasi" %}</h2>
                </div>
            </div>
        </div>
    </section>


    <div class="text-right mt-2 mb-2 mr-5">
        <button class="btn btn-default m-2 application_render_pdf" data-application="{{ application.id }}">
            Ariza haqida ma'lumot &nbsp&nbsp <i class="fas fa-download"></i>
        </button>
    </div>
    <div class="row">
        <div class="col-12" style="font-size: 0.9em">
            <div class="panel-group drop-accordion" id="accordion" role="tablist"
                 aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading tab-collapsed" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapse-controle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Ariza haqida ma'lumot
                                <span class="expand-icon-wrap"><i style="padding: 0.5em"
                                                                  class="fas fa-angle-double-down"></i></span>
                            </a>

                        </h4>
                    </div>

                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne" aria-expanded="false">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th scope="row">Ariza raqami:</th>
                                    <td>{{ application.id }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Tekshirish uchun parol:</th>
                                    <td class="text-danger">{{ application.password }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Xizmat nomi:</th>
                                    <td>{{ application.service.get_title_display }}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Yaratdi:</th>
                                    <td>{{ application.created_user }}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Ariza nusxasi</th>
                                    <td><a href="{% url 'application:create_application_doc' application.file_name %}">Yuklab
                                        olish</a>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Ariza haqida ma'lumot</th>
                                    <td><a style="cursor: pointer; color: #007bff" class="application_render_pdf"
                                           data-application="{{ application.id }}">Yuklab olish</a>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Berilgan sana:</th>
                                    <td>{{ application.created_date|date:'SHORT_DATETIME_FORMAT' }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading tab-collapsed" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapse-controle collapsed" data-toggle="collapse"
                               data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                               aria-controls="collapseTwo">
                                Ariza topshiruvchi
                                <span class="expand-icon-wrap"><i style="padding: 0.5em"
                                                                  class="fas fa-angle-double-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <table id="created_is_person" class="table table-bordered">
                                <tbody>
                                {% if application.service.organization %}
                                    <tr>
                                        <th scope="row">Tashkilot:</th>
                                        <td>{{ application.service.organization.title }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Rahbari:</th>
                                        <td>{{ application.service.organization.director }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">STIR raqam:</th>
                                        <td>{{ application.service.organization.identification_number }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Yuridik manzil:</th>
                                        <td>{{ application.service.organization.legal_address }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <th scope="row">Familiya:</th>
                                        <td>{{ application.service.created_user.last_name }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Ism:</th>
                                        <td>{{ application.service.created_user.first_name }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Otasining ismi:</th>
                                        <td>{{ application.service.created_user.middle_name }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Passport:</th>
                                        <td>{% if application.service.created_user.passport_seriya %}
                                            {{ application.service.created_user.passport_seriya }}{% endif %}
                                            {% if application.service.created_user.passport_number %}
                                                {{ application.service.created_user.passport_number }}{% endif %}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading tab-collapsed" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapse-controle collapsed" data-toggle="collapse"
                               data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                               aria-controls="collapseThree">
                                Avtomobil
                                <span class="expand-icon-wrap"><i style="padding: 0.5em"
                                                                  class="fas fa-angle-double-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <table id="created_is_person" class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th scope="row">Model:</th>
                                    <td>{% if application.service.car.model %}
                                        {{ application.service.car.model }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Avtmobil turi:</th>
                                    <td>{% if application.service.car.type %}
                                        {{ application.service.car.type }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Kuzov turi:</th>
                                    <td>{% if application.service.car.body_type %}
                                        {{ application.service.car.body_type }}{% endif %}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Yoqilg'i turi:</th>
                                    <td>{% if application.service.car.fuel_type %}
                                        {% for fuel_type in application.service.car.fuel_type.all %}
                                            <button class="disabled btn btn-outline-primary">{{ fuel_type }}</button>
                                        {% endfor %}
                                    {% endif %}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Kuzov raqami:</th>
                                    <td>{% if application.service.car.body_number %}
                                        {{ application.service.car.body_number }}{% endif %}</td>
                                </tr>
                                {% if application.service.car.chassis_number %}
                                    <tr>
                                        <th scope="row">Shassi raqami:</th>
                                        <td>{{ application.service.car.chassis_number }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">Dvigatel raqami:</th>
                                    <td>{% if application.service.car.engine_number %}
                                        {{ application.service.car.engine_number }}{% endif %}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Ishlab chiqarilgan yili:</th>
                                    <td>{% if application.service.car.made_year %}
                                        {{ application.service.car.made_year }}{% endif %}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Rangi:</th>
                                    <td>{% if application.service.car.color %}
                                        {{ application.service.car.color }}{% endif %}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Qo'shimcha jihozlar:</th>
                                    <td>
                                        {% if application.service.car.device %}
                                            {% for device in application.service.car.device.all %}
                                                <button class="disabled btn btn-outline-primary">{{ device }}</button>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">To'la vazni:</th>
                                    <td>{% if application.service.car.full_weight %}
                                        {{ application.service.car.full_weight }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Yuksiz vazni:</th>
                                    <td>{% if application.service.car.empty_weight %}
                                        {{ application.service.car.empty_weight }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Dvigatel quvvati:</th>
                                    <td>{% if application.service.car.engine_power %}
                                        {{ application.service.car.engine_power }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Eski texpassport seriyasi va raqami:</th>
                                    <td>{% if application.service.car.old_technical_passport %}
                                        {{ application.service.car.old_technical_passport }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Texnik passport yo'qolgan:</th>
                                    <td>{% if application.service.car.lost_technical_passport %}Yo'qolgan{% else %}
                                        Yo'qolmagan{% endif %}</td>
                                </tr>
                                {% if application.service.car.is_auction %}
                                    <tr>
                                        <th scope="row">Auksion raqami:</th>
                                        <td>{% if application.service.car.given_number %}
                                            {{ application.service.car.given_number }}{% endif %}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading tab-collapsed" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed collapse-controle" data-toggle="collapse"
                               data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                               aria-controls="collapseFour">
                                Mavjud fayllar
                                <span class="expand-icon-wrap"><i style="padding: 0.5em"
                                                                  class="fas fa-angle-double-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingFour" aria-expanded="false">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Hujjat nomi</th>
                                    <th scope="col">Formati</th>
                                    <th scope="col">Hujjat havolasi</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>1</td>
                                    <th scope="row">Ariza haqida ma'lumot</th>
                                    <td>PDF</td>
                                    <td><a style="cursor: pointer; color: #007bff" class="application_render_pdf"
                                           data-application="{{ application.id }}">Yuklab olish</a></td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <th scope="row">Ariza nusxasi</th>
                                    <td>DOCX</td>
                                    <td><a href="{% url 'application:create_application_doc' application.file_name %}"
                                           target="_blank">Yuklab
                                        olish</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading tab-collapsed" role="tab" id="headingFifth">
                        <h4 class="panel-title">
                            <a class="collapsed collapse-controle" data-toggle="collapse"
                               data-parent="#accordion" href="#collapseFifth" aria-expanded="false"
                               aria-controls="collapseFifth">
                                To'lov
                                <span class="expand-icon-wrap"><i style="padding: 0.5em"
                                                                  class="fas fa-angle-double-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFifth" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingFifth" aria-expanded="false" style="font-size: larger">
                        <div class="panel-body" id="render_div">
                            <div class="row m-1 no-gutters d-flex justify-content-center">
                                <div class="col-md-11">
                                    {{ payments|safe }}
                                </div>

                            </div>
                            <div class="text-right mt-3 mb-3 mr-4" data-html2canvas-ignore="true">
                                {% if not application.service.organization %}
                                    <button class="btn btn-primary col-4 col-md-3 col-sm-3 col-lg-3 col-xl-3 m-2">
                                        To'lov qilish &nbsp&nbsp&nbsp<i class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                {% endif %}
                                <button id="payment_render_pdf"
                                        class="btn btn-secondary col-4 col-md-3 col-sm-3 col-lg-3 col-xl-3 m-2">
                                    To'lovlarni pdf holatda chiqarish &nbsp&nbsp<i
                                        class="fas fa-file-download"></i>
                                </button>
                            </div>


                            {#                                                        <table class="table table-bordered table-responsive">#}
                            {#                                                            <thead class="thead-light">#}
                            {#                                                            <tr>#}
                            {#                                                                <th scope="col">Karta egasi</th>#}
                            {#                                                                <th scope="col">Karta raqami</th>#}
                            {#                                                                <th scope="col" style="width: 4%">Amal qilish muddati</th>#}
                            {#                                                                <th scope="col">Yangi raqam</th>#}
                            {#                                                                <th scope="col">Yangi tex passport</th>#}
                            {#                                                                <th scope="col">Ro'yhatlash</th>#}
                            {#                                                                <th scope="col">Qayta ro'yhatlash</th>#}
                            {#                                                                <th scope="col"><b>Jami</b></th>#}
                            {#                                                            </tr>#}
                            {#                                                            </thead>#}
                            {#                                                            <tbody>#}
                            {#                                                            <tr>#}
                            {#                                                                <th scope="row">Yoqubov Sirojidin</th>#}
                            {#                                                                <td>9860 0230 5693 8972</td>#}
                            {#                                                                <td><a href="#">05/23</a></td>#}
                            {#                                                                <td>560 100 so'm</td>#}
                            {#                                                                <td>350 000 so'm</td>#}
                            {#                                                                <td>22 300 so'm</td>#}
                            {#                                                                <td>44 600 so'm</td>#}
                            {#                                                                <td><b>976 900 so'm</b></td>#}
                            {#                                                            </tr>#}
                            {#                                                            </tbody>#}
                            {#                                                        </table>#}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading tab-collapsed" role="tab" id="headingSix">
                        <h4 class="panel-title">
                            <a class="collapsed collapse-controle" data-toggle="collapse"
                               data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                               aria-controls="collapseSix">
                                Ariza holati
                                <span class="expand-icon-wrap"><i style="padding: 0.5em"
                                                                  class="fas fa-angle-double-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingSix" aria-expanded="false">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    {% if application.process == '2' %}
                                        <th scope="col">Holat</th>
                                        <th scope="col">Sababi</th>
                                        <th scope="col">Hujjatlarni qabul qilib olish sanasi</th>
                                        <th scope="col">Hujjatlarni qabul qilib olish vaqti</th>
                                    {% elif application.process == '3' %}
                                        <th scope="col">Holat</th>
                                        <th scope="col">Sababi</th>
                                        <th scope="col">Rad etilgan vaqti</th>
                                    {% else %}
                                        <th scope="col">Holat</th>
                                        <th scope="col">Sababi</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% if application.process == '2' %}
                                        <th scope="row" style="color: #44ff00">Qabul qilindi</th>
                                        <th style="color: #0f6674">{{ application.process_sms }}</th>
                                        <th style="color: #0f6674">{{ application.given_date }}</th>
                                        <th style="color: #0f6674">{{ application.given_time }}</th>
                                    {% elif application.process == '3' %}
                                        <th scope="row" style="color: #ff0318">Rad etildi</th>
                                        <th style="color: #0f6674">{{ application.process_sms }}</th>
                                        <th>{{ application.canceled_date|date:"SHORT_DATETIME_FORMAT" }}</th>
                                    {% else %}
                                        <th scope="row" style="color: #0f6674">Jarayonda</th>
                                        <th style="color: #0f6674">{{ application.process_sms }}</th>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#accordion -->
        </div>
    </div>

{% endblock content %}
{% block bottom %}
    <script type="text/javascript">
        $('#collapseOne').collapse('show');

        $('.application_render_pdf').on('click', function () {
            var applicationId = $(this).data('application')
            window.location.href = "{% url 'application:application_pdf' id=12345 %}".replace(/12345/, applicationId.toString());
        })

        $('#payment_render_pdf').on('click', function () {
            var element = document.getElementById('render_div'),
                filename = `To'lov`

            html_to_pdf(element, filename)
        })
    </script>
{% endblock bottom %}
