<!DOCTYPE html>
{% load static %}
{% load applications_tags %}
<html lang="uz">
<head>
    <meta charset="utf-8">
    <title>Ariza #{{ app.id }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        #vertical-text {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-size: xxx-large;
        }
        .date, table{
            font-size: 1rem !important;
        }
    </style>
</head>
<body>
<center><img src="http://192.168.1.18:8000/static/assets/images/logo-dark.png" align="center" alt="" height="50px" class="margin: 0 auto"></center>
<div class="title_reference">
        <h1 style="font-size: 2.5em; padding-top: 5px; font-weight:bold; color: #083983" class="text-center" align="center"><b>REFERENS</b></h1>
</div>
<header class="clearfix">
    <div style="text-align: center">
        <h3 style="font-size: 2em; padding-top: 2px;"><b>{{ section.title }}</b></h3>
        <h4 style="font-size: 1.3em; padding-top: 5px;" class="text-reset">{{ section.address }}</h4>
    </div>
    </div>
</header>
<main style="font-size: 2em">
    <div style="text-align: left" class="clearfix">
        <div id="invoice">
            <div class="date">Yaratildi: {{ created_date|date:"d.m.Y H:i" }}</div>
            <div class="date">YHXB tomonidan qabul qilindi: {{ app.updated_date|date:"d.m.Y H:i" }}</div>
        </div>
    </div>
    <table class="table table-bordered" style="border: 1px solid dimgray; margin: 30%; padding: 30%">
        <tbody>
        <tr>
            <td><b>Ariza raqami</b></td>
            <td>{{ app.id }}</td>
        </tr>
        <tr>
            <td><b>Topshirish usuli</b></td>
            <td>Onlayn</td>
        </tr>
        <tr>
            <td><b>Xizmat nomi</b></td>
            <td>{{ app.service.long_title }}</td>
        </tr>
        <tr>
            <td><b>Ariza topshiruvchi</b></td>
            <td>{% if app.organization %}{{ app.organization }}{% else %}
                {{ app.applicant }}{% endif %}</td>
        </tr>

        </tbody>
    </table>
    <br>

    <div class="row">
        <div class="col-xs-12">

            <img width="200px" height="200px"
                 src={{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url "application:generate_qr_code_image" app.id %} alt="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url "application:generate_qr_code_image" 27 %}" />
        </div>
    </div>

    <br>
    <div style="margin-top: 10px; color: red">Eslatma!</div>
    <div id="notices">
        <p class="text-justify">Hurmatli foydalanuvchi! Agarda siz to'lovlarni E-RIB.UZ tizimi orqali to'lagan bo'lsangiz, u holda ushbu ma'lumotnoma YHXB idorasiga taqdim etilishi shart. YHXB xodimlari ushbu ma'lumotnoma asosida sizni to'lovlaringiz tekshiriladi.
        </p>
    </div>
</main>
</body>
</html>