{% extends 'base_vertical.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load applications_tags %}
{% block css %}
    <style>
        .table-striped > tbody > tr:nth-of-type(odd) {
            --bs-table-accent-bg: #e9eef1;
            color: var(--bs-table-striped-color);
        }

        .accordion-button {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 1rem 1.25rem;
            font-size: .875rem;
            color: #6c757d;
            text-align: left;
            background-color: #dfe2e4;
            border: 0;
            border-radius: 0;
            overflow-anchor: none;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
            border: 1px dashed darkblue;
        }

    </style>

    <!-- Sweet Alert-->
    <link href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>


{% endblock css %}

{% block page_title %}
    {% trans 'Amalllar xronologiyasi' %}
{% endblock page_title %}

{% block content %}
    <div class="row" id="app">
        <div class="col-12 info_area">
            <div class="accordion">
                <component is="about"
                           ref="about"
                           v-if="application"
                           v-model="isOpenAboutAccordion"
                           :application="application"
                           @open-payment="() => {isOpenPaymentAccordion = true; isOpenAboutAccordion = false}"
                ></component>
            </div>
        </div>
        <div class="col-12 info_area">
            <div class="accordion">
                <component is="payment"
                           v-if="application"
                           v-model="isOpenPaymentAccordion"
                           :application="application"
                ></component>
            </div>
        </div>
        <div class="col-12 info_area">
            <div class="accordion">
                <component is="applicant"
                           v-if="application"
                           v-model="isOpenApplicantAccordion"
                           :application="application"
                ></component>
            </div>
        </div>
        <div class="col-12 info_area">
            <div class="accordion">
                <component is="car"
                           v-if="application"
                           v-model="isOpenCarAccordion"
                           :application="application"
                ></component>
            </div>
        </div>
        <div class="col-12 info_area">
            <div class="accordion">
                <component is="document"
                           v-if="application"
                           v-model="isOpenDocumentAccordion"
                           :application="application"
                ></component>
            </div>
        </div>
        <div class="col-12 info_area">
            <div class="accordion">
                <component is="status"
                           v-if="application"
                           v-model="isOpenStatusAccordion"
                           :application="application"
                ></component>
            </div>
        </div>
        <component is="ApplicationStatusModal"
                   v-if="isOpenApplicationStatusModal && application"
                   :application="application"
                   @payment-type="isOpenPaymentTypeSelectModal = true; isOpenApplicationStatusModal = false"
                   @select-section="selectSection"
                   @hide="isOpenApplicationStatusModal = false"
        >
        </component>

        <component is="PaymentTypeSelectModal"
                   v-if="isOpenPaymentTypeSelectModal && application"
                   :application="application"
                   @hide="isOpenPaymentTypeSelectModal = false"
                   @select-payment="selectPayment($event)"
        >
        </component>
    </div>
{% endblock content %}

{% block modals %}

{% endblock modals %}

{% block js %}
    <script src="{% static 'assets/libs/html2pdf/html2pdf.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'assets/libs/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'assets/libs/axios/axios.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/libs/moment/moment.js' %}"></script>
    <script src="{% static 'assets/libs/moment/locale/ru.js' %}"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="{% static 'assets/libs/cryptoJS/cryptoJS.js' %}"></script>
    <!-- development version -->
    <script src="{% static 'vue/vue.dev.js' %}"></script>
    <!-- production version -->
    {#    <script src="{% static 'vue/vue.prod.js' %}"></script>#}

    <script type="text/javascript">
        setAxiosHeader()
        const vm = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: () => ({
                application: null,

                isOpenAboutAccordion: true,
                isOpenPaymentAccordion: false,
                isOpenApplicantAccordion: false,
                isOpenCarAccordion: false,
                isOpenDocumentAccordion: false,
                isOpenStatusAccordion: false,

                isOpenApplicationStatusModal: true,
                isOpenPaymentTypeSelectModal: false
            }),
            components: {
                'About': httpVueLoader('/static/vue/components/application/AboutApplicationAccordion.vue'),
                'Payment': httpVueLoader('/static/vue/components/application/PaymentApplicationAccordion.vue'),
                'Applicant': httpVueLoader('/static/vue/components/application/ApplicantApplicationAccordion.vue'),
                'Car': httpVueLoader('/static/vue/components/application/CarApplicationAccordion.vue'),
                'Document': httpVueLoader('/static/vue/components/application/DocumentApplicationAccordion.vue'),
                'Status': httpVueLoader('/static/vue/components/application/StatusApplicationAccordion.vue'),
                'ApplicationStatusModal': httpVueLoader('/static/vue/components/application/parts/ApplicationStatusModal.vue'),
                'PaymentTypeSelectModal': httpVueLoader('/static/vue/components/application/parts/PaymentTypeSelectModal.vue'),
            },
            created() {
                let url = document.URL

                var applicationId = url.match(/application-detail\/(\d+)/)[1]

                if (applicationId) {
                    this.getApplicationDetail(applicationId)
                }
                this.getCurrentUser()
            },
            methods: {
                async getCurrentUser() {
                    this.userId = await axios.get('/api/v1/user/auth/users/me/')
                        .then(res => res.data.id)
                    this.getUserDetail()
                },
                async getUserDetail() {
                    this.user = await axios.get(`/api/v1/user/detail/${this.userId}/`).then(res => res.data)
                },
                async getApplicationDetail(id) {
                    this.application = await axios.get(`/api/v1/application/detail/${id}/`).then((response) => response.data)
                },
                selectPayment(type) {
                    document.getElementById('load').style.display = 'block'
                    if (type === 'click') {
                        //click
                        window.location.href = '{% url 'click:create_click_order' %}' + `?amount=${this.application.activation_pay}&application=${this.application.id}`
                    } else {
                        //payme
                        window.location.href = '{% url 'paycom:create_payme_order' %}' + `?amount=${this.application.activation_pay}&application=${this.application.id}`
                    }
                },
                selectSection() {
                    this.isOpenApplicationStatusModal = false

                    let footer = `<div>
                                        <span style='color: red'>Diqqat!</span>
                                        Agarda viloyatlar ro'yhatida sizning viloyatingiz bo'lmasa, unda sizning viloyatingizda
                                        E-RIB.UZ tizimi xizmat ko'rsatmaydi. Shunday bo'lishiga qaramasdan E-RIB.UZ tizimi siz
                                        haqingizda qayg'uradi va sizga <a href="#">ushbu qulaylikni</a> yaratib beradi.
                                  </div>`

                    Swal.fire({
                        title: "YXHB bo'limi joylashgan viloyatni tanlang",
                        confirmButtonText: 'Tanlash',
                        input: 'select',
                        inputOptions: this.getRegions(),
                        allowOutsideClick: false,
                        showCloseButton: true,
                        footer: footer
                    }).then((confirm) => {
                        if (confirm.isConfirmed) {
                            Swal.fire({
                                title: "Ariza jo'natiladigan YHXB bo'limini tanlang",
                                confirmButtonText: "Jo'natish",
                                input: 'select',
                                inputOptions: this.getSections(confirm.value),
                                allowOutsideClick: false,
                                showCloseButton: true
                            }).then((confirm) => {
                                if (confirm.isConfirmed) {

                                    const formData = new FormData()
                                    formData.append('section', confirm.value)
                                    formData.append('process', 1)
                                    axios.patch(`/api/v1/application/save/application/section/${this.application.id}/`, formData)
                                        .then((response) => {
                                            location.reload()
                                        })
                                        .catch((error) => {
                                            if (error.response) {
                                                swal_error(error.response.data)
                                            }
                                        })
                                }
                            })
                        }
                    })
                },
                getRegions() {
                    return new Promise((resolve, reject) => {
                        axios.get('/api/v1/user/section/exists/regions/list/').then((response) => {
                            const regions = {}
                            for (const x of response.data) {
                                regions[x.id] = x.title
                            }
                            resolve(regions)
                        }).catch((error) => {
                            reject(error)
                        })
                    })
                },
                getSections(id) {
                    return new Promise((resolve, reject) => {
                        axios.get(`/api/v1/user/region/${id}/sections/list/`).then((response) => {
                            const sections = {}
                            for (const x of response.data) {
                                sections[x.id] = x.title
                            }
                            resolve(sections)
                        }).catch((error) => {
                            reject(error)
                        })
                    })
                },
            }
        })
    </script>
{% endblock js %}
