{% extends 'base_vertical.html' %}
{% load static %}
{% load i18n %}

{% block show_left_bar %}  "size": "condensed"{% endblock show_left_bar %}

{% block css %}

    <!-- third party css -->
    <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- third party css end -->

{% endblock css %}

{% block page_title %}
    {% if section %}{% blocktrans with section_title=section.title %}{{ section_title }}ga kelib
        tushgan arizalar{% endblocktrans %}{% else %}{% trans "Arizalar" %}{% endif %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            <table id="example1" class="table dt-responsive nowrap w-100">
                                <thead>
                                <tr>
                                    <th>{% trans "Ariza raqami" %}</th>
                                    <th>{% trans "Xizmat nomi" %}</th>
                                    <th>{% trans "Avtomobil" %}</th>
                                    <th>{% trans "Topshirdi" %}</th>
                                    <th>{% trans "Yaratilgan vaqti" %}</th>
                                    <th>{% trans "Holati" %}</th>
                                    <th>{% trans "Ariza nusxasi" %}</th>
                                    <th>{% trans "To'lov" %}</th>
                                    <th>{% trans "Ma'lumotlar mosligi" %}</th>
                                    <th>{% trans "Texnik ko'rik" %}</th>
                                </tr>
                                </thead>


                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <div class="col-2" id="right_filter_div">
                            {% include 'application/right_filter_applications.html' %}
                        </div>
                    </div>


                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->

    </div>

{% endblock content %}
{% block js %}
    <script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'assets/libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <!-- Datatables init -->
    <script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>



    <script type="text/javascript" class="init">
        $(document).ready(function () {
            var token = getCookie('token'),
                csrftoken = getCookie('csrftoken'),
                url = null
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', csrftoken)
                    xhr.setRequestHeader('Authorization', `Bearer ${token}`)
                },
                error: function (response) {
                    if (response.status === 401) {
                        tokenInvalid()
                    }
                }
            })


            var table = $("#example1").DataTable({
                "serverSide": true,
                "processing": true,
                'autoWidth': false,
                "orderCellsTop": true,
                "order": [[4, "asc"]],
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "{% trans 'Qidiruv...' %}",
                    "emptyTable": `{% trans "Ma'lumot topilmadi!" %}`,
                    {#"info": "Ko'rsatilgan _END_ dan _START_. Jami: _TOTAL_ ta ma'lumot",#}
                    "info": `{% trans "Jami: _TOTAL_ ta ariza" %}`,
                    "infoEmpty": `{% trans "Jami: _TOTAL_ ta ariza" %}`,
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "{% trans 'Yuklanmoqda...' %}",
                    "processing": '<div class="spinner-grow" role="status"> <span class="sr-only"></span> </div>',
                    "zeroRecords": `{% trans "Ma'lumot topilmadi!" %}`,
                    "paginate": {
                        "first": "{% trans 'Birinchi' %}",
                        "last": "{% trans 'Oxirgi' %}",
                        "next": "{% trans 'Keyingi' %}",
                        "previous": "{% trans 'Oldingi' %}"
                    },
                    "aria": {
                        "sortAscending": `{% trans ": o'sish tartibi faollashtirildi" %}`,
                        "sortDescending": `{% trans ": kamayish tartibi faollashtirildi" %}`,
                    }
                },
                "ajax": function (data, callback, settings) {
                    {% if section %}
                        var sectionId = '{{ section.id }}'
                        url = '{% url "application:SectionApplicationsList" section_id=12345 %}'.replace(/12345/, sectionId.toString());
                    {% else %}
                        url = '{% url "application:applications_list" %}'
                    {% endif %}

                    $.ajax({
                        url: url,
                        type: 'GET',
                        dataType: "json",
                        cache: false,
                        contentType: "application/json; charset=utf-8",
                        data: {
                            limit: data.length,
                            start: data.start,
                            q: data.search.value,
                            order_by: data.columns[data.order[0].column].data.replace(/\./g, "__"),
                            old_request: window.location.search
                        }
                    }).then(function (res) {

                        callback({
                            recordsTotal: res.length,
                            recordsFiltered: res.length,
                            data: res.objects
                        });
                    });

                    {#$.get(url, {#}
                    {#    limit: data.length,#}
                    {#    start: data.start,#}
                    {#    q: data.search.value,#}
                    {#    order_by: data.columns[data.order[0].column].data.replace(/\./g, "__")#}
                    // {#}, function (res) {#}
                    {#    callback({#}
                    {#        recordsTotal: res.length,#}
                    {#        recordsFiltered: res.length,#}
                    {#        data: res.objects#}
                    {#    })#}
                    //{#})#}
                },
                "columns": [
                    {"data": "id"},
                    {"data": "service"},
                    {"data": `car`},
                    {"data": "created_user"},
                    {"data": "created_date"},
                    {
                        "data": "process",
                        render: function (data, type, row) {
                            if (row.process === 7) {
                                return '<span class="badge label-table bg-warning">Ariza yaratilmoqda</span>'
                            } else if (row.process === 0) {
                                return '<span class="badge label-table bg-warning">Ariza yaratilgan</span>'
                            } else if (row.process === 1) {
                                return '<span class="badge label-table bg-info">YXHBga jo\'natilgan</span>'
                            } else if (row.process === 2) {
                                return '<span class="badge label-table bg-info">Ko\'rib chiqilyapti</span>'
                            } else if (row.process === 3) {
                                return '<span class="badge label-table bg-warning">To\'lov kutilmoqda</span>'
                            } else if (row.process === 4) {
                                return '<span class="badge label-table bg-warning">Hujjatlarning asl nusxalari kutilmoqda</span>'
                            } else if (row.process === 5) {
                                return '<span class="badge label-table bg-success">Muvaffaqiyatli yakunlangan</span>'
                            } else if (row.process === 6) {
                                return '<span class="badge label-table bg-danger">Rad etilgan</span>'
                            }

                        }

                    },
                    {
                        "data": "file_name",
                        render: function (data, type, row) {
                            var url = "{% url 'application:create_application_doc' filename=12345 %}".replace(/12345/, row.file_name.toString());

                            return `<center><a href="${url}" ><i style="font-size: large" class="fas fa-file-download"></i></a></center>`
                        }
                    },

                    {
                        "data": "is_payment",
                        render: function (data, type, row) {
                            if (row.is_payment) {
                                return '<center><i class="fas fa-check-circle text-success"></i></center>'
                            } else {
                                return '<center><i class="fas fa-times-circle text-danger"></i></center>'
                            }
                        }
                    },
                    {
                        "data": "car__is_confirm",
                        render: function (data, type, row) {
                            if (row.car__is_confirm) {
                                return '<center><i class="fas fa-check-circle text-success"></i></center>'
                            } else {
                                return '<center><i class="fas fa-times-circle text-danger"></i></center>'
                            }
                        }
                    },
                    {
                        "data": "car__is_technical_confirm",
                        render: function (data, type, row) {
                            if (row.car__is_technical_confirm) {
                                return '<center><i class="fas fa-check-circle text-success"></i></center>'
                            } else {
                                return '<center><i class="fas fa-times-circle text-danger"></i></center>'
                            }
                        }
                    },
                    {% if request.user.role == '1' %}
                        {
                            defaultContent: '<button  class="btn btn-danger deleteApp"><i class="fas fa-trash"></i></button>'
                        }
                    {% endif %}
                ]
            })


            $('#example1 tbody').on('click', '.deleteApp', function () {
                var row = $(this).closest('tr');

                var applicationId = table.row(row).data()["id"];

                swal({
                    title: "Arizani o'chirmoqchimisiz ?",
                    text: applicationId + "-raqamli arizani o'chirmoqchimisiz ?",
                    icon: "warning",
                    closeOnClickOutside: false,
                    buttons: [
                        'Yoq, Bekor qilish!',
                        'Ha, Roziman!'
                    ],
                    dangerMode: true,
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: 'POST',
                            url: '{% url "application:remove_application" %}',
                            data: {
                                'application': applicationId
                            },
                            success: function (response) {
                                if (response === 'True') {
                                    swal({
                                        title: "Muvaffaqiyatli o'chirildi !",
                                        text: applicationId + "-raqamli ariza muvaffaqiyatli o'chirildi !",
                                        icon: 'success'
                                    }).then(function () {
                                        window.location.href = '{% url "application:applications_list" %}';
                                    });
                                } else if (response === 'disabled') {
                                    $.notifyDefaults({
                                        type: 'danger',
                                        allow_dismiss: false,
                                        animate: {
                                            enter: 'animated fadeInRight',
                                            exit: 'animated fadeOutRight'
                                        },
                                        z_index: '9999'
                                    })
                                    $.notify({
                                        icon: 'glyphicon glyphicon-star',
                                        message: `<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                                            '  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>\n' +
                                            '  <path fill-rule="evenodd" d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>\n' +
                                            '</svg> ${applicationId}-raqamli arizani o'chirishga ruxsat berilmaydi!`
                                    })
                                } else {
                                    errorFunction()
                                }

                            }
                        });


                    } else {
                        swal("Bekor qilindi", applicationId + "-raqamli ariza ro'yhatda turibti !", "error");
                    }
                });

            });


        })
    </script>
{% endblock js %}
