{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block top %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
    <link href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152092/smartwizard/smart_wizard.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152091/smartwizard/smart_wizard_theme_arrows.min.css"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/account_statement/style.css' %}">

{% endblock top %}

{% block content %}


    <section style="background-color: #81d782" class="py-3 mt-2 text-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2>{% trans "Amallar xronologiyasi" %}</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="container bootstrap snippets bootdey mt-2">

        <form class="row mb-2" action="{% url 'application:detail' application.id %}" enctype="multipart/form-data"
              method="post">
            {% csrf_token %}
            <div class="col-4"><label class="not_copy" for="applicationPhoto">Arizani qayta yuklang</label>
                <input style="border: none" type="file" name="photo" accept=".jpg, .jpeg, .png, .gif, .docx, .doc"/>
            </div>

            <div class="col-4 mt-4">
                <button type="submit" class="btn btn-outline-primary">Saqlash</button>
            </div>
        </form>


        <div class="div">
            <div class="col-12" style="font-size: 0.9em">
                <div class="panel-group drop-accordion" id="accordion" role="tablist"
                     aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading tab-collapsed" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapse-controle" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Ariza haqida ma'lumot
                                    <span class="expand-icon-wrap"><i style="padding: 0.5em"
                                                                      class="fas fa-angle-double-down"></i></span>
                                </a>

                            </h4>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne" aria-expanded="false">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Ariza raqami:</th>
                                        <td>{{ application.id }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tekshirish uchun parol:</th>
                                        <td class="text-danger">{{ application.password }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Xizmat nomi:</th>
                                        <td>{{ application.account_statement.service_name }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Yaratdi:</th>
                                        <td>{{ application.created_user }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Ariza nusxasi</th>
                                        <td><a href="/media/applications/{{ application.id }}.docx">Yuklab olish</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Berilgan sana:</th>
                                        <td>{{ application.created_date|date:'SHORT_DATETIME_FORMAT' }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Oxirgi o'zgarish sanasi:</th>
                                        <td>{{ application.created_date|date:'SHORT_DATETIME_FORMAT' }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading tab-collapsed" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapse-controle collapsed" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                   aria-controls="collapseTwo">
                                    Ariza topshiruvchi
                                    <span class="expand-icon-wrap"><i style="padding: 0.5em"
                                                                      class="fas fa-angle-double-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <table id="created_is_person" class="table table-bordered">
                                    <tbody>
                                    {% if application.account_statement.organization %}
                                        <tr>
                                            <th scope="row">Tashkilot:</th>
                                            <td>{{ application.account_statement.organization.title }}</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Rahbari:</th>
                                            <td>{{ application.account_statement.organization.director }}</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">STIR raqam:</th>
                                            <td>{{ application.account_statement.organization.identification_number }}</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Yuridik manzil:</th>
                                            <td>{{ application.account_statement.organization.legal_address }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <th scope="row">Familiya:</th>
                                            <td>{{ request.user.last_name }}</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Ism:</th>
                                            <td>{{ request.user.first_name }}</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Otasining ismi:</th>
                                            <td>{{ request.user.middle_name }}</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Passport:</th>
                                            <td>{{ request.user.passport_seriya }} {{ request.user.passport_number }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading tab-collapsed" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed collapse-controle" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                   aria-controls="collapseThree">
                                    Mavjud fayllar
                                    <span class="expand-icon-wrap"><i style="padding: 0.5em"
                                                                      class="fas fa-angle-double-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree" aria-expanded="false">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Hujjat nomi</th>
                                        <th scope="col">Holati</th>
                                        <th scope="col">Hujjat havolasi</th>
                                        <th scope="col">Pin kod</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>1</td>
                                        <th scope="row">Ariza nusxasi</th>
                                        <td>Yaxshi</td>
                                        <td><a target="_blank" href="/media/applications/{{ application.id }}.docx">Yuklab
                                            olish</a></td>
                                        <td>56345</td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <th scope="row">Passport</th>
                                        <td>Yaxshi</td>
                                        <td><a href="{{ application.created_user.passport_photo.url }}" target="_blank">Yuklab
                                            olish</a></td>
                                        <td>12345</td>
                                    </tr>

                                    <tr>
                                        <td>2</td>
                                        <th scope="row">Xisob ma'lumotnomasi</th>
                                        <td>Yaxshi</td>

                                        <td><a href="{{ application.account_statement.cert_photo.url }}"
                                               target="_blank">Yuklab olish</a>

                                        </td>

                                        <td>56845</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading tab-collapsed" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed collapse-controle" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                   aria-controls="collapseFour">
                                    To'lov
                                    <span class="expand-icon-wrap"><i style="padding: 0.5em"
                                                                      class="fas fa-angle-double-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFour" aria-expanded="false">
                            <div class="panel-body">
                                <table class="table table-bordered table-responsive">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Karta egasi</th>
                                        <th scope="col">Karta raqami</th>
                                        <th scope="col" style="width: 4%">Amal qilish muddati</th>
                                        <th scope="col">Yangi raqam</th>
                                        <th scope="col">Yangi tex passport</th>
                                        <th scope="col">Ro'yhatlash</th>
                                        <th scope="col">Qayta ro'yhatlash</th>
                                        <th scope="col"><b>Jami</b></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">Yoqubov Sirojidin</th>
                                        <td>9860 0230 5693 8972</td>
                                        <td><a href="#">05/23</a></td>
                                        <td>560 100 so'm</td>
                                        <td>350 000 so'm</td>
                                        <td>22 300 so'm</td>
                                        <td>44 600 so'm</td>
                                        <td><b>976 900 so'm</b></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading tab-collapsed" role="tab" id="headingFifth">
                            <h4 class="panel-title">
                                <a class="collapsed collapse-controle" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseFifth" aria-expanded="false"
                                   aria-controls="collapseFifth">
                                    Ariza holati
                                    <span class="expand-icon-wrap"><i style="padding: 0.5em"
                                                                      class="fas fa-angle-double-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFifth" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFifth" aria-expanded="false">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Holat</th>
                                        <th scope="col">Sababi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        {% if application.process == '1' %}
                                            <th scope="row" style="color: #0f6674">Jarayonda</th>
                                        {% elif application.process == '2' %}
                                            <th scope="row" style="color: #44ff00">Qabul qilindi</th>
                                        {% elif application.process == '3' %}
                                            <th scope="row" style="color: #ff0318">Rad etildi</th>
                                        {% endif %}
                                        <th style="color: #0f6674">
                                            {% if application.process_sms %}{{ application.process_sms }}{% else %}
                                                O'rganib chiqilmoqda{% endif %}</th>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#accordion -->
            </div>
        </div>
    </div>
{% endblock content %}
{% block bottom %}
    <script type="text/javascript">
        $('#collapseOne').collapse('show');

    </script>
{% endblock bottom %}
