{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block top %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
{% endblock top %}
{% block content %}


    <section class="py-3 mt-2 bg-info text-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2>{% trans "Arizalar" %}</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">

            <!-- left column -->
            <div class="col-12">
                <table style="font-size: 0.8em" class="table table-bordered table-responsive">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Xizmat nomi</th>
                        <th scope="col" style="width: 4%">Topshirdi</th>
                        <th scope="col">Yaratilgan vaqti</th>
                        <th scope="col">Tahrirlangan vaqti</th>
                        <th scope="col">Ariza nusxasi</th>
                        <th scope="col">Holati</th>
                    </tr>
                    </thead>
                    {% for application in applications %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <a href="{% url 'application:detail' application.id %}">{{ application.account_statement.service_name }}</a>
                            </td>
                            <td>{% if application.account_statment.organization %}
                                {{ application.account_statment.organization }}{% else %}
                                {{ application.created_user }}{% endif %}</td>
                            <td>{{ application.created_date|date:'SHORT_DATETIME_FORMAT' }}</td>
                            <td>{{ application.updated_date|date:'SHORT_DATETIME_FORMAT' }}</td>
                            <td><a href="/media/applications/{{ application.id }}.docx">Yuklab olish</a></td>
                            {% if application.process == '1' %}
                                <td style="color: #0f6674">Jarayonda</td>
                            {% elif application.process == '2' %}
                                <td style="color: #44ff00">Qabul qilindi</td>
                            {% elif application.process == '3' %}
                                <td style="color: #ff0318">Rad etildi</td>
                            {% endif %}
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            <!--/.col (left) -->


        </div>
        <!-- /.row -->
    </div>
{% endblock content %}
{% block bottom %}

{% endblock bottom %}