{% load applications_tags service_tags %}
<style>

</style>
<div style="background-color: #e7fafd; border-radius: 5px" class="p-1">
    <h6 style="font-size: 0.8em; margin-bottom: 0.6em" class="font-10 text-muted text-uppercase">Xizmat turi
        bo'yicha</h6>
    <div class="p-1" style="font-size: 0.8em;">
        <a {% if request.GET.service == 'all' or not request.GET.service %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'service' 'all' %}" class="text-reset d-block">
            <i class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Hammasi</span>
        </a>

        {% get_services_list as services_list %}
        {% for service in services_list %}
            <a {% if request.GET.service == service.key %}class="active"{% endif %}
               href="{% url "application:change_get_request" 'service' service.key %}" class="text-reset d-block">
                <i class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
                <span class="mb-0 mt-1">{{ service.short_title }}</span>
            </a>
        {% endfor %}
    </div>
    <h6 style="font-size: 0.8em; margin-bottom: 0.6em" class="font-10 text-muted text-uppercase">Holat bo'yicha</h6>
    <div class="p-1" style="font-size: 0.8em;">

        <a
                {% if request.GET.process == 'all' or not request.GET.process %}class="active"{% endif %}
                href="{% url "application:change_get_request" 'process' 'all' %}" class="text-reset d-block"> <i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Hammasi</span></a>
        <a {% if request.GET.process == '1' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'process' '1' %}" class="text-reset d-block"><i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Jarayon</span></a>
        <a {% if request.GET.process == '2' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'process' '2' %}" class="text-reset d-block"><i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Qabul qilingan</span></a>
        <a {% if request.GET.process == '3' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'process' '3' %}" class="text-reset d-block"><i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Rad etilgan</span></a>
    </div>
    <h6 style="font-size: 0.8em; margin-bottom: 0.6em" class="font-10 text-muted text-uppercase">Shaxs turi
        bo'yicha</h6>
    <div class="p-1" style="font-size: 0.8em;">
        <a
                {% if request.GET.person_type == 'all' or not request.GET.person_type %}class="active"{% endif %}
                href="{% url "application:change_get_request" 'person_type' 'all' %}" class="text-reset d-block"><i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Hammasi</span> </a>
        <a {% if request.GET.person_type == '0' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'person_type' '0' %}" class="text-reset d-block"><i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Jismoniy shaxs</span></a>
        <a {% if request.GET.person_type == '1' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'person_type' '1' %}" class="text-reset d-block"><i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Yuridik shaxs</span></a>
    </div>
    <h6 style="font-size: 0.8em; margin-bottom: 0.6em" class="font-10 text-muted text-uppercase">To'lov bo'yicha</h6>
    <div class="p-1" style="font-size: 0.8em;">
        <a
                {% if request.GET.payment == 'all' or not request.GET.payment %}class="active"{% endif %}
                href="{% url "application:change_get_request" 'payment' 'all' %}" class="text-reset d-block"><i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Hammasi</span></a>
        <a {% if request.GET.payment == 'True' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'payment' 'True' %}" class="text-reset d-block"><i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">To'lov qilingan</span></a>
        <a {% if request.GET.payment == 'False' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'payment' 'False' %}" class="text-reset d-block"><i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">To'lov qilinmagan</span></a>
    </div>
    <h6 style="font-size: 0.8em; margin-bottom: 0.6em" class="font-10 text-muted text-uppercase">Ma'lumotlar mosligi
        bo'yicha</h6>
    <div class="p-1" style="font-size: 0.8em;">
        <a
                {% if request.GET.confirm == 'all' or not request.GET.confirm %}class="active"{% endif %}
                href="{% url "application:change_get_request" 'confirm' 'all' %}" class="text-reset d-block"><i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Hammasi</span></a>
        <a {% if request.GET.confirm == 'True' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'confirm' 'True' %}" class="text-reset d-block"><i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Tasdiqlangan</span></a>
        <a {% if request.GET.confirm == 'False' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'confirm' 'False' %}" class="text-reset d-block"><i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Tasdiqlanmagan</span></a>
    </div>
    <h6 style="font-size: 0.8em; margin-bottom: 0.6em" class="font-10 text-muted text-uppercase">Texnik ko'rik
        bo'yicha</h6>
    <div class="p-1" style="font-size: 0.8em;">
        <a
                {% if request.GET.technical_confirm == 'all' or not request.GET.technical_confirm %}class="active"{% endif %}
                href="{% url "application:change_get_request" 'technical_confirm' 'all' %}"
                class="text-reset d-block"><i
                class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Hammasi</span></a>
        <a {% if request.GET.technical_confirm == 'True' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'technical_confirm' 'True' %}" class="text-reset d-block">
            <i class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Ko'rikdan o'tkazilgan</span>
        </a>
        <a {% if request.GET.technical_confirm == 'False' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'technical_confirm' 'False' %}" class="text-reset d-block">
            <i class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Ko'rikdan o'tkazilmagan</span></a>
    </div>
    <h6 style="font-size: 0.8em; margin-bottom: 0.6em" class="font-10 text-muted text-uppercase">Sana bo'yicha</h6>
    <div class="p-1" style="font-size: 0.8em;">
        <a
                {% if request.GET.date == 'all' or not request.GET.date %}class="active"{% endif %}
                href="{% url "application:change_get_request" 'date' 'all' %}" class="text-reset d-block">
            <i class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Istalgan kun</span></a>
        <a {% if request.GET.date == 'today' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'date' 'today' %}" class="text-reset d-block">
            <i class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Bugun</span></a>
        <a {% if request.GET.date == 'last-7-days' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'date' 'last-7-days' %}" class="text-reset d-block">
            <i class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">So'nggi 7 kun</span></a>
        <a {% if request.GET.date == 'month' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'date' 'month' %}" class="text-reset d-block">
            <i class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Shu oyda</span></a>
        <a {% if request.GET.date == 'year' %}class="active"{% endif %}
           href="{% url "application:change_get_request" 'date' 'year' %}" class="text-reset d-block">
            <i class="mdi mdi-checkbox-blank-circle-outline me-1 text-success"></i>
            <span class="mb-0 mt-1">Shu yilda</span></a>
    </div>
</div>

