{% load static i18n %}
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="add_user_modal" data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="#" id="add_user_form">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_user_modalLabel">Yangi arizachi ro'yhatga olish oynasi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">

                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="phone">{% trans "Tel raqam/Login" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9 phone_div">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">+998</div>
                                </div>
                                <input type="text" id="phone" name="phone"
                                       class="form-control" required
                                       autocomplete="off">

                            </div>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="last_name">{% trans "Familiya" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="text" id="last_name" name="last_name"
                                   class="form-control" required

                                   placeholder="{% trans 'Masalan: Yoqubov' %}"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="first_name">{% trans "Ism" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="text" id="first_name" name="first_name"
                                   class="form-control" required

                                   placeholder="{% trans 'Masalan: Sirojiddin' %}"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="middle_name">{% trans "Otasining ismi" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="text" id="middle_name" name="middle_name"
                                   class="form-control" required
                                   placeholder="{% trans 'Masalan: Tojiddinovich' %}"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="birthday">{% trans "Tug'ilgan vaqt" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="date" id="birthday" name="birthday"
                                   class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="region">{% trans "Viloyat" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9 region">
                            <select name="region" class="form-control" id="region"
                                    required>
                                <option value="">{% trans '--Viloyatni tanlang--' %}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="district">{% trans "Tuman/Shahar" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9 district">
                            <select name="district" class="form-select select2" id="district"
                                    required>

                                <option value="">{% trans '--Tumanni tanlang--' %}</option>

                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="quarter">{% trans "Mahalla" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9 quarter">
                            <select name="quarter" class="form-select select2" id="quarter"
                                    required>

                                <option value="">{% trans '--Mahallani tanlang--' %}</option>

                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="address">{% trans "Ko'cha/Qishloq" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="text" id="address" name="address"
                                   class="form-control" required
                                   placeholder="{% blocktrans %}Masalan: M.Iqbol ko'chasi 76-uy{% endblocktrans %}"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="passport_seriya">{% trans "Passport seriya" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="text" id="passport_seriya" name="passport_seriya"
                                   class="form-control text-uppercase" required
                                   placeholder="{% blocktrans %}Masalan: AA{% endblocktrans %}"
                                   autocomplete="off">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="passport_number">{% trans "Passport raqam" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="number" id="passport_number" name="passport_number"
                                   class="form-control" required
                                   placeholder="{% blocktrans %}Masalan: 3870293{% endblocktrans %}"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                               for="issue_by_whom">{% trans "Kim tomonidan berilgan" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-8 col-xl-9">
                            <input type="text" id="issue_by_whom" name="issue_by_whom"
                                   class="form-control text-uppercase" required
                                   placeholder="{% blocktrans %}Masalan: BUXORO SHAHAR IIB{% endblocktrans %}"
                                   autocomplete="off">
                        </div>
                    </div>
                    <input type="hidden" value="{{ request.user.id }}" name="created_by">

                </div>

                <div class="modal-footer">
                    <button type="button" id="cancel_confirm" class="btn btn-secondary" data-bs-dismiss="modal">
                        Bekor qilish
                    </button>
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% block js %}
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#phone').inputmask('99 999-99-99');

            sendAuthorizationToken()

            $(document).on('hide.bs.modal', '#confirm_code_modal', function () {
                $('#add_user_modal').css({'z-index': '9999'})
            });

            $(document).on('show.bs.modal', '#confirm_code_modal', function () {
                $('#add_user_modal').css({'z-index': '1000'})
            });

            getAjaxData('{% url "api_user:regions_list" %}').then(function (res) {
                console.log(res)
                res.forEach((x, i) =>
                    $("#region").select2({
                        data: [{id: x.id, text: `${x.title}`}],
                        width: '100%',
                        placeholder: '-- viloyatni tanlang --',
                        dropdownParent: $('#add_user_modal'),
                    })
                );
            })

            $('#district').select2({
                dropdownParent: $('#add_user_modal'),
                width: '100%'
            })

            $(document).on('change', '#region', function (e) {
                var SelectedRegion = $(this).children("option:selected").val()

                if (parseInt(SelectedRegion)) {
                    $(this).valid()
                }

                getAjaxData('{% url "api_user:region_districts_list" pk=12345 %}'.replace(/12345/, SelectedRegion.toString())).then(function (res) {
                        console.log(res)
                        res.forEach((x, i) =>
                            $('#district').append($('<option>').val(x.id).text(x.title))
                        )
                    }, function (err) {
                        swal_error(err)
                    }
                )

            })

            $('#quarter').select2({
                dropdownParent: $('#add_user_modal'),
                width: '100%'
            })

            $(document).on('change', '#district', function (e) {
                var SelectedDistrict = $(this).children("option:selected").val()

                if (parseInt(SelectedDistrict)) {
                    $(this).valid()
                }

                getAjaxData('{% url "api_user:district_quarters_list" pk=12345 %}'.replace(/12345/, SelectedDistrict.toString())).then(function (res) {
                        console.log(res)
                        res.forEach((x, i) =>
                            $('#quarter').append($('<option>').val(x.id).text(x.title))
                        )
                    }, function (err) {
                        swal_error(err)
                    }
                )
            })

            $(document).on('change', '#quarter', function () {
                var selectedQuarter = $(this).children("option:selected").val();
                if (parseInt(selectedQuarter)) {
                    $(this).valid()

                }
            })

            personForm = $('#add_user_form')
            var personButton

            if (personForm.length) {
                personButton = $(personForm).children().find('button:submit')
                personForm.validate({
                    ignore: ":hidden",
                    rules: {
                        last_name: {
                            required: true,
                            noSpace: true,
                        },
                        first_name: {
                            required: true,
                            noSpace: true,
                        },
                        middle_name: {
                            required: true,
                            noSpace: true,
                        },
                        region: {
                            required: true
                        },
                        district: {
                            required: true
                        },
                        quarter: {
                            required: true
                        },
                        birthday: {
                            required: true
                        },
                        address: {
                            required: true,
                            noSpace: true,
                        },
                        passport_seriya: {
                            required: true,
                            //alphanumeric is the custom method, we defined in the above
                            alphanumeric: true,
                            noSpace: true,
                        },
                        passport_number: {
                            required: true,
                            alphanumeric: true,
                            noSpace: true,
                        },
                        issue_by_whom: {
                            required: true,
                            noSpace: true,
                        },
                        phone: {
                            required: true,
                            phoneMaxLength: true,
                        },
                    },
                    messages: {
                        last_name: {
                            required: 'Familiya kiritilmagan!',
                        },
                        first_name: {
                            required: 'Ism kiritilmagan!',
                        },
                        middle_name: {
                            required: 'Otasining ismi kiritilmagan!',
                        },
                        region: {
                            required: 'Viloyat tanlanmagan!',
                        },
                        district: {
                            required: 'Tuman tanlanmagan!',
                        },
                        quarter: {
                            required: 'Mahalla tanlanmagan!',
                        },
                        birthday: {
                            required: 'Tug\'ilgan vaqti kiritilmagan!',
                        },
                        address: {
                            required: 'Manzil kiritilmagan!',
                        },
                        passport_seriya: {
                            required: 'Passport seriya kiritilmagan!',
                        },
                        passport_number: {
                            required: 'Passpor raqami kiritilmagan!',
                        },
                        issue_by_whom: {
                            required: 'Passport kim tomonidan berilganligi kiritilmagan!',
                        },
                        phone: {
                            required: 'Tel raqam kiritilmagan!',
                        },
                    },

                    errorPlacement: function (error, element) {
                        if (element.is("#region")) {
                            error.appendTo(element.parents('.region'));
                        } else if (element.is("#district")) {
                            error.appendTo(element.parents('.district'));
                        } else if (element.is("#quarter")) {
                            error.appendTo(element.parents('.quarter'));
                        } else if (element.is("#phone")) {
                            error.appendTo(element.parents('.phone_div'));
                        } else {
                            error.insertAfter(element);
                        }
                    },
                    submitHandler: function (form, e) {
                        e.preventDefault()
                        personForm = form
                        $('#last_name_x').val($('#last_name').val())
                        $('#first_name_x').val($('#first_name').val())
                        $('#middle_name_x').val($('#middle_name').val())
                        $('#region_x').val($('#region option:selected').text())
                        $('#district_x').val($('#district option:selected').text())
                        $('#quarter_x').val($('#quarter option:selected').text())
                        $('#modal_phone').text($('#phone').val())

                        countdown.start();
                        return false; // required to block normal submit since you used ajax
                    }
                });
            }


        })
    </script>
{% endblock js %}