{% load static i18n %}
<!-- Modal -->
<div class="modal-backdrop" v-if="addApplicantDialog">
    <div class="modal fade show bd-example-modal-lg" style="display: block">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form @keypress.enter.prevent="!applicantIsComplete ? sendNewApplicantForm() : ''">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add_user_modalLabel">Yangi arizachi ro'yhatga olish oynasi</h5>
                        <button type="button" class="btn-close" @click="addApplicantDialog = false"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start label_required"
                                   for="phone">{% trans "Tel raqam/Login" %}</label>
                            <div class="col-8 col-xl-9">
                                <div class="input-group mb-3">
                                    <input
                                            type="text"
                                            class="form-control"
                                            autocomplete="off"
                                            v-model="newApplicantForm.phone"
                                            v-phone-mask
                                            @keyup="newApplicantForm.phone = $event.target.value"
                                            placeholder="+998 (__) ___-__-__"
                                            :class="{'is-invalid': $v.newApplicantForm.phone.$error}"
                                            aria-describedby="button-addon2"
                                    >
                                    <div class="input-group-append">
                                        <timer-btn class="btn btn-outline-primary"
                                                   type="button"
                                                   id="button-addon2"
                                                   ref="timerBtn"
                                                   :width="progressWidth"
                                                   slot="append"
{#                                                   v-on:update:width="progressWidth = $event"#}
                                                   v-bind:width.sync="progressWidth"
                                                   :disabled="timerDisabled"
                                                   :start="timerIsStart"
                                                   :stop="timerIsStop"
                                                   v-bind:start.sync="timerIsStart"
                                                   v-bind:stop.sync="timerIsStop"
                                                   v-bind:disabled.sync="timerDisabled"
                                                   @click.native="confirmPhone">
                                            <span slot="text">Siz izlayotgan viloyat topilmadi!</span>
                                            Tasdiqlash kodini olish
                                        </timer-btn>
                                    </div>

                                    <div
                                            v-if="$v.newApplicantForm.phone.$dirty && !$v.newApplicantForm.phone.required"
                                            class="text-danger w-100" style="text-align: start">
                                        Tel raqam/Login kiritilmagan!
                                    </div>
                                    <div
                                            v-if="$v.newApplicantForm.phone.$dirty && $v.newApplicantForm.phone.required && !$v.newApplicantForm.phone.phoneValidation"
                                            class="text-danger w-100" style="text-align: start">
                                        Tel raqam/Login to'liq kiritilmagan!
                                    </div>
                                    <div
                                            v-if="$v.newApplicantForm.phone.$dirty && $v.newApplicantForm.phone.required
                                            && $v.newApplicantForm.phone.phoneValidation && !$v.newApplicantForm.confirmPhone.$model"
                                            class="text-danger w-100" style="text-align: start">
                                        Tel raqam tasdiqlanmagan!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start label_required"
                                   for="last_name">{% trans "Familiya" %}</label>
                            <div class="col-8 col-xl-9">
                                <input type="text"
                                       class="form-control"
                                       placeholder="{% trans 'Masalan: Yoqubov' %}"
                                       autocomplete="off"
                                       v-model.trim="newApplicantForm.last_name"
                                       :class="{'is-invalid': $v.newApplicantForm.last_name.$error}"
                                >
                                <div
                                        v-if="$v.newApplicantForm.last_name.$dirty && !$v.newApplicantForm.last_name.required"
                                        class="text-danger w-100" style="text-align: start">
                                    Familiya kiritilmagan!
                                </div>
                                <div
                                        v-if="$v.newApplicantForm.last_name.$dirty && $v.newApplicantForm.last_name.required && !$v.newApplicantForm.last_name.alpha"
                                        class="text-danger w-100" style="text-align: start">
                                    Faqat harf kiriting!
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start label_required"
                                   for="first_name">{% trans "Ism" %}</label>
                            <div class="col-8 col-xl-9">
                                <input type="text"
                                       class="form-control"
                                       v-model.trim="newApplicantForm.first_name"
                                       :class="{'is-invalid': $v.newApplicantForm.first_name.$error}"
                                       placeholder="{% trans 'Masalan: Sirojiddin' %}"
                                       autocomplete="off">
                                <div
                                        v-if="$v.newApplicantForm.first_name.$dirty && !$v.newApplicantForm.first_name.required"
                                        class="text-danger w-100" style="text-align: start">
                                    Ism kiritilmagan!
                                </div>
                                <div
                                        v-if="$v.newApplicantForm.first_name.$dirty && $v.newApplicantForm.first_name.required && !$v.newApplicantForm.first_name.alpha"
                                        class="text-danger w-100" style="text-align: start">
                                    Faqat harf kiriting!
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start label_required"
                                   for="middle_name">{% trans "Otasining ismi" %}</label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="middle_name" name="middle_name"
                                       class="form-control"
                                       placeholder="{% trans 'Masalan: Tojiddinovich' %}"
                                       v-model.trim="newApplicantForm.middle_name"
                                       :class="{'is-invalid': $v.newApplicantForm.middle_name.$error}"
                                       autocomplete="off">
                                <div
                                        v-if="$v.newApplicantForm.middle_name.$dirty && !$v.newApplicantForm.middle_name.required"
                                        class="text-danger w-100" style="text-align: start">
                                    Otasining ismi kiritilmagan!
                                </div>
                                <div
                                        v-if="$v.newApplicantForm.middle_name.$dirty && $v.newApplicantForm.middle_name.required && !$v.newApplicantForm.middle_name.alpha"
                                        class="text-danger w-100" style="text-align: start">
                                    Faqat harf kiriting!
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start label_required"
                                   for="birthday">{% trans "Tug'ilgan vaqt" %}</label>
                            <div class="col-8 col-xl-9">
                                <input type="date"
                                       v-model="newApplicantForm.birthday"
                                       :class="{'is-invalid': $v.newApplicantForm.birthday.$error}"
                                       class="form-control">
                                <div
                                        v-if="$v.newApplicantForm.birthday.$dirty && !$v.newApplicantForm.birthday.required"
                                        class="text-danger w-100" style="text-align: start">
                                    Tug'ilgan vaqt kiritilmagan!
                                </div>
                                <div
                                        v-if="$v.newApplicantForm.birthday.$dirty && $v.newApplicantForm.birthday.required && !$v.newApplicantForm.birthday.dateValidator"
                                        class="text-danger w-100" style="text-align: start">
                                    Tug'ilgan vaqt noto'g'ri kiritilgan!
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start label_required"
                                   for="region">{% trans "Viloyat" %}</label>
                            <div class="col-8 col-xl-9">
                                <v-select
                                        v-model="newApplicantForm.region"
                                        :options="regions"
                                        label="title"
                                        placeholder="Viloyatni tanlang . . . "
                                        class="form-control"
                                        :class="{'v-error': $v.newApplicantForm.region.$error}">
                                    <span slot="no-options">Siz izlayotgan viloyat topilmadi!</span>
                                </v-select>
                                <div
                                        v-if="$v.newApplicantForm.region.$dirty && !$v.newApplicantForm.region.required"
                                        class="text-danger w-100" style="text-align: start">
                                    Viloyat tanlanmagan!
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start label_required"
                                   for="district">{% trans "Tuman/Shahar" %}</label>
                            <div class="col-8 col-xl-9">
                                <v-select
                                        v-model="newApplicantForm.district"
                                        :options="districts"
                                        label="title"
                                        placeholder="Tuman/Shaharni tanlang . . . "
                                        class="form-control"
                                        :class="{'v-error': $v.newApplicantForm.district.$error}"
                                >
                                    <span slot="no-options">Siz izlayotgan tuman/shahar topilmadi!</span>
                                </v-select>
                                <div
                                        v-if="$v.newApplicantForm.district.$dirty && !$v.newApplicantForm.district.required"
                                        class="text-danger w-100" style="text-align: start">
                                    Tuman/Shahar tanlanmagan!
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="quarter">{% trans "Mahalla" %}</label>
                            <div class="col-8 col-xl-9">
                                <v-select
                                        v-model="newApplicantForm.quarter"
                                        :options="quarters"
                                        label="title"
                                        placeholder="Mahallani tanlang . . . "
                                        class="form-control"
                                >
                                    <span slot="no-options">Siz izlayotgan mahalla topilmadi!</span>
                                </v-select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start label_required"
                                   for="address">{% trans "Ko'cha/Qishloq" %}</label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="address" name="address"
                                       class="form-control"
                                       placeholder="{% blocktrans %}Masalan: M.Iqbol ko'chasi 76-uy{% endblocktrans %}"
                                       v-model="newApplicantForm.address"
                                       :class="{'is-invalid': $v.newApplicantForm.address.$error}"
                                       autocomplete="off">
                                <div
                                        v-if="$v.newApplicantForm.address.$dirty && !$v.newApplicantForm.address.required"
                                        class="text-danger w-100" style="text-align: start">
                                    {% trans "Ko'cha/Qishloq kiritilmagan!" %}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start label_required"
                                   for="passport_seriya">{% trans "Passport seriya" %}</label>
                            <div class="col-8 col-xl-9">
                                <input type="text"
                                       class="form-control text-uppercase"
                                       v-model.trim="newApplicantForm.passport_seriya"
                                       :class="{'is-invalid': $v.newApplicantForm.passport_seriya.$error}"
                                       placeholder="{% blocktrans %}Masalan: AA{% endblocktrans %}"
                                       autocomplete="off">
                                <div
                                        v-if="$v.newApplicantForm.passport_seriya.$dirty && !$v.newApplicantForm.passport_seriya.required"
                                        class="text-danger w-100" style="text-align: start">
                                    {% trans "Passport seriya kiritilmagan!" %}
                                </div>
                                <div
                                        v-if="$v.newApplicantForm.passport_seriya.$dirty && $v.newApplicantForm.passport_seriya.required && !$v.newApplicantForm.passport_seriya.alpha"
                                        class="text-danger w-100" style="text-align: start">
                                    Faqat harf kiriting!
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start label_required"
                                   for="passport_number">{% trans "Passport raqam" %}</label>
                            <div class="col-8 col-xl-9">
                                <input type="number"
                                       class="form-control"
                                       v-model.number="newApplicantForm.passport_number"
                                       :class="{'is-invalid': $v.newApplicantForm.passport_number.$error}"
                                       placeholder="{% blocktrans %}Masalan: 3870293{% endblocktrans %}"
                                       autocomplete="off">
                                <div
                                        v-if="$v.newApplicantForm.passport_number.$dirty && !$v.newApplicantForm.passport_number.required"
                                        class="text-danger w-100" style="text-align: start">
                                    {% trans "Passport raqami kiritilmagan!" %}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start label_required"
                                   for="issue_by_whom">{% trans "Kim tomonidan berilgan" %}</label>
                            <div class="col-8 col-xl-9">
                                <input type="text"
                                       v-model.number="newApplicantForm.issue_by_whom"
                                       :class="{'is-invalid': $v.newApplicantForm.issue_by_whom.$error}"
                                       class="form-control text-uppercase"
                                       placeholder="{% blocktrans %}Masalan: BUXORO SHAHAR IIB{% endblocktrans %}"
                                       autocomplete="off">
                                <div
                                        v-if="$v.newApplicantForm.issue_by_whom.$dirty && !$v.newApplicantForm.issue_by_whom.required"
                                        class="text-danger w-100" style="text-align: start">
                                    {% trans "Kim tomonidan berilganligi kiritilmagan!" %}
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="{{ request.user.id }}" name="created_by">

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="addApplicantDialog = false">
                            Bekor qilish
                        </button>
                        <button type="button" class="btn btn-primary" @click="sendNewApplicantForm">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>