{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section class="py-3 mt-2 bg-info text-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2>{% trans "Xadya shartnomasi" %}</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <!-- left column -->
            <div class="col-md-12">
                {% include '_parts/messages.html' %}
                <table class="table table-bordered">
                    <tr>
                        <th scope="row">Seriyasi va raqami:</th>
                        <td>{% if gift_agreement.seriya %}{{ gift_agreement.seriya }}{% endif %}</td>
                    </tr>

                    <tr>
                        <th scope="row">Shartnoma tuzilgan sana:</th>
                        <td>{% if gift_agreement.date_conclusion_contract %}
                            {{ gift_agreement.date_conclusion_contract|date:"SHORT_DATE_FORMAT" }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Shaxs turi:</th>
                        <td>{% if gift_agreement.person_type == 'Y' %}
                            Yuridik shaxs{% else %}Jismoniy shaxs{% endif %}</td>
                    </tr>
                    {% if gift_agreement.person_type == 'Y' %}
                        <tr>
                            <th scope="row">Tashkilot:</th>
                            <td>{% if gift_agreement.organization %}
                                <a href="{% url 'user:view_organization_data' gift_agreement.organization.id %}">
                                    {{ gift_agreement.organization }}</a>{% endif %}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">Avtomobil:</th>
                        <td>{% if gift_agreement.car %}
                            <a href="{% url 'user:view_car_data' gift_agreement.car.id %}">{{ gift_agreement.car.model }}</a>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Yaratgan shaxs:</th>
                        <td>{% if gift_agreement.created_user %}
                            <a href="{% url 'user:view_personal_data' gift_agreement.created_user.id %}">{{ gift_agreement.created_user }}</a>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Yaratilgan vaqt:</th>
                        <td>{% if gift_agreement.created_date %}
                            {{ gift_agreement.created_date|date:"SHORT_DATETIME_FORMAT" }}{% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom %}

{% endblock bottom %}