{% extends 'base_vertical.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ car.model }}
{% endblock title %}

{% block page_title %}
    {% trans "Transport vositasini tahrirlash oynasi" %}
{% endblock page_title %}

{% block css %}
    <!-- Plugins css -->
    <link href="{% static 'assets/libs/mohithg-switchery/switchery.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/multiselect/css/multi-select.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/selectize/css/selectize.bootstrap3.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet"
          type="text/css"/>

    <!-- Loading button css -->
    <link href="{% static 'assets/libs/ladda/ladda.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/ladda/ladda-themeless.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Sweet Alert-->
    <link href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>

{% endblock css %}

{% block content %}
    <div class="row ml-2 mr-2">
        <div class="col-12 text-center p-0">
            <div class="card px-0 pt-4 pb-0 mb-3">
                <fieldset id="fieldset3">
                    <legend>Transport vositasi</legend>
                    <form action="#" id="edit_car_form" method="post">
                        {% csrf_token %}

                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="model">{% trans 'Transport vositasi modelini tanlang' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 model">
                                <select id="model" name="model" required class="form-control select2"
                                        data-width="100%">
                                    <option></option>
                                    <option data-style="color: blue;" value="new">Yangi model qo'shish</option>
                                    {% for model in models %}
                                        <option {% if car.model.id == model.id %} selected {% endif %}
                                                                                  value="{{ model.id }}">{{ model.title }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="type">{% trans 'Transport vositasi turini tanlang' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <select id="type" name="type" required data-width="100%"
                                        class="form-control select2">
                                    {% for car_type in car_types %}
                                        <option {% if form.instance.type == car_type %}selected{% endif %}
                                                value="{{ car_type.id }}">{{ car_type.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="fuel_types">{% trans "Yoqilg'i turini tanlang" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 fuel_types">

                                <select id="fuel_types" name="fuel_types" class="form-control"
                                        multiple="multiple">
                                    {% for fuel_type in fuel_types %}
                                        <option {% for get_fuel_type in form.instance.fuel_type.all %}
                                            {% if get_fuel_type == fuel_type %}selected{% endif %} {% endfor %}
                                            value="{{ fuel_type.id }}">{{ fuel_type.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="devices">{% trans "Alohida belgilar" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">

                                <select id="devices" name="devices" class="form-control"
                                        multiple="multiple">
                                    {% for device in devices %}
                                        <option {% for get_device in form.instance.device.all %}
                                            {% if get_device == device %}selected{% endif %} {% endfor %}
                                            value="{{ device.id }}">{{ device.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="body_type">{% trans 'Kuzov turi' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <select id="body_type" name="body_type" class="form-control select2" required
                                        data-width="100%">
                                    {% for bodyType in bodyTypes %}
                                        <option {% if form.instance.body_type == bodyType %}selected{% endif %}
                                                value="{{ bodyType.id }}">{{ bodyType.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="engine_number">{% trans 'Dvigitel raqami' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="engine_number" name="engine_number"
                                       class="form-control text-uppercase" required
                                       {% if form.instance.engine_number %}value="{{ form.instance.engine_number }}"{% endif %}
                                       placeholder="{% trans 'Masalan: WZX5645645456' %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="body_number">{% trans 'Kuzov raqami' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="body_number" name="body_number"
                                       class="form-control text-uppercase" required
                                       {% if form.instance.body_number %}value="{{ form.instance.body_number }}"{% endif %}
                                       placeholder="{% trans 'Masalan: XWB6595645456' %}"
                                       autocomplete="off">
                            </div>
                        </div>

                        <div class="row mb-3 chassis_number_div"
                             {% if form.instance.chassis_number == None %}style="display: none" {% endif %}>
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="chassis_number">{% trans 'Shassi raqami' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 chassis_number">
                                <input type="text" id="chassis_number"
                                       class="form-control text-uppercase" required
                                       {% if form.instance.chassis_number %}value="{{ form.instance.chassis_number }}"{% endif %}
                                       placeholder="{% trans 'Masalan: ZXW5642519873' %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="full_weight">{% trans "To'la vazni" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 full_weight">
                                <input type="number" id="full_weight" name="full_weight"
                                       class="form-control" required
                                       {% if form.instance.full_weight %}value="{{ form.instance.full_weight }}"{% endif %}
                                       placeholder="{% trans 'Masalan: 20500' %}"
                                       autocomplete="off">
                                <p class="text-muted" style="font-size: small; margin-bottom: 0; text-align:start">Ushbu
                                    qiymatni kilogrammda
                                    kiriting!</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="empty_weight">{% trans 'Yuksiz vazni' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 empty_weight">
                                <input type="number" id="empty_weight" name="empty_weight"
                                       class="form-control" required
                                       {% if form.instance.empty_weight %}value="{{ form.instance.empty_weight }}"{% endif %}
                                       placeholder="{% trans 'Masalan: 19500' %}"
                                       autocomplete="off">
                                <p class="text-muted" style="font-size: small; margin-bottom: 0; text-align:start">Ushbu
                                    qiymatni kilogrammda
                                    kiriting!</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="engine_power">{% trans 'Dvigatel quvvati' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 engine_power">
                                <input type="number" id="engine_power" name="engine_power"
                                       class="form-control"
                                       {% if form.instance.engine_power %}value="{{ form.instance.engine_power }}"{% endif %}
                                       placeholder="{% trans 'Masalan: 120' %}"
                                       autocomplete="off" required>
                                <p class="text-muted" style="font-size: small; margin-bottom: 0; text-align:start">Ushbu
                                    qiymatni kilogrammda
                                    kiriting!</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="color">{% trans 'Rangi' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 color">
                                <select id="color" name="color" required class="form-control select2 color"
                                        data-width="100%">
                                    <option></option>
                                    <option data-style="color: blue;" value="new">Yangi rang qo'shish</option>
                                    {% for color in colors %}
                                        <option {% if form.instance.color == color %}selected{% endif %}
                                                value="{{ color.id }}">{{ color.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="made_year">{% trans 'Ishlab chiqarilgan vaqti' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="date" id="made_year" name="made_year"
                                       {% if form.instance.made_year %}value="{{ form.instance.made_year|date:"Y-m-d" }}"{% endif %}
                                       class="form-control" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="price">{% trans 'Transport vositasi narxi' %}</label>
                            <div class="col-8 col-xl-9 price">
                                <input type="number" id="price" name="price"
                                       class="form-control" required
                                       {% if form.instance.price %}value="{{ form.instance.price }}"{% endif %}
                                       placeholder="{% trans 'Masalan: 47000000' %}"
                                       autocomplete="off">
                                <p class="text-muted" style="font-size: small; margin-bottom: 0; text-align:start">Ushbu
                                    qiymatni so'mda
                                    kiriting!</p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="lost_technical_passport">{% trans "Qayd etish guvohnomasi yo'qolganmi?" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <div class="row justify-content-start mt-1">
                                    <div class="col-3 col-md-2 col-lg-2 col-xl-2">
                                        <input type="radio" id="lost_technical_passport_yes"
                                               {% if form.instance.lost_technical_passport %}checked{% endif %}
                                               name="lost_technical_passport" value="true"
                                               class="form-check-input">
                                        <label class="form-check-label" for="lost_technical_passport_yes">Ha</label>
                                    </div>
                                    <div class="col-3 col-md-2 col-lg-2 col-xl-2">
                                        <input type="radio" id="lost_technical_passport_no"
                                               name="lost_technical_passport" value="false"
                                               class="form-check-input"
                                               {% if not form.instance.lost_technical_passport %}checked{% endif %}>
                                        <label class="form-check-label" for="lost_technical_passport_no">Yoq</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" id="old_technical_passport_div">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="old_technical_passport">{% trans "Qayd etish guvohnomasi seriyasi va raqami" %}</label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="old_technical_passport"
                                       class="form-control text-uppercase" required
                                       {% if form.instance.old_technical_passport %}value="{{ form.instance.old_technical_passport }}"{% endif %}
                                       placeholder="{% trans 'Masalan: AF4567895' %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="lost_number">{% trans "Davlat raqam belgisi yo'qolganmi?" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <div class="row justify-content-start mt-1">
                                    <div class="col-3 col-md-2 col-lg-2 col-xl-2">
                                        <input type="radio" id="lost_number_yes"
                                               {% if form.instance.lost_number %}checked{% endif %}
                                               name="lost_number" value="true"
                                               class="form-check-input">
                                        <label class="form-check-label" for="lost_number_yes">Ha</label>
                                    </div>
                                    <div class="col-3 col-md-2 col-lg-2 col-xl-2">
                                        <input type="radio" id="lost_number_no"
                                               name="lost_number" value="false"
                                               class="form-check-input"
                                               {% if not form.instance.lost_number %}checked{% endif %}>
                                        <label class="form-check-label" for="lost_number_no">Yoq</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" id="old_number_div">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="old_number">{% trans "Davlat raqam belgisi" %}</label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="old_number"
                                       class="form-control text-uppercase" required
                                       {% if form.instance.old_number %}value="{{ form.instance.old_number }}"{% endif %}
                                       placeholder="{% trans 'Masalan: 80979HBA' %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="is_old_number">{% trans 'Davlat raqam belgisi eskimi?' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <div class="row justify-content-start mt-1">
                                    <div class="col-3 col-md-2 col-lg-2 col-xl-2">
                                        <input type="radio" id="is_old_number_yes"
                                               {% if form.instance.is_old_number %}checked{% endif %}
                                               name="is_old_number" value="true"
                                               class="form-check-input">
                                        <label class="form-check-label" for="is_old_number_yes">Ha</label>
                                    </div>
                                    <div class="col-3 col-md-2 col-lg-2 col-xl-2">
                                        <input type="radio" id="is_old_number_no" name="is_old_number"
                                               class="form-check-input" value="false"
                                               {% if not form.instance.is_old_number %}checked{% endif %}>
                                        <label class="form-check-label" for="is_old_number_no">Yoq</label>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="is_auction">{% trans 'Yangi raqam auksiondan olinganmi?' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <div class="row justify-content-start mt-1">
                                    <div class="col-3 col-md-2 col-lg-2 col-xl-2">
                                        <input type="radio" id="is_auction_yes" value="true"
                                               {% if form.instance.is_auction %}checked{% endif %} name="is_auction"
                                               class="form-check-input">
                                        <label class="form-check-label" for="is_auction_yes">Ha</label>
                                    </div>
                                    <div class="col-3 col-md-2 col-lg-2 col-xl-2">
                                        <input type="radio" id="is_auction_no" name="is_auction"
                                               class="form-check-input" value="false"
                                               {% if not form.instance.is_auction %}checked{% endif %}>
                                        <label class="form-check-label" for="is_auction_no">Yoq</label>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="row mb-3" id="given_number_div">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="given_number">{% trans "Auksion raqami" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="given_number"
                                       class="form-control text-uppercase" required
                                       {% if form.instance.given_number %}value="{{ form.instance.given_number }}"{% endif %}
                                       placeholder="{% trans 'Masalan: 80979HBA' %}"
                                       autocomplete="off">
                            </div>
                        </div>
{#                        <div class="row mb-3">#}
{#                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"#}
{#                                   for="history">{% trans 'Transport vositasi tarixi' %}<span#}
{#                                    class="text-danger">*</span></label>#}
{#                            <div class="col-8 col-xl-9">#}
{#                                <select id="history" name="history" data-width="100%"#}
{#                                        class="form-control select2">#}
{#                                    <option value="false">-- -- --</option>#}
{#                                    {% for history in histories %}#}
{#                                        <option {% if form.instance.history == history %}selected{% endif %}#}
{#                                                value="{{ history.id }}">{{ history.model }}: {{ history.old_technical_passport }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="justify-content-end row">
                            <div class="col-3">
                                <button type="submit" id="saveBtn"
                                        class="btn btn-info waves-effect waves-light float-end">Saqlash
                                </button>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{% static 'assets/libs/selectize/js/standalone/selectize.min.js' %}"></script>
    <script src="{% static 'assets/libs/mohithg-switchery/switchery.min.js' %}"></script>
    <script src="{% static 'assets/libs/multiselect/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>

    <script src="{% static 'assets/libs/devbridge-autocomplete/jquery.autocomplete.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>

    <script src="{% static 'assets/libs/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-notify@3.1.3/bootstrap-notify.min.js"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" charset="UTF-8">
        $(function () {
            $('.select2').select2()
        })
        $(document).ready(function () {
            sendAuthorizationToken()

            function formatState(state) {
                if (!state.id) {
                    return state.text;
                }

                return $(
                    '<div style="' + $(state.element).data('style') + '"> ' + state.text + '</div>'
                );
            };

            $('#model').select2({
                placeholder: '-- modelni tanlang --',
                templateResult: formatState,
            }).on('select2:close', function () {
                var el = $(this);
                if (el.val() === "new") {
                    var newval = addCarModel(url = '{% url 'user:save_new_car_model' %}')
                    if (newval !== null) {
                        el.append('<option>' + newval + '</option>').val(newval);
                    }
                }
            })

            $('#color').select2({
                placeholder: '-- rangni tanlang --',
                templateResult: formatState,
            }).on('select2:close', function () {
                var el = $(this);
                if (el.val() === "new") {
                    var newval = addColor(url = '{% url 'user:save_new_color' %}')
                    if (newval !== null) {
                        el.append('<option>' + newval + '</option>').val(newval);
                    }
                }
            })

            $('#fuel_types').selectize({
                placeholder: "Masalan: BENZIN",
            });
            $('#devices').selectize({
                placeholder: "Masalan: MAXSUS O'QUV",
            });

            if ($('#lost_technical_passport_yes').is(':checked')) {
                $('#old_technical_passport_div').hide()
                $('#old_technical_passport').removeAttr('name')
            } else {
                $('#old_technical_passport_div').show()
                $('#old_technical_passport').attr('name', 'old_technical_passport')
            }

            $('input[name=lost_technical_passport]').on('change', function () {
                if ($('#lost_technical_passport_yes').prop('checked')) {
                    $('#old_technical_passport_div').hide()
                    $('#old_technical_passport').removeAttr('name')
                } else {
                    $('#old_technical_passport_div').show()
                    $('#old_technical_passport').attr('name', 'old_technical_passport')
                }
            })

            if ($('#is_auction_yes').is(':checked')) {
                $('#given_number_div').show()
                $('#given_number').attr('name', 'given_number')
            } else {
                $('#given_number_div').hide()
                $('#given_number').removeAttr('name')
            }

            $('input[name=is_auction]').on('change', function () {
                if ($('#is_auction_yes').prop('checked')) {
                    $('#given_number_div').show()
                    $('#given_number').attr('name', 'given_number')
                } else {
                    $('#given_number_div').hide()
                    $('#given_number').removeAttr('name')

                }
            })

            if ($('#lost_number_no').is(':checked')) {
                $('#old_number_div').show()
                $('#old_number').attr('name', 'old_number')
            } else {
                $('#old_number_div').hide()
                $('#old_number').removeAttr('name')
            }

            $('input[name=lost_number]').on('change', function () {
                if ($('#lost_number_no').prop('checked')) {
                    $('#old_number_div').show()
                    $('#old_number').attr('name', 'old_number')
                } else {
                    $('#old_number_div').hide()
                    $('#old_number').removeAttr('name')

                }
            })

            $('#history').on('change', function () {
                var selectedHistory = $(this).children("option:selected").val();
                if (parseInt(selectedHistory)) {
                    $(this).attr('name', 'history')
                } else {
                    $(this).removeAttr('name')
                }
            })

            $('#is_auction').on('change', function () {
                if ($(this).prop('checked')) {
                    $('#given_number_div').show()
                    $('#given_number_div').children('.col-12').children('input').attr('name', 'given_number')
                } else {
                    $('#given_number_div').hide()
                    $('#given_number_div').children('.col-12').children('input').removeAttr('name')
                }
            })

            ChangeCarType()

            function ChangeCarType() {
                var selectedCar = $('select#model').children("option:selected").val();

                if (!selectedCar === 'new') {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'user:get_car_type' %}",
                        data: {
                            'car': selectedCar, // from form
                        },
                        statusCode: {
                            200: function (response) {
                                if (response === "True") {
                                    //agar yuk avtomobil bo'lsa
                                    $('.chassis_number_div').show()
                                    $('#chassis_number').attr('name', 'chassis_number')

                                } else {
                                    //agar yengil avtomobil bo'lsa

                                    $('.chassis_number_div').hide()
                                    $('#chassis_number').removeAttr('name')
                                }
                            }, 400: function () {
                                error_toast()
                            }, 500: function () {
                                error_toast()
                            }
                        },
                    });
                }

            }

            $("select#model").change(function () {
                ChangeCarType()
            });


            $('#fuel_types').on('change', function () {
                var selectedFuelType = $(this).children("option:selected").val();
                if (parseInt(selectedFuelType)) {
                    $(this).valid()
                }
            })

            $('#made_year').on('change', function () {
                if ($(this).val() !== '') {
                    $(this).valid()
                }
            })


            jQuery.validator.addMethod("noSpace", function (value, element) {
                return value == '' || value.trim().length != 0;
            }, "Iltimos, bo'sh joy qoldirmang!");
            jQuery.validator.addMethod("customEmail", function (value, element) {
                return this.optional(element) || /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value);
            }, "Iltimos, to'g'ri elektron pochta manzilini kiriting!");
            $.validator.addMethod("alphanumeric", function (value, element) {
                return this.optional(element) || /^\w+$/i.test(value);
            }, "Faqat harf va raqam kiriting!");
            //  $.validator.addMethod("auctionNumber", function (value, element) {
            //    return this.optional(element) || /^[A-Z0-9]{8}$/i.test(value);
            //  }, "Raqamni to'liq kiriting!");

            var $editCarForm = $('#edit_car_form');
            if ($editCarForm.length) {
                $editCarForm.validate({
                    ignore: ":hidden:not('#fuel_types')",

                    rules: {
                        //username is the name of the textbox
                        engine_number: {
                            required: true,
                            //alphanumeric is the custom method, we defined in the above
                            alphanumeric: true,
                            noSpace: true,
                        },
                        body_number: {
                            required: true,
                            alphanumeric: true,
                            noSpace: true,
                        },
                        chassis_number: {
                            required: true,
                            alphanumeric: true,
                            noSpace: true,
                        },
                        fuel_types: {
                            required: true,
                        },
                        full_weight: {
                            required: true,
                        },
                        empty_weight: {
                            required: true,
                        },
                        engine_power: {
                            required: true,
                        },
                        made_year: {
                            required: true,
                        },

                        old_technical_passport: {
                            required: false,
                            alphanumeric: true,
                            noSpace: true,
                        },
                        given_number: {
                            required: false,
                        },
                        old_number: {
                            required: false,
                        },


                    },
                    messages: {
                        engine_number: {
                            //error message for the required field
                            required: 'Dvigatel raqami kiritilmagan!'
                        },
                        body_number: {
                            required: 'Kuzov raqami kiritilmagan!'
                        },
                        chassis_number: {
                            required: 'Shassi raqami kiritilmagan!'
                        },
                        fuel_types: {
                            required: "Yoqilg'i turi tanlanmagan!",
                        },
                        full_weight: {
                            required: "To'la vazn kiritilmagan!",
                        },
                        empty_weight: {
                            required: "Yuksiz vazn kiritilmagan!",
                        },
                        engine_power: {
                            required: "Dvigatel quvvati kiritilmagan!",
                        },
                        made_year: {
                            required: "Ishlab chiqarilgan vaqti kiritilmagan!",
                        },

                        old_technical_passport: {
                            required: "Qayd etish guvohnomasi seriyasi va raqami kiritilmagan!"
                        },
                        given_number: {
                            required: "Auksion raqami kiritilmagan!"
                        },
                        old_number: {
                            required: "Avtomobildagi davlat raqami kiritilmagan!"
                        },


                    },
                    errorPlacement: function (error, element) {
                        if (element.is("#fuel_types")) {
                            error.appendTo(element.parents('.fuel_types'));
                        } else if (element.is(":checkbox")) {
                            error.appendTo(element.parents('.devices'));
                        } else if (element.is("#full_weight")) {
                            error.appendTo(element.parents('.full_weight'));
                        } else if (element.is("#empty_weight")) {
                            error.appendTo(element.parents('.empty_weight'));
                        } else if (element.is("#engine_power")) {
                            error.appendTo(element.parents('.engine_power'));
                        } else {
                            error.insertAfter(element);
                        }

                    },


                    submitHandler: function (form) {
                        $('#saveBtn').attr('disabled', true)
                        $('#saveBtn').html('Saqlash&nbsp<i class="fas fa-spinner fa-spin"></i>')

                        var devices = []
                        $('.devices').each(function () {
                            if ($(this).prop('checked')) {
                                devices.push($(this).data('device'))
                            }
                        })

                        $('input[name ="devices"]').val(devices)
                        $('#saveBtn').val(`<span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`)

                        $.ajax({
                            type: "POST",
                            url: "{% url 'user:edit_car_data' car.id %}",
                            data: $(form).serialize(),
                            statusCode: {
                                200: function () {
                                    success_toast()
                                    $('#saveBtn').attr('disabled', false)
                                    $('#saveBtn').html('Saqlash')
                                },
                                400: function () {
                                    errorFunction()
                                    $('#saveBtn').attr('disabled', false)
                                    $('#saveBtn').html('Saqlash')
                                },
                                500: function () {
                                    errorFunction()
                                    $('#saveBtn').attr('disabled', false)
                                    $('#saveBtn').html('Saqlash')
                                }
                            },
                        });
                        return false; // required to block normal submit since you used ajax
                    }
                });
            }
        })
    </script>
{% endblock js %}