{% extends 'base.html' %}
{% load i18n %}
{% block top %}
    <style>
        #blah{
            width: 200px;
        }
    </style>
{% endblock top %}
{% block content %}
    <section class="py-3 mt-2 bg-info text-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2>{% trans "Ma'lumotlarni tekshiring va fotosuratni yuklang" %}</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">

            <h3>Ma'lumotlarni jo'natishdan avval tekshiring, noto'g'ri jo'natilgan ma'lumot YXXB RIB inspektorlari
                tomonidan rad etiladi!</h3>

            <!-- left column -->
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th scope="row">Shaxs turi</th>
                        <td>{{ data.get_person_type_display }}</td>
                    </tr>

                    {% if data.person_type == "E" %}
                        <tr>
                            <th scope="row">Korxona nomi:</th>
                            <td>{{ data.organization }}</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th scope="row">Avtomobil rusumi</th>
                        <td>{{ data.car }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Qayd etish guvohnomasi seriyasi:</th>
                        <td>{{ data.cert_seriya }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Qayd etish guvohnomasi raqami:</th>
                        <td>{{ data.cert_number }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Shartnoma tuzilgan sana:</th>
                        <td>{{ data.date_conclusion_contract }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Dvigitel raqami:</th>
                        <td>{{ data.engine_number }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Kuzov raqami:</th>
                        <td>{{ data.body_number }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Rangi:</th>
                        <td>{{ data.color }}</td>
                    </tr>
                    {% if data.car.is_truck %}
                        <tr>
                            <th scope="row">Shassi raqami:</th>
                            <td>{{ data.chassis_number }}</td>
                        </tr>
                    {% endif %}
                </table>

                <div class="alert alert-warning text-center">
                    <h3> Fotosuratni yuklash</h3>
                </div>

                <div class="card card-primary col-3">
                    <div class="card-header">
                        <h3 class="card-title">{% trans "Ma'lumotlarni kiriting" %}</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'account_statement:insert' %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">

                            <div class="form-group" id="chassis_number_div">
                                <label for="title">{% trans 'Fayl nomi:' %}</label>
                                <input type="text" class="form-control" id="title"
                                       placeholder="{% trans 'Masalan: Passport (old tomoni)' %}" name="title">
                            </div>
                            <div class="form-group" id="chassis_number_div">
                                <label for="img">{% trans 'Fotosuratni tanlang' %}</label>
                                <input type="file" class="form-control" id="img"
                                       name="img"  onchange="readURL(this);" >
                                <img id="blah" src="" alt="" />
                            </div>

                            <input type="hidden" name="user" value="{{ request.user.id }}">
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom %}
    <script>
     function readURL(input) {
          $('#blah').hide()
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result).fadeIn();
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
{% endblock bottom %}