{% load static i18n %}


<fieldset id="car_fieldset" v-show="isShowCarFieldset">
    <legend>Transport vositasi</legend>

    <form action="#" @submit.prevent="sendCarForm" method="post">
        <input type='hidden' value="0" name="person_type">
        <input type='hidden' value="" name="organization">
        <input type='hidden' :value="documentForm.seriya.toUpperCase()" name="seriya">
        <input type='hidden' :value="documentForm.contract_date" name="contract_date">

        <div class="alert-danger text-center"><p><b style="color: red; font-size: large">*</b> ushbu belgi qo'yilgan
            maydonlarni to'ldirish majburiy.</p>
        </div>


        <div class="row">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="car">{% trans 'Transport vositasi modelini tanlang' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8 car">

                <div class="input-group mb-3">

                    <v-select
                            v-model="carForm.model"
                            :options="carModels"
                            label="title"
                            placeholder="Model nomini qidiring . . . "
                            class="form-control"
                            :class="{'v-error': $v.carForm.model.$error}"
                    >
                        <span slot="no-options">Siz izlayotgan transport vositasi modeli topilmadi! <a href="#"
                                                                                                       @click="addCarModelDialog = true">yangi model qo'shish</a></span>
                    </v-select>
                    <div class="input-group-append" @click="addCarModelDialog = true">
                        <span class="input-group-text" style="height: 32px !important;">
                            <i class="fas fa-plus"></i>
                        </span>
                    </div>
                    <div
                            v-if="$v.carForm.model.$dirty && !$v.carForm.model.required"
                            class="text-danger w-100" style="text-align: start">
                        Transport vositasi modeli tanlanmagan!
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="type">{% trans 'Transport vositasi turini tanlang' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <v-select
                        v-model="carForm.type"
                        :options="types"
                        label="title"
                        placeholder="Transport vositasi turini qidiring . . . "
                        class="form-control"
                        :class="{'v-error': $v.carForm.type.$error}"
                >
                    <span slot="no-options">Siz izlayotgan transport vositasi turi topilmadi. 972800809 raqamiga murojat qiling</span>
                </v-select>
                <div
                        v-if="$v.carForm.type.$dirty && !$v.carForm.type.required"
                        class="text-danger w-100" style="text-align: start">
                    Transport vositasi turi tanlanmagan!
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="fuel_type">{% trans "Yoqilg'i turini tanlang" %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8 fuel_type">
                <v-select
                        v-model="carForm.fuel_type"
                        :options="fuelTypes"
                        label="title"
                        placeholder="Transport vositasi yoqilg'i turini qidiring . . . "
                        class="form-control"
                        :class="{'v-error': $v.carForm.fuel_type.$error}"
                >
                    <span slot="no-options">Siz izlayotgan yoqilg'i turi topilmadi. 972800809 raqamiga murojat qiling</span>
                </v-select>
                <div
                        v-if="$v.carForm.fuel_type.$dirty && !$v.carForm.fuel_type.required"
                        class="text-danger w-100" style="text-align: start">
                    Yoqilg'i turi tanlanmagan!
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="body_type">{% trans 'Kuzov turi' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <v-select
                        v-model="carForm.body_type"
                        :options="bodyTypes"
                        label="title"
                        placeholder="Kuzov turini qidiring . . . "
                        class="form-control"
                        :class="{'v-error': $v.carForm.body_type.$error}"
                >
                    <span slot="no-options">Siz izlayotgan kuzov turi topilmadi. 972800809 raqamiga murojat qiling</span>
                </v-select>
                <div
                        v-if="$v.carForm.body_type.$dirty && !$v.carForm.body_type.required"
                        class="text-danger w-100" style="text-align: start">
                    Kuzov turi tanlanmagan!
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="engine_number">{% trans 'Dvigitel raqami' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <input type="text"
                       class="form-control text-uppercase"
                       v-model.trim="carForm.engine_number"
                       placeholder="{% trans 'Masalan: WZX5645645456' %}"
                       autocomplete="off"
                       :class="{'is-invalid': $v.carForm.engine_number.$error}"
                >
                <div
                        v-if="$v.carForm.engine_number.$dirty && !$v.carForm.engine_number.required"
                        class="text-danger w-100" style="text-align: start">
                    Dvigitel raqami kiritilmagan!
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="body_number">{% trans 'Kuzov raqami' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <input type="text"
                       v-model.trim="carForm.body_number"
                       id="body_number"
                       class="form-control text-uppercase"
                       placeholder="{% trans 'Masalan: XWB6595645456' %}"
                       autocomplete="off"
                       :class="{'is-invalid': $v.carForm.body_number.$error}"
                >
                <div
                        v-if="$v.carForm.body_number.$dirty && !$v.carForm.body_number.required"
                        class="text-danger w-100" style="text-align: start">
                    Kuzov raqami kiritilmagan!
                </div>
                <div
                        v-if="$v.carForm.body_number.$dirty && !($v.carForm.body_number.minLength && $v.carForm.body_number.maxLength)"
                        class="text-danger w-100" style="text-align: start">
                    Kuzov raqami 17 xonali bo'lishi kerak!
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start"
                   for="chassis_number">{% trans 'Shassi raqami' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8 chassis_number">
                <input type="text"
                       id="chassis_number"
                       class="form-control text-uppercase"
                       v-model.trim="carForm.chassis_number"
                       placeholder="{% trans 'Masalan: RAQAMSIZ' %}"
                       autocomplete="off"
                >
            </div>
        </div>
        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="full_weight">{% trans "To'la vazni" %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8 full_weight">
                <input type="number"
                       id="full_weight"
                       v-model.number="carForm.full_weight"
                       class="form-control"
                       placeholder="{% trans 'Masalan: 20500' %}"
                       autocomplete="off"
                >
                <p class="text-muted" style="font-size: small; margin-bottom: 0; text-align:start">Ushbu
                    qiymatni kilogrammda
                    kiriting!</p>
            </div>
        </div>
        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="empty_weight">{% trans 'Yuksiz vazni' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8 empty_weight">
                <input type="number" id="empty_weight" v-model.number="carForm.empty_weight"
                       class="form-control"
                       placeholder="{% trans 'Masalan: 19500' %}"
                       autocomplete="off">
                <p class="text-muted" style="font-size: small; margin-bottom: 0; text-align:start">Ushbu
                    qiymatni kilogrammda
                    kiriting!</p>
            </div>
        </div>
        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="engine_power">{% trans 'Dvigatel quvvati' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8 engine_power">
                <input type="number"
                       id="engine_power"
                       v-model.number="carForm.engine_power"
                       class="form-control"
                       placeholder="{% trans 'Masalan: 120' %}"
                       autocomplete="off"
                       :class="{'is-invalid': $v.carForm.engine_power.$error}"
                >
                <p class="text-muted" style="font-size: small; margin-bottom: 0; text-align:start">Ushbu
                    qiymatni kilogrammda
                    kiriting!</p>
                <div
                        v-if="$v.carForm.engine_power.$dirty && !$v.carForm.engine_power.required"
                        class="text-danger w-100" style="text-align: start">
                    Dvigatel quvvati kiritilmagan!
                </div>
                <div
                        v-if="$v.carForm.engine_power.$dirty && !$v.carForm.engine_power.maxLength"
                        class="text-danger w-100" style="text-align: start">
                    Dvigatel quvvati eng yuqori 5 xonali bo'lishi mumkin!
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="color">{% trans 'Rangi' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8 color">
                <div class="input-group mb-3">

                    <v-select
                            v-model="carForm.color"
                            :options="colors"
                            label="title"
                            placeholder="Rangni qidiring . . . "
                            class="form-control"
                            :class="{'v-error': $v.carForm.color.$error}"
                    >
                        <span slot="no-options">Siz izlayotgan rang topilmadi! <a href="#"
                                                                                  @click="addCarColorDialog = true">yangi rang qo'shish</a></span>
                    </v-select>


                    <div class="input-group-append" @click="addCarColorDialog = true">
                        <span class="input-group-text">
                            <i class="fas fa-plus"></i>
                        </span>
                    </div>
                    <div
                            v-if="$v.carForm.color.$dirty && !$v.carForm.color.required"
                            class="text-danger w-100" style="text-align: start">
                        Rang tanlanmagan!
                    </div>
                </div>

            </div>
        </div>
        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
            >{% trans "Ishlab chiqarilgan kun va oyini aniq bilasizmi?" %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="row justify-content-start mt-1">
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="knowMadeYear_yes"
                               v-model="knowMadeYear" :value="true"
                               class="form-check-input">
                        <label class="form-check-label" for="knowMadeYear_yes">Ha, bilaman</label>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="knowMadeYear_no"
                               v-model="knowMadeYear" :value="false" checked
                               class="form-check-input">
                        <label class="form-check-label" for="knowMadeYear_no">Yo'q, bilmayman</label>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-form-label text-start label_required"
                   style="margin: auto"
                   for="made_year">{% trans 'Ishlab chiqarilgan vaqti' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8">

                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" v-show="knowMadeYear">
                        <label class="form-label" style="float: left">Kun</label>
                        <div class="input-group input-group-merge">
                            <input type="text"
                                   ref="day"
                                   class="form-control"
                                   v-model="carForm.day"
                                   placeholder="Kunni tanlang">
                            <div class="input-group-text icon">
                                <i class="fas fa-calendar-day"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" v-show="knowMadeYear">
                        <label for="password" class="form-label" style="float: left">Oy</label>
                        <div class="input-group input-group-merge">
                            <input type="text"
                                   ref="month"
                                   class="form-control"
                                   v-model="carForm.month"
                                   placeholder="Oyni tanlang">
                            <div class="input-group-text icon">
                                <i class="fas fa-calendar-day"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 year">
                        <label for="password" class="form-label label_required" style="float: left">Yil</label>
                        <div class="input-group input-group-merge">
                            <input
                                    type="text"
                                    ref="year"
                                    class="form-control"
                                    v-model="carForm.year"
                                    placeholder="Yil tanlang"
                                    :class="{'is-invalid': $v.carForm.year.$error}"
                            >
                            <div class="input-group-text icon">
                                <i class="fas fa-calendar-day"></i>
                            </div>
                        </div>
                        <div
                                v-if="$v.carForm.year.$dirty && !$v.carForm.year.required"
                                class="text-danger w-100" style="text-align: start">
                            Yil kiritilmagan!
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mb-3 check" id="is_relative_div">
            <label class="not_copy col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-start label_required"
                   for="is_relative">{% trans 'Xadya shartnomasi yaqin qarindosh (ota, ona, er, xotin, aka, uka, opa, singil) lar orasidami?' %}</label>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                <div class="row justify-content-start mt-1">
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="is_relative_yes" v-model="carForm.is_relative"
                               :value="true"
                               class="form-check-input">
                        <label class="form-check-label" for="is_relative_yes">Yaqin qarindosh</label>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="is_relative_no" v-model="carForm.is_relative"
                               :value="false"
                               class="form-check-input">
                        <label class="form-check-label" for="is_relative_no">Yaqin qarindosh emas</label>
                    </div>

                </div>


            </div>
        </div>
        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="lost_technical_passport">{% trans "Qayd etish guvohnomasi yo'qolganmi?" %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="row justify-content-start mt-1">
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="lost_technical_passport_yes"
                               v-model="carForm.lost_technical_passport" :value="true"
                               class="form-check-input">
                        <label class="form-check-label" for="lost_technical_passport_yes">Ha, yo'qolgan</label>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="lost_technical_passport_no"
                               v-model="carForm.lost_technical_passport" :value="false" checked
                               class="form-check-input">
                        <label class="form-check-label" for="lost_technical_passport_no">Yo'q, yo'qolmagan</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mb-3" v-if="!carForm.lost_technical_passport">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="old_technical_passport">{% trans "Qayd etish guvohnomasi seriyasi va raqami" %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <input type="text" id="old_technical_passport"
                       v-model="carForm.old_technical_passport"
                       class="form-control text-uppercase"
                       placeholder="{% trans 'Masalan: AAF4567895' %}"
                       autocomplete="off"
                       :class="{'is-invalid': $v.carForm.old_technical_passport.$error}"
                >
                <div
                        v-if="$v.carForm.old_technical_passport.$dirty && !$v.carForm.old_technical_passport.required"
                        class="text-danger w-100" style="text-align: start">
                    Qayd etish guvohnomasi seriyasi va raqami kiritilmagan!
                </div>
            </div>
        </div>
        <div class="row mb-3"
             v-if="hideDiv(carForm.is_auction, carForm.is_another_car, carForm.lost_number, carForm.is_saved_number)">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="save_old_number">{% trans "Transport vositasidagi DRBni saqlab qolish" %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="row justify-content-start mt-1">
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="save_old_number_yes"
                               v-model="carForm.save_old_number" :value="true"
                               class="form-check-input">
                        <label class="form-check-label" for="save_old_number_yes">Ha, saqlab qolaman</label>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="save_old_number_no"
                               v-model="carForm.save_old_number" :value="false"
                               class="form-check-input">
                        <label class="form-check-label" for="save_old_number_no">Yo'q, saqlab qolmayman</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mb-3" v-if="!carForm.save_old_number">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="lost_number">{% trans "Transport vositasidagi DRB yo'qolganmi?" %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="row justify-content-start mt-1">
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="lost_number_yes"
                               v-model="carForm.lost_number" :value="true"
                               class="form-check-input">
                        <label class="form-check-label" for="lost_number_yes">Ha, yo'qolgan</label>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="lost_number_no"
                               v-model="carForm.lost_number" :value="false"
                               class="form-check-input">
                        <label class="form-check-label" for="lost_number_no">Yo'q, yo'qolmagan</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mb-3" v-if="!carForm.lost_number">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="old_number">{% trans "Transport vositasidagi DRB" %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <input type="text" id="old_number"
                       v-model="carForm.old_number"
                       class="form-control text-uppercase"
                       placeholder="{% trans 'Masalan: 80979HBA' %}"
                       autocomplete="off"
                       :class="{'is-invalid': $v.carForm.old_number.$error}"
                >
                <div
                        v-if="$v.carForm.old_number.$dirty && !$v.carForm.old_number.required"
                        class="text-danger w-100" style="text-align: start">
                    Transport vositasidagi DRB kiritilmagan!
                </div>
            </div>
        </div>
        <div class="row mb-3" id="is_old_number_div">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="is_old_number">{% trans 'Transport vositasidagi DRB eski namunadami? Masalan: 01 A 5555' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="row justify-content-start mt-1">
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="is_old_number_yes"
                               v-model="carForm.is_old_number" :value="true"
                               class="form-check-input">
                        <label class="form-check-label" for="is_old_number_yes">Ha, eski</label>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="is_old_number_no" v-model="carForm.is_old_number"
                               class="form-check-input" :value="false">
                        <label class="form-check-label" for="is_old_number_no">Yo'q, eski emas</label>
                    </div>

                </div>


            </div>
        </div>
        <div class="row mb-3" v-if="hideDiv(carForm.is_auction, carForm.save_old_number, carForm.is_another_car)">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="is_saved_number">{% trans 'Yangi olinadigan DRB YXHB zahirasida saqlanmoqdami?' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="row justify-content-start mt-1">
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="is_saved_number_yes" v-model="carForm.is_saved_number"
                               class="form-check-input" :value="true">
                        <label class="form-check-label" for="is_saved_number_yes">Ha, saqlanyapti</label>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="is_saved_number_no" v-model="carForm.is_saved_number"
                               class="form-check-input" :value="false">
                        <label class="form-check-label" for="is_saved_number_no">Yo'q, saqlanmayapti</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mb-3" v-if="carForm.is_saved_number">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="saved_number">{% trans "Zahiradagi DRB" %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <input type="text" id="saved_number"
                       v-model="carForm.saved_number"
                       class="form-control text-uppercase"
                       placeholder="{% trans 'Masalan: 80979HBA' %}"
                       autocomplete="off"
                       :class="{'is-invalid': $v.carForm.saved_number.$error}"
                >
                <div
                        v-if="$v.carForm.saved_number.$dirty && !$v.carForm.saved_number.required"
                        class="text-danger w-100" style="text-align: start">
                    Zahiradagi DRB kiritilmagan!
                </div>
            </div>
        </div>
        <div class="row mb-3" v-if="hideDiv(carForm.save_old_number, carForm.is_auction, carForm.is_saved_number)">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="is_another_car">{% trans 'Boshqa transport vositasitangizdagi DRBni olmoqchimisiz?' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="row justify-content-start mt-1">
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="is_another_car_yes" v-model="carForm.is_another_car"
                               class="form-check-input" :value="true">
                        <label class="form-check-label" for="is_another_car_number_yes">Ha, olmoqchiman</label>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="is_another_car_no" v-model="carForm.is_another_car"
                               class="form-check-input" :value="false">
                        <label class="form-check-label" for="is_another_car_no">Yo'q, olmayman</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mb-3" v-if="carForm.is_another_car">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="saved_number">{% trans "Boshqa transport vositasitangizdagi DRB" %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <input type="text" id="another_car_number"
                       v-model="carForm.another_car_number"
                       class="form-control text-uppercase"
                       placeholder="{% trans 'Masalan: 80979HBA' %}"
                       autocomplete="off"
                       :class="{'is-invalid': $v.carForm.another_car_number.$error}"
                >
                <div
                        v-if="$v.carForm.another_car_number.$dirty && !$v.carForm.another_car_number.required"
                        class="text-danger w-100" style="text-align: start">
                    Boshqa transport vositasitangizdagi DRB kiritilmagan!
                </div>
            </div>
        </div>
        <div class="row mb-3" v-if="hideDiv(carForm.save_old_number, carForm.is_another_car, carForm.is_saved_number)">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="is_auction">{% trans 'Yangi olinadigan DRB auksiondan olinganmi?' %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="row justify-content-start mt-1">
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="is_auction_yes" v-model="carForm.is_auction"
                               class="form-check-input" :value="true">
                        <label class="form-check-label" for="is_auction_yes">Ha, auksiondan olingan</label>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-4 text-start">
                        <input type="radio" id="is_auction_no" v-model="carForm.is_auction"
                               class="form-check-input" :value="false">
                        <label class="form-check-label" for="is_auction_no">Yo'q, auksiondan olinmagan</label>
                    </div>

                </div>


            </div>
        </div>

        <div class="row mb-3" v-if="carForm.is_auction">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start label_required"
                   for="auction_number">{% trans "Auksiondan olingan DRB" %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <input type="text" id="auction_number"
                       v-model="carForm.auction_number"
                       class="form-control text-uppercase"
                       placeholder="{% trans 'Masalan: 80979HBA' %}"
                       autocomplete="off"
                       :class="{'is-invalid': $v.carForm.auction_number.$error}"
                >
                <div
                        v-if="$v.carForm.auction_number.$dirty && $v.carForm.auction_number.$error"
                        class="text-danger w-100" style="text-align: start">
                    Auksiondan olingan DRB kiritilmagan!
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start"
                   for="device">{% trans "Qayta jihozlash turlari" %}</label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <v-multiselect v-model="carForm.device" label="title" track-by="id"
                               placeholder="Alohida belgini tanlang . . ." open-direction="top" :options="devices"
                               :multiple="true">
                    <span slot="noResult">Siz izlayotgan alohida belgi topilmadi. 972800809 raqamiga murojat qiling</span>
                </v-multiselect>
            </div>
        </div>

        <div class="justify-content-end row">
            <div class="col-12">
                <button type="button" class="btn btn-secondary waves-effect waves-light float-start"
                        @click="()=>{isShowDocumentFieldset = true; isShowCarFieldset = false}"
                >Oldingi
                </button>
                {#                <button type="button" id="fake" class="btn btn-danger">Fake</button>#}
                <button :type="carFieldsetButtonType"
                        class="btn btn-info waves-effect waves-light float-end next">Keyingi
                </button>
            </div>
        </div>
    </form>
</fieldset>

{% block modals %}
    {% include 'modals/add_car_model_modal_vue.html' %}
    {% include 'modals/add_car_color_modal_vue.html' %}
{% endblock modals %}

