{% extends 'base_vertical.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {{ service.short_title }}
{% endblock title %}

{% block page_title %}
    {{ service.long_title }}
{% endblock page_title %}

{% block css %}

    <!-- Plugins css -->
    <link href="{% static 'assets/libs/mohithg-switchery/switchery.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/multiselect/css/multi-select.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/selectize/css/selectize.bootstrap3.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet"
          type="text/css"/>

    <!-- Loading button css -->
    <link href="{% static 'assets/libs/ladda/ladda.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/ladda/ladda-themeless.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Sweet Alert-->
    <link href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>


{% endblock css %}
{% block content %}
    <div class="row ml-2 mr-2">

        <div class="col-12 text-center p-0">
            <div class="card px-0 pt-4 pb-0 mb-3">
                <ul class="step d-flex flex-nowrap">
                    <li id="person_step" class="step-item active">
                        <span>Foydalanuvchi</span>
                    </li>
                    <li id="car_step" class="step-item">
                        <span>Transport vositasi</span>
                    </li>
                    <li id="section_step" class="step-item">
                        <span>Ariza topshirish hududi</span>
                    </li>
                </ul>
                <br>
                <br>
                <fieldset id="fieldset1">
                    <legend>Foydalanuvchi</legend>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        {% include 'service/inc/person_type_block.html' %}
                        <div class="justify-content-end row">
                            <div class="col-8 col-xl-9">
                                <button type="button" class="btn btn-info waves-effect waves-light float-end"
                                        id="next1">Keyingi
                                </button>
                            </div>
                        </div>

                    </form>
                </fieldset>
                <fieldset id="fieldset2" style="display: none">
                    <legend>Transport vositasi</legend>
                    <form action="#" id="save_car_form" method="post">
                        {% csrf_token %}
                        <input type='hidden' value="0" name="person_type">
                        <input type='hidden' value="" name="organization">
                        <input type='hidden' value="" name="devices">


                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="car">{% trans 'Transport vositasi modelini tanlang' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 car">
                                <select id="car" name="car" required class="form-control select2"
                                        data-width="100%">
                                    <option></option>
                                    <option data-style="color: blue;" value="new">Yangi model qo'shish</option>
                                    {% for car in cars %}
                                        <option value="{{ car.id }}">{{ car.title }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="car_type">{% trans 'Transport vositasi turini tanlang' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <select id="car_type" name="car_type" required data-width="100%"
                                        class="form-control select2">
                                    {% for car_type in car_types %}
                                        <option value="{{ car_type.id }}">{{ car_type.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="fuel_types">{% trans "Yoqilg'i turini tanlang" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 fuel_types">

                                <select id="fuel_types" name="fuel_types" class="form-control"
                                        multiple="multiple">
                                    {% for fuel_type in fuel_types %}
                                        <option value="{{ fuel_type.id }}">{{ fuel_type.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="devices">{% trans "Alohida belgilar" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">

                                <select id="devices" name="devices" class="form-control"
                                        multiple="multiple">
                                    {% for device in devices %}
                                        <option value="{{ device.id }}">{{ device.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="body_type">{% trans 'Kuzov turi' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <select id="body_type" name="body_type" class="form-control select2" required
                                        data-width="100%">
                                    {% for bodyType in bodyTypes %}
                                        <option value="{{ bodyType.id }}">{{ bodyType.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="engine_number">{% trans 'Dvigitel raqami' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="engine_number" name="engine_number"
                                       class="form-control text-uppercase" required
                                       placeholder="{% trans 'Masalan: WZX5645645456' %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="body_number">{% trans 'Kuzov raqami' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="body_number" name="body_number"
                                       class="form-control text-uppercase" required
                                       placeholder="{% trans 'Masalan: XWB6595645456' %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3 chassis_number_div" style="display: none">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="chassis_number">{% trans 'Shassi raqami' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 chassis_number">
                                <input type="text" id="chassis_number"
                                       class="form-control text-uppercase" required
                                       placeholder="{% trans 'Masalan: ZXW5642519873' %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="full_weight">{% trans "To'la vazni" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 full_weight">
                                <input type="number" id="full_weight" name="full_weight"
                                       class="form-control" required
                                       placeholder="{% trans 'Masalan: 20500' %}"
                                       autocomplete="off">
                                <p class="text-muted" style="font-size: small; margin-bottom: 0; text-align:start">Ushbu
                                    qiymatni kilogrammda
                                    kiriting!</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="empty_weight">{% trans 'Yuksiz vazni' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 empty_weight">
                                <input type="number" id="empty_weight" name="empty_weight"
                                       class="form-control" required
                                       placeholder="{% trans 'Masalan: 19500' %}"
                                       autocomplete="off">
                                <p class="text-muted" style="font-size: small; margin-bottom: 0; text-align:start">Ushbu
                                    qiymatni kilogrammda
                                    kiriting!</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="engine_power">{% trans 'Dvigatel quvvati' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 engine_power">
                                <input type="number" id="engine_power" name="engine_power"
                                       class="form-control"
                                       placeholder="{% trans 'Masalan: 120' %}"
                                       autocomplete="off" required>
                                <p class="text-muted" style="font-size: small; margin-bottom: 0; text-align:start">Ushbu
                                    qiymatni kilogrammda
                                    kiriting!</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="color">{% trans 'Rangi' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 color">
                                <select id="color" name="color" required class="form-control select2 color"
                                        data-width="100%">
                                    <option></option>
                                    <option data-style="color: blue;" value="new">Yangi rang qo'shish</option>
                                    {% for color in color %}
                                        <option value="{{ color.id }}">{{ color.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="made_year">{% trans 'Ishlab chiqarilgan vaqti' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="date" id="made_year" name="made_year"
                                       class="form-control" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="lost_technical_passport">{% trans "Qayd etish guvohnomasi yo'qolganmi?" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <div class="row justify-content-start mt-1">
                                    <div class="col-3 col-md-2 col-lg-2 col-xl-2">
                                        <input type="radio" id="lost_technical_passport_yes"
                                               name="lost_technical_passport" value="true"
                                               class="form-check-input">
                                        <label class="form-check-label" for="lost_technical_passport_yes">Ha</label>
                                    </div>
                                    <div class="col-3 col-md-2 col-lg-2 col-xl-2">
                                        <input type="radio" id="lost_technical_passport_no"
                                               name="lost_technical_passport" value="false" checked
                                               class="form-check-input">
                                        <label class="form-check-label" for="lost_technical_passport_no">Yoq</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" id="old_technical_passport_div">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="old_technical_passport">{% trans "Qayd etish guvohnomasi seriyasi va raqami" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="old_technical_passport"
                                       class="form-control text-uppercase" required
                                       placeholder="{% trans 'Masalan: AF4567895' %}"
                                       autocomplete="off">
                            </div>
                        </div>

                        <div class="row mb-3" id="old_number_div">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="old_number">{% trans "Davlat raqam belgisi" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="old_number" name="old_number"
                                       class="form-control text-uppercase" required
                                       placeholder="{% trans 'Masalan: 80979HBA' %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="justify-content-end row">
                            <div class="col-12">
                                <button type="button" class="btn btn-secondary waves-effect waves-light float-start"
                                        id="prev2">Oldingi
                                </button>
                                <button type="button" id="fake" class="btn btn-danger">Fake</button>
                                <button type="submit" id="next2"
                                        class="btn btn-info waves-effect waves-light float-end">Keyingi
                                </button>
                            </div>
                        </div>
                    </form>
                </fieldset>

                <fieldset id="fieldset3" style="display: none">
                    {% include 'service/_parts/territory_of_rib.html' %}
                </fieldset>

            </div>

        </div>
    </div>

{% endblock content %}

{% block js %}
    <script src="{% static 'assets/libs/selectize/js/standalone/selectize.min.js' %}"></script>
    <script src="{% static 'assets/libs/mohithg-switchery/switchery.min.js' %}"></script>
    <script src="{% static 'assets/libs/multiselect/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>

    <script src="{% static 'assets/libs/devbridge-autocomplete/jquery.autocomplete.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>

    <script src="{% static 'assets/libs/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-notify@3.1.3/bootstrap-notify.min.js"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

    <script type="text/javascript" charset="UTF-8">
        $(function () {
            $('.select2').select2()


            {#$('#fieldset1').hide()#}
            {#$('#fieldset3').show()#}

        })

        $(document).ready(function () {
                var token = getCookie('token'),
                    csrftoken = getCookie('csrftoken')


                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken)
                        xhr.setRequestHeader('Authorization', `Token ${token}`)
                    },
                    error: function (response) {
                        if (response.status === 401) {
                            tokenInvalid()
                        }
                    }
                })

                var passport = htmlDecode('{% if request.user.passport_seriya %}{{ request.user.passport_seriya }}{% endif %}{% if request.user.passport_number %}{{ request.user.passport_number }}{% endif %}'),
                    firstName = htmlDecode('{{ request.user.first_name }}'),
                    lastName = htmlDecode('{{ request.user.last_name }}'),
                    middleName = htmlDecode('{{ request.user.middle_name }}')


                $('#first_name').attr('value', firstName)
                $('#last_name').attr('value', lastName)
                $('#middle_name').attr('value', middleName)
                $('#passport').attr('value', passport)

                $("#person_type").change(function () {
                    var selectedPersonType = $(this).children("option:selected").val();
                    $('input[name ="person_type"]').val(selectedPersonType)
                    if (selectedPersonType === '1') {


                        $('#div_organization').show()
                        $('#physical_div').hide()
                        $('#legal_div').show()
                        is_legal = true


                        if (typeof ($('#organization option').attr('value')) == 'undefined') {
                            $('#organization_div_alert').show()
                            $('#next1').attr('disabled', true)
                        } else {
                            changeOrganizationValues()
                            $('#organization_div_alert').hide()
                            $('#next1').attr('disabled', false)
                        }
                    } else if (selectedPersonType === '0') {
                        $('#next1').attr('disabled', false)
                        $('#organization_div_alert').hide()
                        $('#physical_div').show()
                        $('#legal_div').hide()
                        $('#div_organization').css('display', 'none')
                        is_legal = false
                    }
                });
                $('#organization').on('change', function () {
                    changeOrganizationValues()
                })


                $('#next1').on('click', function () {
                    $('#person_type').attr('disabled', true)
                    $('#organization').attr('disabled', true)
                    $('#fieldset1').hide()
                    $('#fieldset2').show()
                    $('#car_step').addClass('active')
                    $('#person_step').removeClass('active')
                })
                $('#next2').on('click', function () {
                    if ($(this).attr('type') === 'button') {
                        $('#fieldset2').hide()
                        $('#fieldset3').show()
                    }
                })

                function formatState(state) {
                    if (!state.id) {
                        return state.text;
                    }

                    return $(
                        '<div style="' + $(state.element).data('style') + '"> ' + state.text + '</div>'
                    );
                };

                $('#car').select2({
                    placeholder: '-- modelni tanlang --',
                    templateResult: formatState,
                }).on('select2:close', function () {
                    var el = $(this);
                    if (el.val() === "new") {
                        var newval = addCarModel(url = '{% url 'user:save_new_car_model' %}')

                        if (newval !== null && newval !== undefined) {
                            el.append('<option>' + newval + '</option>').val(newval);
                        }

                    }
                })

                $('#color').select2({
                    placeholder: '-- rangni tanlang --',
                    templateResult: formatState,
                }).on('select2:close', function () {
                    var el = $(this);
                    if (el.val() === "new") {
                        var newval = addColor(url = '{% url 'user:save_new_color' %}')
                        if (newval !== null) {
                            el.append('<option>' + newval + '</option>').val(newval);
                        }
                    }
                })


                $('#next3').on('click', function (e) {
                    e.preventDefault()


                    if ($('#district').children("option:selected").val()) {
                        $('#save_section_form').submit()
                    }


                })


                $('#fake').on('click', function () {
                    generate_fake_data()
                })


                $('#fuel_types').selectize({
                    inputClass: 'form-control selectize-input',
                    placeholder: "Masalan: BENZIN",
                    sortField: "text",
                });
                $('#devices').selectize({
                    inputClass: 'form-control selectize-input',
                    dropdownParent: "body",
                    placeholder: "Masalan: MAXSUS",
                });


                {#$('#fieldset1').hide()#}
                {#$('#fieldset2').show()#}
                var is_legal = false


                if ($('#lost_technical_passport_yes').is(':checked')) {
                    $('#old_technical_passport_div').hide()
                    $('#old_technical_passport').removeAttr('name')
                } else {
                    $('#old_technical_passport_div').show()
                    $('#old_technical_passport').attr('name', 'old_technical_passport')
                }

                $('input[name=lost_technical_passport]').on('change', function () {
                    if ($('#lost_technical_passport_yes').prop('checked')) {
                        $('#old_technical_passport_div').hide()
                        $('#old_technical_passport').removeAttr('name')
                    } else {
                        $('#old_technical_passport_div').show()
                        $('#old_technical_passport').attr('name', 'old_technical_passport')
                    }
                })


                function changeOrganizationValues() {
                    $.ajax({
                        type: 'POST',
                        url: '{% url "user:get_organization" %}',
                        data: {'organization': $('#organization option:selected').val()},
                        statusCode: {
                            200: function (response) {
                                $('#director').attr('value', response.organization.fields.director)
                                $('#identification_number').attr('value', response.organization.fields.identification_number)
                                $('#legal_address_region').attr('value', response.legal_address_region)
                                $('#legal_address_district').attr('value', response.legal_address_district)

                                $('input[name ="organization"]').val($('#organization option:selected').val())
                            },
                            404: function () {
                                error_toast()
                            },
                        },
                    })
                }

                $('#div_organization').hide()


                function ChangeCarType() {
                    var selectedCar = $('select#car').children("option:selected").val();

                    if (!selectedCar === 'new') {
                        $.ajax({
                            type: "POST",
                            url: "{% url 'user:get_car_type' %}",
                            data: {
                                'car': selectedCar, // from form
                            },
                            statusCode: {
                                200: function (response) {
                                    if (response === "True") {
                                        //agar yuk avtomobil bo'lsa
                                        $('.chassis_number_div').show()
                                        $('#chassis_number').attr('name', 'chassis_number')

                                    } else {
                                        //agar yengil avtomobil bo'lsa

                                        $('.chassis_number_div').hide()
                                        $('#chassis_number').removeAttr('name')
                                    }
                                }, 400: function () {
                                    error_toast()
                                }, 500: function () {
                                    error_toast()
                                }
                            },
                        });
                    }

                }

                $("select#car").change(function () {
                    ChangeCarType()
                });

                $('#prev2').on('click', function () {
                    $('#fieldset2').hide()
                    $('#fieldset1').show()
                })

                $('#prev4').on('click', function () {
                    $('#fieldset3').hide()
                    $('#fieldset2').show()
                })

                $(document).on('click', '#prev3', function () {
                    $('#fieldset3').hide()
                    $('#fieldset2').show()
                })

                $('#fuel_types').on('change', function () {
                    var selectedFuelType = $(this).children("option:selected").val();
                    if (parseInt(selectedFuelType)) {
                        $(this).valid()
                    }
                })

                $('#car').on('change', function () {
                    var selectedCarModel = $(this).children("option:selected").val();
                    if (parseInt(selectedCarModel)) {
                        $(this).valid()
                    }
                })
                $('#color').on('change', function () {
                    var selectedColor = $(this).children("option:selected").val();
                    if (parseInt(selectedColor)) {
                        $(this).valid()
                    }
                })

                jQuery.validator.addMethod("noSpace", function (value, element) {
                    return value == '' || value.trim().length != 0;
                }, "Iltimos, bo'sh joy qoldirmang!");
                jQuery.validator.addMethod("customEmail", function (value, element) {
                    return this.optional(element) || /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value);
                }, "Iltimos, to'g'ri elektron pochta manzilini kiriting!");
                $.validator.addMethod("alphanumeric", function (value, element) {
                    return this.optional(element) || /^\w+$/i.test(value);
                }, "Faqat harf va raqam kiriting!");
                //   $.validator.addMethod("auctionNumber", function (value, element) {
                //      return this.optional(element) || /^[A-Z0-9]{8}$/i.test(value);
                // }, "Raqamni to'liq kiriting!");

                var $registrationForm = $('#save_car_form');
                if ($registrationForm.length) {
                    $registrationForm.validate({
                        ignore: ":hidden:not('#fuel_types')",

                        rules: {
                            //username is the name of the textbox
                            engine_number: {
                                required: true,
                                //alphanumeric is the custom method, we defined in the above
                                alphanumeric: true,
                                noSpace: true,
                            },
                            body_number: {
                                required: true,
                                alphanumeric: true,
                                noSpace: true,
                            },
                            chassis_number: {
                                required: true,
                                alphanumeric: true,
                                noSpace: true,
                            },
                            fuel_types: {
                                required: true,
                            },
                            car: {
                                required: true,
                            },
                            color: {
                                required: true,
                            },
                            full_weight: {
                                required: true,
                            },
                            empty_weight: {
                                required: true,
                            },
                            engine_power: {
                                required: true,
                            },

                            made_year: {
                                required: true,
                                date: true,
                            },

                            old_technical_passport: {
                                required: true,
                                alphanumeric: true,
                                noSpace: true,
                            },

                            old_number: {
                                required: true,
                            },


                        },
                        messages: {
                            car: {
                                //error message for the required field
                                required: 'Transport vositasi modeli tanlanmagan!'
                            },
                            engine_number: {
                                //error message for the required field
                                required: 'Dvigatel raqami kiritilmagan!'
                            },
                            body_number: {
                                required: 'Kuzov raqami kiritilmagan!'
                            },
                            chassis_number: {
                                required: 'Shassi raqami kiritilmagan!'
                            },
                            fuel_types: {
                                required: "Yoqilg'i turi tanlanmagan!",
                            },
                            full_weight: {
                                required: "To'la vazn kiritilmagan!",
                            },
                            empty_weight: {
                                required: "Yuksiz vazn kiritilmagan!",
                            },
                            engine_power: {
                                required: "Dvigatel quvvati kiritilmagan!",
                            },
                            made_year: {
                                required: "Ishlab chiqarilgan vaqti kiritilmagan!",
                            },
                            color: {
                                required: "Transport vositasi rangi tanlanmagan!",
                            },

                            old_technical_passport: {
                                required: "Qayd etish guvohnomasi seriyasi va raqami kiritilmagan!"
                            },

                            old_number: {
                                required: "Avtomobildagi davlat raqami kiritilmagan!"
                            },


                        },
                        errorPlacement: function (error, element) {
                            if (element.is("#car")) {
                                error.appendTo(element.parents('.car'));
                            } else if (element.is("#fuel_types")) {
                                error.appendTo(element.parents('.fuel_types'));
                            } else if (element.is("#color")) {
                                error.appendTo(element.parents('.color'));
                            } else if (element.is(":checkbox")) {
                                error.appendTo(element.parents('.devices'));
                            } else if (element.is("#full_weight")) {
                                error.appendTo(element.parents('.full_weight'));
                            } else if (element.is("#empty_weight")) {
                                error.appendTo(element.parents('.empty_weight'));
                            } else if (element.is("#engine_power")) {
                                error.appendTo(element.parents('.engine_power'));
                            } else {
                                error.insertAfter(element);
                            }

                        },


                        submitHandler: function (form) {
                            $('#next2').attr('disabled', true)
                            $('#next2').html('Keyingi&nbsp<i class="fas fa-spinner fa-spin"></i>')

                            var devices = []
                            $('.devices').each(function () {
                                if ($(this).prop('checked')) {
                                    devices.push($(this).data('device'))
                                }
                            })

                            $('input[name ="devices"]').val(devices)
                            console.log($(form).serialize())
                            $.ajax({
                                type: "POST",
                                url: "{% url 'service:replace_tp' %}",
                                data: $(form).serialize(),
                                statusCode: {
                                    200: function (response) {
                                        $('#fieldset2').hide()
                                        $('#fieldset3').show()

                                        $('#next2').attr('type', 'button');
                                        $('#next2').attr('disabled', false);
                                        $('#next2').html('Keyingi')


                                        $('input[name ="application"]').val(response)

                                        $('#section_step').addClass('active')
                                        $('#car_step').removeClass('active')

                                        $('#car').attr('disabled', 'disabled')
                                        $('#engine_number').attr("disabled", "disabled")
                                        $('#body_number').attr("disabled", "disabled")
                                        $('#chassis_number').attr("disabled", "disabled")
                                        $('#body_type').attr("disabled", "disabled")
                                        $('#color').attr("disabled", "disabled")
                                        $('#made_year').attr("disabled", "disabled")
                                        $('.devices').attr("disabled", "disabled")
                                        $('#fuel_types').attr("disabled", "disabled")
                                        $('#car_type').attr("disabled", "disabled")
                                        $('#empty_weight').attr("disabled", "disabled")
                                        $('#full_weight').attr("disabled", "disabled")
                                        $('#engine_power').attr("disabled", "disabled")


                                        $('input[name=lost_technical_passport]').attr("disabled", "disabled")
                                        $('input[name=old_technical_passport]').attr("disabled", "disabled")
                                        $('input[name=old_number]').attr("disabled", "disabled")


                                    },
                                    400: function () {
                                        errorFunction()
                                        $('#next2').attr('type', 'submit')
                                        $('#next2').attr('disabled', false)
                                        $('#next2').html('Keyingi')
                                    }
                                },
                            });
                            return false; // required to block normal submit since you used ajax
                        }
                    });
                }

                {#$('.copy_application').on('click', function () {#}
                {#    var filename = $(this).data('filename')#}
                {#    var url = "{% url "application:create_application_doc" '123' %}";#}
                {#    document.location.href = url.replace('123', filename);#}
                // {#})#}
                {##}
                {#$('#payment_render_pdf').on('click', function () {#}
                {#    var element = document.getElementById('render_div'),#}
                {#        filename = `To'lov`#}
                {##}
                {#    html_to_pdf(element, filename)#}
                //{#})#}

                $('#region').change(function () {
                    get_sections_list()
                })
                get_sections_list()

                $(document).on('click', '.send_application', function () {

                    $('#load').css('visibility', 'visible')

                    $.ajax({
                        type: 'POST',
                        url: '{% url "application:save_application_section" %}',
                        data: {
                            'section': $(this).data("id"),
                            'application': $('input[name ="application"]').val()
                        },
                        statusCode: {
                            200: function (res) {
                                const Toast = Swal.mixin({
                                    toast: true,
                                    position: 'top-end',
                                    background: '#72fabd',
                                    showConfirmButton: false,
                                    timer: 5000,
                                    timerProgressBar: false,
                                    didOpen: (toast) => {
                                        toast.addEventListener('mouseenter', Swal.stopTimer)
                                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                                    },
                                    onClose: (toast) => {
                                        var url = "{% url "application:application_detail" 12345 %}".replace(/12345/, $('input[name ="application"]').val());
                                        window.location.href = url
                                    }
                                })
                                Toast.fire({
                                    icon: 'success',
                                    title: 'Arizangiz muvaffaqiyatli topshirildi!'
                                })
                            },
                            400: function () {
                                error_toast()
                                $('#load').css('visibility', 'hidden')
                            },
                            404: function () {
                                error_toast()
                                $('#load').css('visibility', 'hidden')
                            }
                        }
                    })

                });

                function get_sections_list() {
                    var SelectedRegion = $('#region').children("option:selected").val()


                    $.ajax({
                        type: "GET",
                        url: "{% url 'user:sections_list_by_region' %}",
                        data: {
                            'region': SelectedRegion, // from form
                        },
                        statusCode: {
                            200: function (res) {
                                var li = ''


                                $.each(res, function (index, value) {

                                    li += `<li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto col-7 col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-9 text-start">
                                                    <div class="fw-bold text-start text-start">${value[1]}</div>
                                                    ${value[2]} ${value[3]} ${value[4]}
                                                </div>
                                                <div class="col-5 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                                                    <button type="button" data-id="${value[0]}" class="btn btn-info waves-effect waves-light send_application"  >Ariza topshirish
                                                    </button>
                                                </div>
                                            </li>`


                                });


                                $('#sections_list').html(li)
                            },
                            404: function () {

                            }
                        },
                    });
                }


            }
        )
    </script>
{% endblock js %}






