{% load static i18n %}

<!-- Modal -->
<div class="modal fade" style="display: none" id="add_car_color_modal" data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="addColorLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" method="POST" id="add_car_color_form">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Transport vositasi rangi qo'shish</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="not_copy col-5 col-form-label text-start"
                               for="color_title">{% trans "Yangi rang nomi" %}<span
                                class="text-danger">*</span></label>
                        <div class="col-7">
                            <input type="text" id="color_title" name="color_title"
                                   class="form-control" required
                                   placeholder='Masalan: Oq'
                                   autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="cancel_car_color_modal" class="btn btn-secondary" data-bs-dismiss="modal">
                        Bekor qilish
                    </button>
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% block js %}
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

        })
        $(document).ready(function () {

            $('#add_car_color_form').on('submit', function (e) {
                e.preventDefault()
                $('#color_title').attr('name', 'title')
                var form = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: '{% url 'api_user:create_color' %}',
                    data: form
                }).then(function (res) {
                    console.log(res)
                    $("#color").select2({
                        data: [{
                            id: res.id,
                            text: `${res.title}`
                        }],
                        templateResult: formatState,
                        escapeMarkup: function (markup) {
                            return markup;
                        },
                        language: {
                            noResults: function () {
                                return "Ma'lumot topilmadi! <a href='#' id='add_new_color'>Yangi rang qo'shish</a>";
                            }
                        },
                    })
                    $('#color').val(res.id)
                    $('#color').trigger('change')
                    $('#add_car_color_modal').modal('hide')
                }, function (err) {
                    console.log(err)
                    swal.fire(
                        'Xatolik!',
                        "Sahifani yangilab qayta urinib ko'ring!",
                        'error'
                    )
                })
            })

            $(document).on('click', '#add_new_color', function () {
                $('#add_car_color_modal').modal('show')
                $('#color').select2('close')
            })
        })
    </script>
{% endblock js %}