{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>

    <meta charset="utf-8"/>
    <title>{% block title %}E-RIB.UZ - Avtotransport vositalarini ro'yhatdan o'tkazish onlayn
        platformasi{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Avtotransport vositalarini ro'yhatdan o'tkazish onlayn platformasi " name="description"/>
    <meta content='"OPENSOFT" MCHJ' name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- plugin css -->
    <link href="{% static 'assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}"
          rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link href="{% static 'assets/css/config/creative/bootstrap.min.css' %}" rel="stylesheet" type="text/css"
          id="bs-default-stylesheet"/>
    <link href="{% static 'assets/css/config/creative/app.min.css' %}" rel="stylesheet" type="text/css"
          id="app-default-stylesheet"/>


    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>

    <!-- icons -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>

    {% block css %}

    {% endblock css %}

    <style>
        .form-control:disabled, .form-control[readonly] {
            background-color: #dddcdc;
            font-weight: bold;
            cursor: not-allowed;
        }

        ::placeholder {
            color: rgba(128, 128, 128, 0.78);
            font-size: 0.9em;
        }

        .form-control, .form-select {
            box-shadow: none;
            font-weight: bold;
        }

        .selectize-control.multi .selectize-input > div {
            border: 1px solid #3283f6;
            color: #3283f6;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            height: 120%;
        }

    </style>
</head>

<body class="loading" id="body" data-layout-mode="two-column"
      data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", {% block show_left_bar %} "size": "default"{% endblock show_left_bar %}, "showuser": false}, "topbar": {"color": "light"}, "showRightSidebarOnPageLoad": false}'>

<!-- Begin page -->
<div id="load"></div>
<div id="wrapper">

    <!-- Topbar Start -->
    {% include '_parts/navbar.html' %}
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    {% include '_parts/left_bar.html' %}
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            {#                            <div class="page-title-right">#}
                            {#                                <ol class="breadcrumb m-0">#}
                            {#                                    <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>#}
                            {#                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Layouts</a></li>#}
                            {#                                    <li class="breadcrumb-item active">Two Column</li>#}
                            {#                                </ol>#}
                            {#                            </div>#}
                            <h4 class="page-title">{% block page_title %}E-RIB.UZ{% endblock %}</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="content">
                    {% block content %}

                    {% endblock content %}
                </div>

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        {% include '_parts/footer.html' %}
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->

<!-- Right Sidebar -->
{% include '_parts/right_bar.html' %}
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>
{% block modals %}

{% endblock %}
<!-- Vendor js -->
<script src="{% static 'assets/js/vendor.min.js' %}"></script>

<!-- Plugins js-->
<script src="{% static 'assets/libs/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>

<!-- Dashboard 2 init -->
<script src="{% static 'assets/js/pages/dashboard-2.init.js' %}"></script>

<!-- App js -->
<script src="{% static 'assets/js/app.min.js' %}"></script>

<script>
    $('#load').show();
    $(window).on('load', function () {
        setTimeout(function () {
            $('#load').hide();
        }, 500);
    });
</script>
{% block js %}
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
{% endblock js %}
</body>
</html>