{% extends 'base_vertical.html' %}
{% load i18n humanize service_tags static %}

{% block title %}
    {% trans "E-RIB.UZ" %}
{% endblock title %}

{% block page_title %}
    {% trans "Davlat boj to'lovlari" %}
{% endblock page_title %}

{% block content %}

    <div class="row ml-2 mr-2">
        <div class="col-12 text-center p-0">

            <div class="card px-0 pb-0 mb-3">
                <div class="card-body">
                    {% include '_parts/messages.html' %}

                    <div class="row text-start m-3">
                        <div class="col-4">
                            <label class="text-dark" style="width: 100%" for="application">YHXB RIB bo'limi</label>

                            <select name="section"
                                    class="form-select" id="section">
                            </select>

                        </div>
                        <div class="col-4">
                            <label class="text-dark" style="width: 100%" for="application">Boshlash</label>
                            <input type="date" id="start" class="form-control"/>
                        </div>
                        <div class="col-4">
                            <label class="text-dark" style="width: 100%" for="application">Tugash</label>
                            <input type="date" id="stop" class="form-control"/>
                        </div>
                    </div>

                    <div class="row justify-content-center">

                        <!-- left column -->
                        <div class="col-md-12">

                            <div class="panel-body" id="render_div">
                                <table id="report_table" class="table table-bordered">
                                    <thead class="thead-light" style="background: #f1f0f0">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" class="text-start">Davlat boji nomi</th>
                                        <th scope="col">To'langan</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot style="background: #f1f0f0">
                                    <tr>
                                        <th></th>
                                        <th class="text-start">Jami:</th>
                                        <th><b id="paid_pay_total" class="text-green"></b> so'm</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" charset="UTF-8">

        $(function () {
            sendAuthorizationToken()

            getAjaxData("{% url 'api_service:state_duties_list' %}").then(function (res) {
                console.log(res)
                let amount = 0
                res.forEach((x, i) => {
                    amount += x.amount
                    $("#report_table > tbody")
                        .append(`<tr>
                                <td>${i + 1}</td>
                                <td class="font-18 text-start">${x.title}</td>
                                <td class="text-end"><b >${formatMoney(x.amount)}</b> so'm</td>
                        </tr>`);
                })
                $('#paid_pay_total').text(amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " "))
            })

            getAjaxData("{% url 'api_user:region_sections_list' 12345 %}".replace(/12345/, "{{ request.user.section.region.id }}")).then(res => {
                res.forEach((x, i) => {
                    $('#section').append($('<option>').val(x.id).text(x.title))
                })
            })
        })
    </script>
{% endblock js %}