{% extends 'base_vertical.html' %}
{% load i18n humanize service_tags static %}

{% block title %}
    {% trans "E-RIB.UZ" %}
{% endblock title %}

{% block page_title %}
    {% trans "Davlat boj to'lovlari" %}
{% endblock page_title %}

{% block content %}

    <div class="row ml-2 mr-2" id="app">
        <div class="col-12 text-center p-0">

            <div class="card px-0 pb-0 mb-3">
                <div class="card-body">
                    {% include '_parts/messages.html' %}

                    <div class="row text-start m-3">
                        <div class="col-4">
                            <label class="text-dark" style="width: 100%" for="application">YHXB RIB bo'limi</label>

                            <select name="section"
                                    class="form-select" id="section" v-model="section">
                                <option value="" >Hammasi</option>
                                <option :value="section.id" v-for="section in sections" :key="section.id">[[section.title]]</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label class="text-dark" style="width: 100%" for="application">Boshlash</label>
                            <input type="date" id="start" class="form-control"/>
                        </div>
                        <div class="col-4">
                            <label class="text-dark" style="width: 100%" for="application">Tugash</label>
                            <input type="date" id="stop" class="form-control"/>
                        </div>
                    </div>

                    <div class="row justify-content-center">

                        <!-- left column -->
                        <div class="col-md-12">

                            <div class="panel-body" id="render_div">
                                <table id="report_table" class="table table-bordered">
                                    <thead class="thead-light" style="background: #f1f0f0">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" class="text-start">Davlat boji nomi</th>
                                        <th scope="col">To'langan</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(stateDuty, index) in stateDuties" :key="index">
                                        <td>[[index + 1]]</td>
                                        <td class="font-18 text-start">
                                            [[stateDuty.title]]
                                        </td>
                                        <td class="text-end">
                                            <b>[[stateDuty.total_amount | moneyFormat]]</b>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot style="background: #f1f0f0">
                                    <tr>
                                        <th></th>
                                        <th class="text-start">Jami:</th>
                                        <th class="text-end"><b class="text-green" v-if="totalAmount > 0">[[totalAmount
                                            | moneyFormat]]</b> so'm
                                        </th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'assets/libs/axios/axios.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- development version -->
    <script src="{% static 'vue/vue.dev.js' %}"></script>
    <!-- production version -->
    {#    <script src="{% static 'vue/vue.prod.js' %}"></script>#}

    <script type="text/javascript" charset="UTF-8">
        setAxiosHeader()
        new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: () => ({
                userId: '',
                user: '',
                stateDuties: [],
                totalAmount: 0,
                sections: [],
                section: ''
            }),
            created() {
                this.getCurrentUser()
            },
            filters: {
                moneyFormat(value) {
                    return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
                }
            },
            methods: {
                async getCurrentUser() {
                    this.userId = await axios.get('/api/v1/user/auth/users/me/')
                        .then(res => {
                            return res.data.id
                        })
                    this.getUserDetail()
                },
                async getUserDetail() {
                    this.user = await axios.get('{% url "api_user:user_detail" pk=12345 %}'.replace(/12345/, this.userId.toString())).then(res => res.data)
                    this.getRegionStateDuties(this.user.section.region.id)
                    this.getRegionSectionsList(this.user.section.region.id)
                },
                async getRegionStateDuties(id) {
                    this.stateDuties = await axios.get(`/api/v1/service/region/${id}/state-duties/list/`, {
                        params: {
                            section: this.section
                        }
                    })
                        .then((res) => {
                            let amount = 0
                            res.data.forEach((x, i) => {
                                amount += x.total_amount
                            })
                            this.totalAmount = amount
                            return res.data
                        })
                },
                async getRegionSectionsList(id) {
                    this.sections = await axios.get(`/api/v1/user/region/${id}/sections/list/`)
                    .then(res => {
                        return res.data
                    })
                }
            },
            watch: {
                section() {
                    this.getRegionStateDuties(this.user.section.region.id)
                }
            }
        })
    </script>
{% endblock js %}