{% load static i18n %}
<fieldset id="applicant_fieldset">
    <legend>Arizachi</legend>
    <form action="#" id="organization_form" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
            <label for="person" class="col-form-label not_copy text-start">Arizachini tanlang<span
                    class="text-danger">*</span></label>
            <div class="col-12">
                <select class="form-select select2" style="width: 100%;" id="person" name="person"
                        required disabled>
                    <option></option>
                    <option value="new" data-style="color: blue;">Yangi arizachi qo'shish</option>
                </select>
            </div>
        </div>
        <div id="physical_div">
            <div class="row mb-3">
                <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                       for="last_name">{% trans "Familiya" %}<span
                        class="text-danger">*</span></label>
                <div class="col-8 col-xl-9">
                    <input type="text" id="last_name_x"
                           class="form-control" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                       for="first_name">{% trans "Ism" %}<span
                        class="text-danger">*</span></label>
                <div class="col-8 col-xl-9">
                    <input type="text" id="first_name_x"
                           class="form-control" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                       for="middle_name">{% trans "Otasining ismi" %}<span
                        class="text-danger">*</span></label>
                <div class="col-8 col-xl-9">
                    <input type="text" id="middle_name_x"
                           class="form-control" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                       for="region">{% trans "Viloyat" %}<span
                        class="text-danger">*</span></label>
                <div class="col-8 col-xl-9 region">
                    <input class="form-control" type="text" id="region_x" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                       for="district">{% trans "Tuman/Shahar" %}<span
                        class="text-danger">*</span></label>
                <div class="col-8 col-xl-9 district">
                    <input class="form-control" type="text" id="district_x" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                       for="quarter">{% trans "Mahalla" %}<span
                        class="text-danger">*</span></label>
                <div class="col-8 col-xl-9 quarter">
                    <input class="form-control" type="text" id="quarter_x" disabled>
                </div>
            </div>


            <div class="justify-content-end row">
                <div class="col-12">
                    <button type="button"
                            class="btn btn-info waves-effect waves-light float-end next">Keyingi
                    </button>
                </div>
            </div>
        </div>
    </form>
</fieldset>

{% block modals %}
    {% include 'modals/add_user_modal.html' %}
    {% include 'modals/sms_verification_modal.html' %}
{% endblock modals %}

{% block js %}
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            sendAuthorizationToken()
            var userId, username
            getAjaxData('/api/v1/user/auth/users/me')
                .then(response => {
                    userId = response.id
                    username = response.username


                    getAjaxData('{% url "api_user:user_detail" pk=12345 %}'.replace(/12345/, userId.toString())).then(function (res) {

                        $("#person").select2({
                            data: [{id: res.id, text: `${res.last_name} ${res.first_name} ${res.middle_name}`}],
                            width: '100%',
                            placeholder: '-- foydalauvchini tanlang --',
                            templateResult: formatState,
                            escapeMarkup: function (markup) {
                                return markup;
                            },
                            language: {
                                noResults: function () {
                                    return "Ma'lumot topilmadi! <a href='#' id='add_new_user'>Yangi foydalanuvchi qo'shish</a>";
                                }
                            },
                        }).on('select2:close', function () {
                            var el = $(this);
                            if (el.val() === "new") {
                                $('#add_user_modal').modal('show')
                            }
                        })

                        $('#person').val(res.id)
                        $('#person').trigger('change')


                        $('#last_name_x').val(res.last_name)
                        $('#first_name_x').val(res.first_name)
                        $('#middle_name_x').val(res.middle_name)
                        $('#region_x').val(res.region.title)
                        $('#district_x').val(res.district.title)
                        $('#quarter_x').val(res.quarter.title)
                    })
                })
        })
        $(document).ready(function () {
                /* $(document).on('change', '#person', function (e) {

                     var SelectedPerson = $(this).children("option:selected").val()

                     if (parseInt(SelectedPerson)) {
                         getAjaxData("
                {% url 'api_user:user_detail' pk=12345 %}".replace(/12345/, $(this).val().toString())).then(function (res) {
                            $('#last_name_x').val(res.last_name)
                            $('#first_name_x').val(res.first_name)
                            $('#middle_name_x').val(res.middle_name)
                            $('#region_x').val(res.region.title)
                            $('#district_x').val(res.district.title)
                            $('#quarter_x').val(res.quarter.title)
                        }, function (err) {
                            swal_error(err)
                            $('#last_name_x').val('')
                            $('#first_name_x').val('')
                            $('#middle_name_x').val('')
                            $('#region_x').val('')
                            $('#district_x').val('')
                            $('#quarter_x').val('')
                        })
                    }
                })  */

                $(document).on('click', '#add_new_user', function () {
                    $('#add_user_modal').modal('show')
                    $("#person").select2("close");
                })
            }
        )
    </script>
{% endblock js %}