{% load i18n static %}

<fieldset id="document_fieldset" style="display: none">
    <legend>{{ service.short_title }}</legend>
    <form action="#" id="save_document_form">
    <div class="alert-danger text-center"><p><b style="color: red; font-size: large">*</b> - ushbu belgi qo'yilgan qatorlarni to'ldirish majburiy.</p>
        </div>
        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start"
                   for="seriya">
                {% blocktrans with service_title=service.short_title %}{{ service_title }} seriyasi va
                    raqami{% endblocktrans %}<span class="text-danger">*</span></label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <input type="text" id="seriya" name="seriya"
                       class="form-control text-uppercase" required
                       placeholder="{% trans 'Masalan: AAC123456' %}"
                       autocomplete="off">
            </div>
        </div>
        <div class="row mb-3">
            <label class="not_copy col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label text-start"
                   for="contract_date">{% trans "Shartnoma tuzilgan sana" %}<span
                    class="text-danger">*</span></label>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <input type="date" id="contract_date" name="contract_date"
                       class="form-control" required>
            </div>
        </div>
        <div class="justify-content-end row">
            <div class="col-12">
                <button type="button"
                        class="btn btn-secondary waves-effect waves-light float-start prev"
                >Oldingi
                </button>
                <button type="submit"
                        class="btn btn-info waves-effect waves-light float-end next">Keyingi
                </button>
            </div>
        </div>
    </form>
</fieldset>



{% block js %}
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $documentForm = $('#save_document_form');
            if ($documentForm.length) {
                var documentButton = $($documentForm).children().find('button:submit')
                $documentForm.validate({
                    rules: {
                        seriya: {
                            required: true,
                            noSpace: true,
                        },
                        contract_date: {
                            required: true,
                        },
                    },
                    messages: {
                        seriya: {
                            required: "Hisob ma'lumotnomasi seriyasi va raqami kiritilmagan!"
                        },
                        contract_date: {
                            required: "Shartnoma tuzilgan sana kiritilmagan!"
                        },
                    },


                    submitHandler: function (form, e) {
                        e.preventDefault()
                        documentButton.prop('type', 'button')

                        var seriya = $('#seriya').val().toUpperCase()
                        var contract_date = $('#contract_date').val()

                        $('#seriya').attr('disabled', true)
                        $('#contract_date').attr('disabled', true)

                        $('input[name ="seriya"]').val(seriya)
                        $('input[name ="contract_date"]').val(contract_date)

                        $('#document_fieldset').hide()
                        $('#car_fieldset').show()

                        $('#car_step').addClass('active')
                        $('#document_step').removeClass('active')
                        return false;
                    }
                });
            }
        })
    </script>

{% endblock js %}