{% load static i18n %}

<fieldset id="person_type_fieldset" v-if="isShowPersonTypeFieldset">
    <legend>Shaxs turi</legend>
    <form @submit.prevent="sendPersonTypeForm" >

        <div id="account_div">
            <div class="row mb-3">
                <label class="col-form-label not_copy text-start label_required">Arizachi shaxsini tanlang</label>
                <div class="col-12">
                    <select class="form-select" style="width: 100%;" id="person_type" name="person_type"
                            v-model="person_type"
                            required>
                        <option value="0">Jismoniy shaxs</option>
                        <option value="1">Yuridik shaxs</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label not_copy text-start label_required">Arizachi</label>
                <div class="col-12">
                    <input type="text" readonly class="form-control"
                           :value="user.last_name + ' ' + user.first_name + ' ' + user.middle_name">
                </div>
            </div>

            <div id="legal_div" v-if="isShowOrganizationInput">
                <div class="row mb-3">
                    <label for="organization" class="col-form-label not_copy text-start label_required">Ariza ushbu maydonda tanlangan
                        tashkilot nomidan jo'natiladi</label>
                    <div class="col-12">
                        <div class="input-group mb-3">

                            <v-select
                                    v-model="organization"
                                    :options="organizations"
                                    label="title"
                                    placeholder="Tashkilotni tanlang . . . "
                                    class="form-control"
                                    :class="{'v-error': $v.organization.$error}"
                            >
                        <span slot="no-options">Tashkilot topilmadi! <a href="#"  @click="addOrganizationDialog = true">yangi tashkilot qo'shish</a></span>
                            </v-select>
                            <div class="input-group-append" @click="addOrganizationDialog = true">
                        <span class="input-group-text" style="height: 32px !important;">
                            <i class="fas fa-plus"></i>
                        </span>
                            </div>
                            <div
                                    v-if="$v.organization.$dirty && !$v.organization.required"
                                    class="text-danger w-100" style="text-align: start">
                                Tashkilot tanlanmagan!
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="justify-content-end row">
                <div class="col-12">
                    <button type="button"
                            @click="()=>{isShowPersonTypeFieldset = false; isShowApplicantFieldset = true}"
                            class="btn btn-secondary waves-effect waves-light float-start prev">
                        Oldingi
                    </button>
                    <button :type="personTypeFieldsetButtonType"
                            class="btn btn-info waves-effect waves-light float-end">Keyingi
                    </button>
                </div>
            </div>

        </div>
    </form>
</fieldset>

{% block modals %}
    {% include 'modals/add_organization_modal_vue.html' %}
{% endblock %}