{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load applications_tags %}
{% block top %}
    <link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
{% endblock top %}
{% block content %}
    <section class="py-3 mt-2 bg-info text-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2>{% trans "Arizalar" %}</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid mt-3">
        <div class="row">
            <!-- left column -->
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-10 mb-1">
                {% include '_parts/messages.html' %}

                <div class="table-responsive"
                     style="border: 1px solid #dbdada; border-radius: 3px; padding: 2% 2% 2% 2%;">
                    <table id="example1" class="table table-bordered table-hover dataTable">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Ariza raqami</th>
                            <th scope="col">Avtomobil</th>
                            <th scope="col">Texnik ko'rik</th>
                            <th scope="col" >Xizmat nomi</th>
                            <th scope="col">Hujjat</th>
                            <th scope="col">Topshirdi</th>
                            <th scope="col">Topshirilgan vaqti</th>
                            <th scope="col">Holati</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for application in applications %}
                            {% get_service application.service as service %}
                            <tr>
                                <th scope="row" style="text-align: center">{{ application.id }}</th>
                                <td><a href="{% url 'user:view_car_data' service.car.id %}">{{ service.car.model }}</a>
                                </td>
                                <td class="text-center">{% if service.car.is_confirm %}
                                    <i style="color: green" class="far fa-check-circle"></i>{% else %}
                                    <i style="color: red" class="far fa-times-circle"></i>{% endif %}</td>
                                <td>
                                    {% get_service_name application.service %}
                                </td>
                                <td>{{ service.seriya }}</td>

                                <td>{% get_application_submitting application.service %}</td>

                                <td>{{ application.created_date|date:'SHORT_DATETIME_FORMAT' }}</td>
                                {% if application.process == '1' %}
                                    <td style="color: #0f6674">Jarayonda</td>
                                {% elif application.process == '2' %}
                                    <td style="color: #44ff00">Qabul qilindi</td>
                                {% elif application.process == '3' %}
                                    <td style="color: #ff0318">Rad etildi</td>
                                {% endif %}


                            </tr>
                        {% endfor %}
                        </tbody>


                        <tfoot>

                        </tfoot>
                    </table>
                </div>

            </div>
            <!--/.col (left) -->
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                {% include 'application/right_filter_applications.html' %}
            </div>
        </div>


        <!-- /.row -->
    </div>
{% endblock content %}
{% block bottom %}
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock bottom %}