{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% block content %}
    <section class="py-3 mt-2 bg-info text-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2>{{ service.get_title_display }}</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <!-- left column -->
            <div class="col-md-12">
                {% include '_parts/messages.html' %}
                <div class="panel-body" id="render_div">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Davlat boji nomi</th>
                            <th scope="col">Hisob raqam</th>
                            <th scope="col">To'lov miqdori</th>
                            <th scope="col" style="width: 7%">Holati</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for payment in payments %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <th scope="row">{{ payment.get_title_display }}</th>
                                <td><b>{{ payment.score.score }}</b></td>
                                <td><b class="state_payment">{{ payment.payment|intcomma }}</b> so'm</td>
                                <td>
                                    {% if request.user.role == '2' or request.user.role == '3' %}
                                        <input name="payment" {% if payment.is_paid %}checked{% endif %}
                                               data-payment="{{ payment.id }}"
                                               class="payment_checkbox" type="checkbox"/>
                                    {% else %}
                                        {% if payment.is_paid %}
                                            <i style="color: green" class="far fa-check-circle"></i>{% else %}
                                            <i style="color: red" class="far fa-times-circle"></i>{% endif %}
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                        <tfoot style="background: lightgray">
                        <tr>
                            <th></th>
                            <th>Jami:</th>

                            <th></th>
                            <th><b id="total_state_payments"></b> so'm</th>
                            <th></th>

                        </tr>
                        </tfoot>
                    </table>
                    <div style="margin: 20px; font-size: medium">
                        <p><b style="font-size: large">O'zbekiston Respublikasi Markaziy banki Toshkent shahar
                            bosh boshqarmasi XKKM</b></p>
                        <p>Hisob raqam: <b style="color: blue">23402000300100001010</b></p>
                        <p>MFO: <b style="color: blue">00014</b></p>
                        <p>INN: <b style="color: blue">201122919</b></p>
                    </div>
                    <hr>
                    <div class="text-right mt-3 mb-3 mr-4" data-html2canvas-ignore="true">

                        {% if not application.service.organization %}
                            {% if request.user.role == '1' %}
                                <button class="btn btn-primary col-4 col-md-3 col-sm-3 col-lg-3 col-xl-3 m-2">
                                    To'lov qilish &nbsp&nbsp&nbsp<i class="fas fa-long-arrow-alt-right"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                        <button id="payment_render_pdf"
                                class="btn btn-secondary col-4 col-md-3 col-sm-3 col-lg-3 col-xl-3 m-2">
                            To'lovlarni pdf holatda chiqarish &nbsp&nbsp<i
                                class="fas fa-file-download"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom %}
      <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" charset="UTF-8">
        $(document).ready(function () {
            sendAuthorizationToken()

            calc_total()

            function calc_total() {
                if (!String.prototype.trim) {
                    String.prototype.trim = function () {
                        return this.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, '');
                    };
                }

                var sum = 0;
                $(".state_payment").each(function () {
                    sum += parseFloat($(this).text().replace(/\s+/g, ''));
                });
                $('#total_state_payments').text(sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " "))
            }

            $('#payment_render_pdf').on('click', function () {
                var element = document.getElementById('render_div'),
                    filename = `To'lov`

                html_to_pdf(element, filename)
            })

            $('.payment_checkbox').on('change', function () {
                let modify
                if ($(this).prop('checked')) {
                    modify = true
                } else {
                    modify = false
                }

                $.ajax({
                    type: 'POST',
                    url: '{% url "application:modify_payment_checkbox" %}',
                    data: {
                        'modify': modify,
                        'payment': $(this).data('payment'),
                    },
                    success: function (res) {
                        if (res === 'True') {
                            edit_toast()
                        } else {
                            errorFunction()
                        }
                    },
                    error: function (err) {
                        errorFunction()
                    }
                })
            })
        })
    </script>
{% endblock bottom %}