{% extends 'base_vertical.html' %}
{% load i18n %}
{% load humanize %}
{% load service_tags %}

{% block title %}
    {% trans "E-RIB.UZ" %}
{% endblock title %}

{% block page_title %}
    {% trans "Davlat boj to'lovlari" %}
{% endblock page_title %}

{% block content %}

    <div class="row ml-2 mr-2">
        <div class="col-12 text-center p-0">

            <div class="card px-0 pb-0 mb-3">
                <div class="card-body">
                    {% include '_parts/messages.html' %}
                    <form class="form-group mb-3" id="payments_filter_form" method="GET"
                          action="{% url 'application:payments_list' %}">
                        <div class="row text-start">
                            <div class="col-12 col-md-2 col-sm-2 col-lg-2 col-xl-2">
                                <label class="text-dark" for="startdate">Boshlanish:</label>
                                <input type="date" id="startdate" class="form-control"
                                       name="startdate"
                                       {% if startdate %}value="{{ startdate }}"{% endif %}>
                            </div>
                            <div class="col-12 col-md-2 col-sm-2 col-lg-2 col-xl-2">
                                <label class="text-dark" for="stopdate">Tugash:</label>
                                <input type="date" id="stopdate"
                                       class="form-control"
                                       name="stopdate"
                                       {% if stopdate %}value="{{ stopdate }}"{% endif %}>
                            </div>
                            <div class="col-12 col-md-3 col-sm-3 col-lg-3 col-xl-3">
                                <label class="text-dark" style="width: 100%" for="parent_section">Viloyat YHXB
                                    RIB:</label>
                                <select name="parent_section"
                                        class="form-control" id="parent_section">
                                    <option value="all">Barchasi</option>
                                    {% for parent_section in parent_sections %}
                                        <option {% if request.GET.parent_section == parent_section.id|stringformat:"i" %}selected{% endif %}
                                                value="{{ parent_section.id }}">{{ parent_section.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-md-3 col-sm-3 col-lg-3 col-xl-3">
                                <label class="text-dark" style="width: 100%" for="child_section">Tuman/Shahar YHXB
                                    RIB:</label>
                                <select name="child_section"
                                        class="form-control" id="child_section">

                                    {% if child_sections %}
                                        <option value="all">Barchasi</option>
                                        {% for child_section in child_sections %}

                                            <option {% if request.GET.child_section == child_section.id|stringformat:"i" %}selected{% endif %}
                                                    value="{{ child_section.id }}">{{ child_section.title }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="">-- -- --</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-1" style="margin-top: 1.3rem; text-align: center">
                                <button id="payments_filter_form_btn" type="submit" class="btn btn-info">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="row justify-content-center">

                        <!-- left column -->
                        <div class="col-md-12">

                            <div class="panel-body" id="render_div">
                                <table class="table table-bordered">
                                    <thead class="thead-light" style="background: #f1f0f0">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" class="text-start">Davlat boji nomi</th>
                                        <th scope="col">Hisoblangan</th>
                                        <th scope="col">To'langan</th>
                                        <th scope="col">Qarzdorlik</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for pay in pays %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <th class="text-start" scope="row" data-key="{{ pay.0 }}">{{ pay.1 }}</th>
                                            {% get_calculated_payments pay.0 as payment %}
                                            <td><b class="calculated_pay">{{ payment.total|intcomma }}</b></td>
                                            <td><b class="paid_pay text-green">{{ payment.paid|intcomma }}</b></td>
                                            <td>
                                                <b class="unpaid_pay text-danger">{{ payment.unpaid|intcomma }}</b>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot style="background: #f1f0f0">
                                    <tr>
                                        <th></th>
                                        <th class="text-start">Jami:</th>
                                        <th><b id="calculated_pay_total"></b> so'm</th>
                                        <th><b id="paid_pay_total" class="text-green"></b> so'm</th>
                                        <th><b id="unpaid_pay_total" class="text-danger"></b> so'm</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" charset="UTF-8">
        $(document).ready(function () {

            function getChildSections(parenSectionId) {

                $.ajax({
                    type: "GET",
                    url: "{% url 'user:GetChildSections' %}",
                    data: {
                        'parent_section': parenSectionId, // from form
                    },
                    statusCode: {
                        200: function (message) {
                            $('#child_section').empty().append('<option value="all">Barchasi</option>' + message)
                            $('#child_section').css('border', '1px solid blue')
                            setTimeout(function () {
                                $('#child_section').css('border', '1px solid #ced4da')

                            }, 1000)
                        },
                        404: function () {
                            $('#child_section').empty().append('<option value="all">-- -- --</option>')
                        }
                    },

                });
            }

            $('#parent_section').change(function () {
                var SelectedParentSection = $(this).children("option:selected").val()
                getChildSections(SelectedParentSection)
            })

            calc_total()

            function calc_total() {
                if (!String.prototype.trim) {
                    String.prototype.trim = function () {
                        return this.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, '');
                    };
                }

                var calculated_sum = 0;
                $(".calculated_pay").each(function () {
                    calculated_sum += parseFloat($(this).text().replace(/\s+/g, ''));
                });
                $('#calculated_pay_total').text(calculated_sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " "))

                var paid_sum = 0;
                $(".paid_pay").each(function () {
                    paid_sum += parseFloat($(this).text().replace(/\s+/g, ''));
                });
                $('#paid_pay_total').text(paid_sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " "))

                var unpaid_sum = 0;
                $(".unpaid_pay").each(function () {
                    unpaid_sum += parseFloat($(this).text().replace(/\s+/g, ''));
                });
                $('#unpaid_pay_total').text(unpaid_sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " "))


            }

            console.log('{{request.GET.parent_section}}')

            $('#payments_filter_form_btn').on('click', function () {
                $('#payments_filter_form').submit()
            })


        })
    </script>
{% endblock js %}