{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'src/img/favicon.png' %}">
    <title>{% trans 'E-RIB.UZ' %}</title>
    <link rel="stylesheet" href="{% static 'src/css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/theme/yellow.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/font/thicccboi.css' %}">
</head>
<body>
<div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
        <nav class="navbar center-nav transparent navbar-expand-lg navbar-light">
            <div class="container flex-lg-row flex-nowrap align-items-center">
                {#					<div class="navbar-brand w-100"><a href="index.html"><img src="{% static 'src/img/logo-dark.png' %}" srcset="{% static 'src/img/logo-dark@2x.png' %} 2x" alt="" /></a></div>#}
                <div class="navbar-brand w-100"><a href="{% url 'landing:home_page' %} "><h1 style="text-align: center">
                    E-RIB.UZ</h1></a></div>
                <div class="navbar-collapse offcanvas-nav">
                    <div class="offcanvas-header d-lg-none d-xl-none">
                        <a href="index.html"><img src="{% static 'src/img/logo-light.png' %}"
                                                  srcset="src/img/logo-light@2x.png 2x" alt=""/></a>
                        <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close"
                                aria-label="Close"></button>
                    </div>

                    <br>
                    <br>

                    {#                        {% include 'landing/inc/top_menu.html' %}#}
                    <!-- /.navbar-nav -->
                </div>
                <!-- /.navbar-collapse -->
                <div class="navbar-other w-100 d-flex ms-auto">
                    <ul class="navbar-nav flex-row align-items-center ms-auto" data-sm-skip="true">
                        <li class="nav-item dropdown language-select text-uppercase">
                            {% load i18n %}
                            {% get_current_language as LANGUAGE_CODE %}
                            <a class="nav-link dropdown-item dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">{{ LANGUAGE_CODE }}</a>
                            <ul class="dropdown-menu">
                                {% if LANGUAGE_CODE == 'uz' %}

                                    <li class="nav-item"><a class="dropdown-item" href="/ru">Ру</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/en">En</a></li>

                                {% elif LANGUAGE_CODE == 'ru' %}
                                    <li class="nav-item"><a class="dropdown-item" href="/uz">Uz</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/en">En</a></li>

                                {% elif LANGUAGE_CODE == 'en' %}
                                    <li class="nav-item"><a class="dropdown-item" href="/uz">Uz</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/ru">Ру</a></li>
                                {% endif %}
                            </ul>
                        </li>

                    </ul>
                    <!-- /.navbar-nav -->
                </div>
                <!-- /.navbar-other -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.navbar -->

        <!-- /.offcanvas-info -->
    </header>
    <!-- /header -->
    <section class="wrapper bg-gradient-primary">
        <div class="container pt-10 pt-md-14 pb-8 text-center">
            <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                <div class="col-lg-7">
                    <figure><img class="w-auto" src="{% static 'src/img/concept/concept2.png' %}"
                                 srcset="{% static 'src/img/concept/concept2@2x.png' %} 2x" alt=""/></figure>
                </div>
                <!-- /column -->
                <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center text-lg-start">
                    <h1 class="display-1 mb-5 mx-md-n5 mx-lg-0">E-RIB.UZ - YHXB RIB tomon tezkor yo'l. </h1>
                    <p class="lead fs-lg mb-7">E-RIB.UZ platformasi orqali YHXB RIB'ga arizalar jo'natish judayam qulay.
                        Eng muhimi vaqtingizni ortiqcha sarflashga hojat yo'q.</p>
                    <span><a href="{% url 'user:login_first' %}" class="btn btn-primary rounded-pill me-2">Tizimga kirish / Ro'yhatdan o'tish</a></span>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
        <div class="container pt-14 pt-md-16">
            <div class="row text-center">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <h2 class="fs-16 text-uppercase text-muted mb-3">E-RIB.UZ nima qila oladi?</h2>
                    <h3 class="display-4 mb-10 px-xl-10">Bizning taklifimiz sizning YHXB RIB bilan bog'liq bo'ladigan
                        muammolaringizni yechishga qaratilgan.</h3>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="position-relative">
                <div class="shape rounded-circle bg-soft-blue rellax w-16 h-16" data-rellax-speed="1"
                     style="bottom: -0.5rem; right: -2.2rem; z-index: 0;"></div>
                <div class="shape bg-dot primary rellax w-16 h-17" data-rellax-speed="1"
                     style="top: -0.5rem; left: -2.5rem; z-index: 0;"></div>
                <div class="row gx-md-5 gy-5 text-center">
                    <div class="col-md-6 col-xl-3">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <img src="{% static 'src/img/icons/agenda.svg' %}"
                                     class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt=""/>
                                <h4>Tezkor ro'yhatdan o'tish</h4>
                                <p class="mb-2">Siz atigi 3 daqiqa ichida ro'yhatdan o'tasiz va barcha
                                    ma'lumotlaringizni YHXB RIB'ga jo'nata olasiz.</p>
                                {#									<a href="#" class="more hover link-yellow">Learn More</a>#}
                            </div>
                            <!--/.card-body -->
                        </div>
                        <!--/.card -->
                    </div>
                    <!--/column -->
                    <div class="col-md-6 col-xl-3">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <img src="{% static 'src/img/icons/browser.svg' %}"
                                     class="svg-inject icon-svg icon-svg-md text-red mb-3" alt=""/>
                                <h4>Tezkor kuzatuv</h4>
                                <p class="mb-2">Jo'natgan ma'lumotlaringiz asosida YHXB RIB tomonidan sizga jo'natilgan
                                    so'rovnomalarni tezkor ko'rish imkoniyati.</p>
                                {#									<a href="#" class="more hover link-red">Learn More</a>#}
                            </div>
                            <!--/.card-body -->
                        </div>
                        <!--/.card -->
                    </div>
                    <!--/column -->
                    <div class="col-md-6 col-xl-3">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <img src="{% static 'src/img/icons/chat-2.svg' %}"
                                     class="svg-inject icon-svg icon-svg-md text-green mb-3" alt=""/>
                                <h4>Har bir bosqichda SMS xabarnoma</h4>
                                <p class="mb-2">Sizning arizangizga ko'ra ishni borish protsessini har bir qadamida SMS
                                    xabarnoma yetkazib turiladi.</p>
                            </div>
                            <!--/.card-body -->
                        </div>
                        <!--/.card -->
                    </div>
                    <!--/column -->
                    <div class="col-md-6 col-xl-3">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <img src="{% static 'src/img/icons/rocket.svg' %}"
                                     class="svg-inject icon-svg icon-svg-md text-blue mb-3" alt=""/>
                                <h4>Vaqtingizni tejash</h4>
                                <p class="mb-2">Endilikda siz o'z vaqtingizni o'zingiz xoxlagandek taqsimlashda davom
                                    etasiz. Hatto YHXB RIB'ga ishingiz tushganida ham. </p>

                            </div>
                            <!--/.card-body -->
                        </div>
                        <!--/.card -->
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!-- /.position-relative -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-gradient-reverse-primary">
        <div class="container py-16 py-md-18">
            <div class="row gx-lg-8 gx-xl-12 gy-10 mb-8 align-items-center">
                <div class="col-lg-7 order-lg-2">
                    <figure><img class="w-auto" src="{% static 'src/img/concept/concept3.png' %}"
                                 srcset="src/img/concept/concept3@2x.png 2x" alt=""/></figure>
                </div>
                <!--/column -->
                <div class="col-lg-5">
                    <h2 class="fs-16 text-uppercase text-muted mb-3">Elektron navbatda turish</h2>
                    <h3 class="display-4 mb-5">Elektron navbatlar fuqarolar uchun qulay mexanizm.</h3>
                    <p class="mb-7">Endilikda sizdan soatlab YHXB RIB binosida navbatda turish talab etilmaydi. Siz o'z
                        rejalaringizdan chiqmagan holda ishlaringizni davom ettiraverasiz. Biz esa siz uchun barchasini
                        bajaramiz.</p>
                    <div class="row">
                        <div class="col-lg-9">
                            <span><a href="{% url 'user:login_first' %}" class="btn btn-primary rounded-pill me-2">Tizimga kirish / Ro'yhatdan o'tish</a></span>
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /.row -->
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light angled upper-start lower-start">
        <div class="container py-14 pt-md-17 pb-md-15">
            <div class="row gx-md-8 gx-xl-12 gy-10 mb-14 mb-md-18 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="card shadow-lg me-lg-6">
                        <div class="card-body p-6">
                            <div class="d-flex flex-row">
                                <div>
                                    <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span
                                            class="number">01</span></span>
                                </div>
                                <div>
                                    <h4 class="mb-1">Onlayn ariza topshirish</h4>
                                    <p class="mb-0">Birinchi bosqichda sizdan talab etiladigani faqatgina ro'yhatdan
                                        o'tish menyusiga kirib,
                                        <a href="">ro'yhatdan o'tib</a>, ma'lumotlarni yuborish.</p>
                                </div>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                    <div class="card shadow-lg ms-lg-13 mt-6">
                        <div class="card-body p-6">
                            <div class="d-flex flex-row">
                                <div>
                                    <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span
                                            class="number">02</span></span>
                                </div>
                                <div>
                                    <h4 class="mb-1">To'lovlarni amalga oshirish</h4>
                                    <p class="mb-0">Ikkinchi bosqichda barcha ma'lumotlar to'g'ri ekanligini tekshirib,
                                        elektron to'ov tizimlari, plastik kartalar yoki bank orqali to'lovlarni amalga
                                        oshirish.</p>
                                </div>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                    <div class="card shadow-lg mx-lg-6 mt-6">
                        <div class="card-body p-6">
                            <div class="d-flex flex-row">
                                <div>
                                    <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span
                                            class="number">03</span></span>
                                </div>
                                <div>
                                    <h4 class="mb-1">SMS xabarnomani kutish</h4>
                                    <p class="mb-0">So'nggi bosqichda sizni YHXB RIB binosiga qaysi vaqtda borishingiz
                                        ko'rsatilgan SMS xabarnoma keladi</p>
                                </div>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-lg-6">
                    <h2 class="fs-16 text-uppercase text-muted mb-3">Jarayon haqida qisqacha</h2>
                    <h3 class="display-4 mb-5">Jarayon 3 bosqichda amalga oshiriladi</h3>
                    <p>Jarayon uch bosqichda amalga oshiriladi. Quyida sizga barcha bosqichlarni taqdim etamiz.</p>
                    <p>Hoziroq ariza topshiring va YHXB RIB xizmatlaridan masofadan turib foydalaning...</p>

                    <span><a href="{% url 'user:login_first' %}" class="btn btn-primary rounded-pill me-2">Tizimga kirish / Ro'yhatdan o'tish</a></span>
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
            <div class="row gx-lg-8 gx-xl-12 gy-10 mb-lg-22 mb-xl-24 align-items-center">
                <div class="col-lg-7">
                    <figure><img class="w-auto" src="{% static 'src/img/concept/concept6.png' %}"
                                 srcset="src/img/concept/concept6@2x.png 2x" alt=""/></figure>
                </div>
                <!--/column -->
                <div class="col-lg-5">
                    <h2 class="fs-16 text-uppercase text-muted mb-3">Biz bilan hamkorlik</h2>
                    <h3 class="display-4 mb-7">Siz tadbirkormisiz? Unda biz bilan manfaatli hamkorlik qiling.</h3>
                    <div class="accordion accordion-wrapper" id="accordionExample">
                        <div class="card plain accordion-item">
                            <div class="card-header" id="headingOne">
                                <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">Hamkorlik qanaqa tartibda
                                    bo'ladi?
                                </button>
                            </div>
                            <!--/.card-header -->
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    <p>E-RIB.UZ platformasi orqali ariza yuborish xizmatini yo'lga qo'yish sizning
                                        biznesingiz uchun qulay hamkorlik muhitini yaratadi. Sizning vazifangiz
                                        faqatgina kerakli servisni tanlagan holda, fuqaro avtotransport vositasini
                                        texnik pasporti va fuqaroning fuqarolik pasporti ma'lumotlarini tizimga
                                        joylash.</p>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.accordion-collapse -->
                        </div>
                        <!--/.accordion-item -->
                        <div class="card plain accordion-item">
                            <div class="card-header" id="headingTwo">
                                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo"> Talablar qanday, menga
                                    nimalar kerak bo'ladi?
                                </button>
                            </div>
                            <!--/.card-header -->
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Sizga kompyuter (noutbook), internet va chop etish qurilmasi(printer) kerak
                                        bo'ladi. O'zingizga tegishli tadbirkorlik subyekti ma'lumotlarini bizga taqdim
                                        etish orqali maxsus ruxsatnoma olasiz va ushbu ruxsatnoma asosida faoliyat
                                        yuritasiz.</p>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.accordion-collapse -->
                        </div>
                        <!--/.accordion-item -->
                        <div class="card plain accordion-item">
                            <div class="card-header" id="headingThree">
                                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree"> Hamkorlik menga qanday
                                    foyda keltirishi mumkin.?
                                </button>
                            </div>
                            <!--/.card-header -->
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Hamkorlik siz uchun manfaatli bo'lishi aniq. Hamkorlik masalalari bo'yicha barcha
                                        savollar uchun yagona ishonch raqami (71) 200 00 00.</p>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.accordion-collapse -->
                        </div>
                        <!--/.accordion-item -->
                    </div>
                    <!--/.accordion -->
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->

    <!-- /section -->

    <!-- /section -->


</div>
<!-- /.content-wrapper -->
<footer class="bg-navy text-inverse">
    <div class="container pt-15 pt-md-17 pb-13 pb-md-15">
        <div class="d-lg-flex flex-row align-items-lg-center">
            <h3 class="display-4 mb-6 mb-lg-0 pe-lg-20 pe-xl-22 pe-xxl-25 text-white">O'z vaqtingizni o'zingiz tejagan
                holda YHXB RIB xizmatlaridan hoziroq foydalaning.</h3>
            <a href="#" class="btn btn-primary rounded-pill mb-0 text-nowrap">A'zo bo'lish / Tizimga kirish</a>
        </div>
        <!--/div -->
        <hr class="mt-11 mb-12"/>
        <div class="row gy-6 gy-lg-0">
            <div class="col-md-4 col-lg-3">
                <div class="widget">
                    <img class="mb-4" src="src/img/logo-light.png" srcset="src/img/logo-light@2x.png 2x" alt=""/>
                    <p class="mb-4">© 2021 Sandbox. <br class="d-none d-lg-block"/>All rights reserved.</p>
                    <nav class="nav social social-white">
                        <a href="#"><i class="uil uil-twitter"></i></a>
                        <a href="#"><i class="uil uil-facebook-f"></i></a>
                        <a href="#"><i class="uil uil-dribbble"></i></a>
                        <a href="#"><i class="uil uil-instagram"></i></a>
                        <a href="#"><i class="uil uil-youtube"></i></a>
                    </nav>
                    <!-- /.social -->
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-4 col-lg-3">
                <div class="widget">
                    <h4 class="widget-title text-white mb-3">Get in Touch</h4>
                    <address class="pe-xl-15 pe-xxl-17">Moonshine St. 14/05 Light City, London, United Kingdom</address>
                    <a href="mailto:#">info@email.com</a><br/> +00 (123) 456 78 90
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-4 col-lg-3">
                <div class="widget">
                    <h4 class="widget-title text-white mb-3">Learn More</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-12 col-lg-3">
                <div class="widget">
                    <h4 class="widget-title text-white mb-3">Our Newsletter</h4>
                    <p class="mb-5">Subscribe to our newsletter to get our news & deals delivered to you.</p>
                    <div class="newsletter-wrapper">
                        <!-- Begin Mailchimp Signup Form -->
                        <div id="mc_embed_signup2">
                            <form action="https://elemisfreebies.us20.list-manage.com/subscribe/post?u=aa4947f70a475ce162057838d&amp;id=b49ef47a9a"
                                  method="post" id="mc-embedded-subscribe-form2" name="mc-embedded-subscribe-form"
                                  class="validate dark-fields" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll2">
                                    <div class="mc-field-group input-group form-label-group">
                                        <input type="email" value="" name="EMAIL" class="required email form-control"
                                               placeholder="Email Address" id="mce-EMAIL2">
                                        <label for="mce-EMAIL2">Email Address</label>
                                        <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe2"
                                               class="btn btn-primary">
                                    </div>
                                    <div id="mce-responses2" class="clear">
                                        <div class="response" id="mce-error-response2" style="display:none"></div>
                                        <div class="response" id="mce-success-response2" style="display:none"></div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                            type="text" name="b_ddc180777a163e0f9f66ee014_4b1bcfa0bc" tabindex="-1"
                                            value=""></div>
                                    <div class="clear"></div>
                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
                    <!-- /.newsletter-wrapper -->
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</footer>
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
<script src="{% static 'src/js/plugins.js' %}"></script>
<script src="{% static 'src/js/scripts.js' %}"></script>
</body>
</html>