{% load humanize %}
<div class="form-card">
    <div class="row no-gutters d-flex justify-content-center">
        <div class="col-md-10">
            <div class="payment-info">
                {#                                                <div class="row">#}
                {#                                                    <img class="img-fluid cc-img"#}
                {#                                                         src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">#}
                {#                                                </div>#}
                {##}
                {#                                                <div class="mt-2">#}
                {#                                                    <label class="credit-card-label label_required">Karta egasi</label>#}
                {#                                                    <input type="text" class="credit-inputs form-control"#}
                {#                                                           placeholder="Masalan: Abdullayev Bahtiyor">#}
                {#                                                </div>#}
                {#                                                <div class="mt-2">#}
                {#                                                    <label class="credit-card-label label_required">Karta raqami</label>#}
                {#                                                    <input type="text" class="credit-inputs form-control"#}
                {#                                                           placeholder="0000 0000 0000 0000">#}
                {#                                                </div>#}
                {#                                                <div class="row mt-2">#}
                {#                                                    <div class="col-md-6">#}
                {#                                                        <label class="credit-card-label label_required">Vaqti</label>#}
                {#                                                        <input type="text" class="credit-inputs form-control"#}
                {#                                                               placeholder="12/24">#}
                {#                                                    </div>#}
                {#                                                    <div class="col-md-6">#}
                {#                                                        <label class="credit-card-label label_required">Maxfiy#}
                {#                                                            kod</label>#}
                {#                                                        <input type="text" class="credit-inputs form-control"#}
                {#                                                               placeholder="342">#}
                {#                                                    </div>#}
                {#                                                </div>#}
                {#                                                <br>#}

                <table class="table" id="state_duties_block">
                    <thead>
                    <tr>
                        <th class="not_copy">Xizmat turi</th>
                        <th class="text-center not_copy">Narxi</th>
                        <th class="text-center not_copy">Amallar</th>
                    </tr>
                    </thead>
                    <tbody>


                    {% if PAY_FOR_SERVICE > 0 and PAY_FOR_SERVICE_PERCENT > 0 %}
                        <tr>
                            <td class="col-md-9"><em>Elektron ariza shakllantirish uchun</em></td>
                            <td class="col-md-3 text-center calculated_payment">{{ PAY_FOR_SERVICE|intcomma }} so'm</td>
                            <td class="col-md-3 text-center">
                                <button class="btn btn-primary">To'lov qilish</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-9"><em>Elektron to'lovlar va bank xizmati haqi</em></td>
                            <td class="col-md-3 text-center calculated_payment">{{ PAY_FOR_SERVICE_PERCENT|intcomma }}
                                so'm
                            </td>
                            <td class="col-md-3 text-center">
                                <button class="btn btn-primary">To'lov qilish</button>
                            </td>
                        </tr>
                    {% endif %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


