{% load i18n %}
{% load static %}

<div class="row mb-3">
    <label class="col-4 col-xl-3 col-form-label not_copy text-start">Foydalanuvchi shaxsini
        tanlang<span class="text-danger">*</span></label>
    {#    &nbsp<i#}
    {#        class="fas fa-info-circle" data-toggle="tooltip"#}
    {#        title="Arizani yuridik yoki jismoniy shaxs sifatida yuborishni tanlang!"></i>#}
    <div class="col-8 col-xl-9">
        <select class="form-select" style="width: 100%;" id="person_type" name="person_type" required>
            <option value="0">Jismoniy shaxs</option>
            <option value="1">Yuridik shaxs</option>
        </select>
        <p style="margin-top: 0;margin-bottom: 0; font-size: 0.8em;display: none; text-align: start"
           id="organization_div_alert"
           class="text-danger not_copy">
            Sizda tashkilot mavjud emas. <a
                href="{% url 'user:add_organization' %}?next={{ request.path }}">Tashkilotni
            qo'shish </a> bo'limiga o'tib, tashkilotni ro'yhatga oling
        </p>
    </div>
</div>

<div class="row mb-3" id="div_organization" style="display: none">
    <label class="not_copy col-4 col-xl-3 col-form-label text-start">{% trans 'Korxonani tanlang:' %}<span
            class="text-danger">*</span></label>
    <div class="col-8 col-xl-9">
        <select id="organization"
                class="form-select"
                style="width: 100%;">
            {% for organization in organizations %}
                <option value="{{ organization.id }}">{{ organization.title }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div id="physical_div">
    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start">{% trans 'Familiya:' %}</label>
        <div class="col-8 col-xl-9">
            <input type="text" id="last_name" class="form-control"
                   value=""
                   disabled>
        </div>
    </div>

    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start">{% trans 'Ism:' %}</label>
        <div class="col-8 col-xl-9">
            <input type="text" id="first_name" class="form-control"
                   value=""
                   disabled>
        </div>
    </div>
    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start">{% trans 'Otasining ismi:' %}</label>
        <div class="col-8 col-xl-9">
            <input type="text" id="middle_name" class="form-control" value=""
                   disabled>
        </div>
    </div>
    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start">{% trans 'Passport:' %}</label>
        <div class="col-8 col-xl-9">
            <input type="text" id="passport" class="form-control" value=""
                   disabled>
        </div>
    </div>
</div>


<div id="legal_div" style="display: none">
    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start">{% trans 'Rahbar:' %}</label>
        <div class="col-8 col-xl-9">
            <input type="text" id="director" class="form-control" placeholder=""
                   disabled>
        </div>
    </div>

    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start">{% trans 'STIR raqam:' %}</label>
        <div class="col-8 col-xl-9">
            <input type="text" id="identification_number" class="form-control"
                   placeholder=""
                   disabled>
        </div>
    </div>
    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start">{% trans 'Yuridik manzil(Viloyat):' %}</label>
        <div class="col-8 col-xl-9">
            <input type="text" id="legal_address_region" class="form-control"
                   placeholder="" disabled>
        </div>
    </div>
    <div class="row mb-3">
        <label class="not_copy col-4 col-xl-3 col-form-label text-start">{% trans 'Yuridik manzil(Tuman):' %}</label>
        <div class="col-8 col-xl-9">
            <input type="text" id="legal_address_district" class="form-control"
                   placeholder="" disabled>
        </div>
    </div>
</div>


{% block js %}

    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script type='text/javascript'>

        $('body').on('change', '#person_type', function () {

        })

    </script>

{% endblock js %}
