{% extends 'base_vertical.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% if user.last_name %}{{ user.last_name }}{% endif %} {% if user.first_name %}{{ user.first_name }}{% endif %}
{% endblock title %}

{% block page_title %}
    {% trans "Shaxsiy ma'lumotlarni tahrirlash" %}
{% endblock page_title %}

{% block css %}
    <!-- Plugins css -->
    <link href="{% static 'assets/libs/mohithg-switchery/switchery.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/multiselect/css/multi-select.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/selectize/css/selectize.bootstrap3.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet"
          type="text/css"/>


    <!-- Sweet Alert-->
    <link href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>


    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block content %}
    <div class="row ml-2 mr-2">

        <div class="col-12 text-center p-0">
            <div class="card px-0 pt-4 pb-0 mb-3">
                {% include '_parts/messages.html' %}
                <fieldset>
                    <legend>{% trans "Foydalanuvchi ma'lumotlari" %}</legend>
                    <form method="POST" id="edit_personal_data_form">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="last_name">{% trans "Familiya" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="last_name" name="last_name"
                                       class="form-control" required
                                       {% if form.instance.last_name %}value="{{ form.instance.last_name }}"{% endif %}
                                       placeholder="{% trans 'Masalan: Yoqubov' %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="first_name">{% trans "Ism" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="first_name" name="first_name"
                                       class="form-control" required
                                       {% if form.instance.first_name %}value="{{ form.instance.first_name }}"{% endif %}
                                       placeholder="{% trans 'Masalan: Sirojiddin' %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="middle_name">{% trans "Otasining ismi" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="middle_name" name="middle_name"
                                       class="form-control" required
                                       {% if form.instance.middle_name %}value="{{ form.instance.middle_name }}"{% endif %}
                                       placeholder="{% trans 'Masalan: Tojiddinovich' %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="birthday">{% trans "Tug'ilgan vaqt" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="date" id="birthday" name="birthday"
                                       class="form-control" required
                                       {% if form.instance.birthday %}value="{{ form.instance.birthday|date:"Y-m-d" }}"{% endif %}>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="birthday">{% trans "Viloyat" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 region">
                                <select name="region" class="form-select select2" id="region"
                                        required>
                                    <option value="">--Viloyatni tanlang--</option>
                                    {% for region in regions %}
                                        <option value="{{ region.id }}">{{ region.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="district">{% trans "Tuman/Shahar" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 district">
                                <select name="district" class="form-select select2" id="district"
                                        required>
                                    <option value="">{% trans '--Tumanni tanlang--' %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="quarter">{% trans "Mahalla" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 quarter">
                                <select name="quarter" class="form-select select2" id="quarter"
                                        required>
                                    <option value="">{% trans '--Mahallani tanlang--' %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="address">{% trans "Ko'cha/Qishloq" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="address" name="address"
                                       class="form-control" required
                                       {% if form.instance.address %}value="{{ form.instance.address }}"{% endif %}
                                       placeholder="{% blocktrans %}Masalan: M.Iqbol ko'chasi 76-uy{% endblocktrans %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="passport_seriya">{% trans "Passport seriya" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="passport_seriya" name="passport_seriya"
                                       class="form-control" required
                                       {% if form.instance.passport_seriya %}value="{{ form.instance.passport_seriya }}"{% endif %}
                                       placeholder="{% blocktrans %}Masalan: AA{% endblocktrans %}"
                                       autocomplete="off">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="passport_number">{% trans "Passport raqam" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="number" id="passport_number" name="passport_number"
                                       class="form-control" required
                                       {% if form.instance.passport_number %}value="{{ form.instance.passport_number }}"{% endif %}
                                       placeholder="{% blocktrans %}Masalan: 3870293{% endblocktrans %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="person_id">{% trans "JShShIR" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 person_id">
                                <div class="input-group input-group-merge">
                                    <input type="text" id="person_id" name="person_id"
                                           class="form-control" required
                                           {% if form.instance.person_id %}value="{{ form.instance.person_id }}"{% endif %}
                                           autocomplete="off">
                                    <div class="input-group-text" id="person_id_help">
                                        <i class="far fa-question-circle"></i>
                                    </div>
                                </div>
                                <p style="width:100%;font-size: small; margin-bottom: 0; float: left;text-align: start">{% trans 'Jismoniy shaxsning shaxsiy identifikatsiya raqamini kiriting' %}</p>
                                <img class="img-responsive mb-2"
                                     style="width: 200px; margin: 0 auto; display: none" height="auto"
                                     src="{% static 'online/person_id.jpg' %}"
                                     alt="JShShIR">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="issue_by_whom">{% trans "Kim tomonidan berilgan" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="issue_by_whom" name="issue_by_whom"
                                       class="form-control" required
                                       {% if form.instance.issue_by_whom %}value="{{ form.instance.issue_by_whom }}"{% endif %}
                                       placeholder="{% blocktrans %}Masalan: BUXORO SHAHAR IIB{% endblocktrans %}"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="phone">{% trans "Tel raqam/Login" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 phone_div">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">+998</div>
                                    </div>
                                    <input type="text" id="phone" name="phone"
                                           class="form-control" required
                                           {% if form.instance.phone %}value="{{ form.instance.phone }}"{% endif %}
                                           autocomplete="off">


                                </div>
                            </div>

                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="password">{% trans "Parolni kiriting" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 password_div">
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" name="password"
                                           class="form-control" required
                                           {% if form.instance.turbo %}value="{{ form.instance.turbo }}"{% endif %}
                                           autocomplete="off"
                                           placeholder="{% blocktrans %}Masalan: qwerty12345{% endblocktrans %}">
                                    <div class="input-group-text show_password" data-pwd="password">
                                        <i class="far fa-eye"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="confirm_password">{% trans "Parolni qayta kiriting" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 confirm_password_div">
                                <div class="input-group input-group-merge">
                                    <input type="password" id="confirm_password" name="confirm_password"
                                           class="form-control" required
                                           {% if form.instance.turbo %}value="{{ form.instance.turbo }}"{% endif %}
                                           autocomplete="off"
                                           placeholder="{% blocktrans %}Masalan: qwerty12345{% endblocktrans %}">
                                    <div class="input-group-text show_password" data-pwd="confirm_password">
                                        <i class="far fa-eye"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="justify-content-end row">
                            <div class="col-3">
                                <button type="submit" id="saveBtn"
                                        class="btn btn-info waves-effect waves-light float-end">Saqlash
                                </button>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>

{% endblock content %}
{% block js %}
    <script src="{% static 'assets/libs/selectize/js/standalone/selectize.min.js' %}"></script>
    <script src="{% static 'assets/libs/mohithg-switchery/switchery.min.js' %}"></script>
    <script src="{% static 'assets/libs/multiselect/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>

    <script src="{% static 'assets/libs/devbridge-autocomplete/jquery.autocomplete.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>

    <script src="{% static 'assets/libs/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-notify@3.1.3/bootstrap-notify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"
            integrity="sha512-6Jym48dWwVjfmvB0Hu3/4jn4TODd6uvkxdi9GNbBHwZ4nGcRxJUCaTkL3pVY6XUQABqFo3T58EMXFQztbjvAFQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/responsive.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>


    <script type="text/javascript">
        var dateReg = /^(0?[1-9]|[12][0-9]|3[01])[./-](0?[1-9]|1[012])[./-]\d{4}$/


        $(function () {
            $('.select2').select2()
        })

        $(document).ready(function () {
            $('#phone').inputmask('99 999-99-99');
            $('#person_id').inputmask('99999999999999');

            var csrftoken = getCookie('csrftoken')


            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', csrftoken)
                },
                statusCode: {
                    401: function () {
                        tokenInvalid()
                    },
                    403: function () {
                        tokenInvalid()
                    }
                },

            })


            $('#person_id_help').on('click', function () {

                var i_path = $(this).parent('.input-group').nextAll('.img-responsive').attr('src');
                $('body').append('<div id="overlay"></div><div id="magnify"><img src="' + i_path + '"><div id="close-popup"><i></i></div></div>');
                $('#magnify').css({
                    left: ($(document).width() - $('#magnify').outerWidth()) / 4,
                    // top: ($(document).height() - $('#magnify').outerHeight())/2 upd: 24.10.2016
                    top: ($(window).height() - $('#magnify').outerHeight()) / 4
                });
                $('#overlay, #magnify').fadeIn('fast');
            })

            $('.show_password').on('click', function () {
                var $Passwords = $('.show_password');
                var data = $(this).data('pwd')

                $Passwords.each(function (index, element) {
                    var $password = $(element)
                    if ($password.data('pwd') === data) {

                        if ($password.prev('input').attr('type') === 'password') {
                            $password.html('<i class="far fa-eye-slash"></i>')
                            $password.prev('input').attr('type', 'text')
                        } else {
                            $password.html('<i class="far fa-eye"></i>')
                            $password.prev('input').attr('type', 'password')
                        }
                    }
                })
            })

            $('#region').change(function () {
                var SelectedRegion = $(this).children("option:selected").val()
                $.ajax({
                    type: "GET",
                    url: "{% url 'user:get_district' %}",
                    data: {
                        'region': SelectedRegion, // from form
                    },
                    success: function (message) {
                        $('#district').empty().append(message)
                        $('#district').css('border', '1px solid blue')
                        setTimeout(function () {
                            $('#district').css('border', '1px solid #ced4da')
                        }, 1000)

                    }
                });
            })

            $('#district').change(function () {
                var SelectedDistrict = $(this).children("option:selected").val()
                $.ajax({
                    type: "GET",
                    url: "{% url 'user:get_quarters' %}",
                    data: {
                        'district': SelectedDistrict, // from form
                    },
                    success: function (message) {
                        $('#quarter').empty().append(message)
                        $('#quarter').css('border', '1px solid blue')
                        setTimeout(function () {
                            $('#quarter').css('border', '1px solid #ced4da')
                        }, 1000)

                    }
                });
            })


            jQuery.validator.addMethod("noSpace", function (value, element) {
                return value == '' || value.trim().length != 0;
            }, "Iltimos, bo'sh joy qoldirmang!");
            jQuery.validator.addMethod("customEmail", function (value, element) {
                return this.optional(element) || /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value);
            }, "Iltimos, to'g'ri elektron pochta manzilini kiriting!");
            $.validator.addMethod("alphanumeric", function (value, element) {
                return this.optional(element) || /^\w+$/i.test(value);
            }, "Faqat harf va raqam kiriting!");
            jQuery.validator.addMethod("personIdMaxLength", function (value, element) {
                return this.optional(element) || /^\d{14}$/.test(value);
            }, "JShShIR 14 raqamdan iborat bo'lishi kerak!");
            jQuery.validator.addMethod("phoneMaxLength", function (value, element) {
                return this.optional(element) || /^\d{2}\s\d{3}-\d{2}-\d{2}$/.test(value);
            }, "Login noto'g'ri kiritilgan!");
            jQuery.validator.addMethod("passwordCheck",
                function (value, element, param) {
                    if (this.optional(element)) {
                        return true;
                    }
                        // else if (!/[A-Z]/.test(value)) {
                        //   return false;
                    //  }
                    else if (!/[a-z]/.test(value)) {
                        return false;
                    } else if (!/[0-9]/.test(value)) {
                        return false;
                    }

                    return true;
                },
                "Parol raqam va harfdan iborat bo'lishi kerak!");


            var EditPersonalDataForm = $('#edit_personal_data_form');
            if (EditPersonalDataForm.length) {
                EditPersonalDataForm.validate({
                    ignore: ":hidden",
                    rules: {
                        //username is the name of the textbox
                        last_name: {
                            required: true,
                            //alphanumeric is the custom method, we defined in the above
                            noSpace: true,
                        },
                        first_name: {
                            required: true,
                            noSpace: true,
                        },
                        middle_name: {
                            required: true,
                            noSpace: true,
                        },
                        region: {
                            required: true
                        },
                        district: {
                            required: true
                        },
                        quarter: {
                            required: true
                        },
                        birthday: {
                            required: true
                        },
                        address: {
                            required: true,
                            noSpace: true,
                        },
                        passport_seriya: {
                            required: true,
                            //alphanumeric is the custom method, we defined in the above
                            alphanumeric: true,
                            noSpace: true,
                        },
                        passport_number: {
                            required: true,
                            alphanumeric: true,
                            noSpace: true,
                        },
                        issue_by_whom: {
                            required: true,
                            noSpace: true,
                        },
                        person_id: {
                            required: true,
                            personIdMaxLength: true
                        },
                        phone: {
                            required: true,
                            phoneMaxLength: true,
                        },
                        password: {
                            required: true,
                            minlength: 6,
                            passwordCheck: true
                        },
                        confirm_password: {
                            required: true,
                            equalTo: "#password"
                        }

                    },
                    messages: {
                        last_name: {
                            required: 'Familiya kiritilmagan!',
                        },
                        first_name: {
                            required: 'Ism kiritilmagan!',
                        },
                        middle_name: {
                            required: 'Otasining ismi kiritilmagan!',
                        },
                        region: {
                            required: 'Viloyat tanlanmagan!',
                        },
                        district: {
                            required: 'Tuman tanlanmagan!',
                        },
                        quarter: {
                            required: 'Mahalla tanlanmagan!',
                        },
                        birthday: {
                            required: 'Tug\'ilgan vaqti kiritilmagan!',
                        },
                        address: {
                            required: 'Manzil kiritilmagan!',
                        },
                        passport_seriya: {
                            required: 'Passport seriya kiritilmagan!',
                        },
                        passport_number: {
                            required: 'Passpor raqami kiritilmagan!',

                        },
                        issue_by_whom: {
                            required: 'Passport kim tomonidan berilganligi kiritilmagan!',
                        },
                        person_id: {
                            required: 'JShShIR raqami kiritilmagan!',
                        },
                        phone: {
                            required: 'Login kiritilmagan!',
                        },
                        password: {
                            required: "Parol kiritilmagan!",
                            minlength: "Kamida 6 ta belgi kiriting!"

                        },
                        confirm_password: {
                            required: "Parolni qayta kiriting!",
                            equalTo: "Parol bir xil emas!"
                        }

                    },

                    errorPlacement: function (error, element) {
                        if (element.is("#region")) {
                            error.appendTo(element.parents('.region'));
                        } else if (element.is("#district")) {
                            error.appendTo(element.parents('.district'));
                        } else if (element.is("#quarter")) {
                            error.appendTo(element.parents('.quarter'));
                        } else if (element.is("#person_id")) {
                            error.appendTo(element.parents('.person_id'));
                        } else if (element.is("#phone")) {
                            error.appendTo(element.parents('.phone_div'));
                        } else if (element.is("#password")) {
                            error.appendTo(element.parents('.password_div'));
                        } else if (element.is("#confirm_password")) {
                            error.appendTo(element.parents('.confirm_password_div'));
                        } else {
                            error.insertAfter(element);
                        }

                    },

                    submitHandler: function (form, e) {
                        $('#saveBtn').html('Saqlash&nbsp<i class="fas fa-spinner fa-spin"></i>')

                        $.ajax({
                            type: "POST",
                            url: "{% url 'user:edit_personal_data' %}",
                            data: $(form).serialize(),
                            statusCode: {
                                200: function () {
                                    $('#saveBtn').html('Saqlash')

                                    $("fieldset").keyup(function (event) {
                                        if (event.keyCode === 13) {
                                            $("#saveBtn").click();
                                        }
                                    });

                                    $.notifyDefaults({
                                        type: 'success',
                                        allow_dismiss: false,
                                        animate: {
                                            enter: 'animated fadeInRight',
                                            exit: 'animated fadeOutRight',
                                        },
                                        z_index: '9999'
                                    });
                                    $.notify({
                                        icon: 'glyphicon glyphicon-star',
                                        message: `<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                                            '<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\n' +
                                            '<path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>\n' +
                                            '</svg> Muvaffaqiyatli tahrirlandi!`
                                    });
                                },
                                400: function () {
                                    errorFunction()
                                },
                                401: function () {
                                    tokenInvalid()
                                }
                            },
                        });
                        return false; // required to block normal submit since you used ajax
                    }
                });
            }

            $('#region').on('change', function () {
                var selectedRegion = $(this).children("option:selected").val();
                if (parseInt(selectedRegion)) {
                    $(this).valid()

                }
            })

            $('#district').on('change', function () {
                var selectedDistrict = $(this).children("option:selected").val();
                if (parseInt(selectedDistrict)) {
                    $(this).valid()

                }
            })

            $('#quarter').on('change', function () {
                var selectedQuarter = $(this).children("option:selected").val();
                if (parseInt(selectedQuarter)) {
                    $(this).valid()

                }
            })

        })
    </script>

{% endblock js %}