{% extends 'base_vertical.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
     <link href="{% static 'assets/libs/multiselect/css/multi-select.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>
     <link data-require="sweet-alert@*" data-semver="0.4.2" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>
{% endblock css %}

{% block title %}
    {% trans "E-RIB.UZ" %}
{% endblock title %}

{% block page_title %}
   {% trans "Tashkilotni tahrirlash oynasi" %}
{% endblock page_title %}

{% block content %}
    <div class="row ml-2 mr-2">

        <div class="col-12 text-center p-0">
            <div class="card px-0 pt-4 pb-0 mb-3">
                <fieldset>
                    <legend>Tashkilotni tahrirlash</legend>
                    <form action="#" method="POST" id="add_organization_form">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="title">{% trans "Tashkilot nomi" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="title" name="title"
                                       class="form-control" required value="{{ form.instance.title }}"
                                       placeholder='Masalan: "BUXORO RAVON AVTOMAKTAB" MCHJ'
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="director">{% trans "Rahbari" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="director" name="director"
                                       class="form-control" required value="{{ form.instance.director }}"
                                       placeholder="Masalan: Sirojiddin Yoqubov"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="identification_number">{% trans "STIR raqam" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="number" id="identification_number" name="identification_number"
                                       class="form-control" required value="{{ form.instance.identification_number }}"
                                       placeholder='Masalan: 305897526'
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="legal_address_region">{% trans 'Yuridik manzili(Viloyat)' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 legal_address_region">
                                <select id="legal_address_region" name="legal_address_region" required
                                        class="form-control select2"
                                        data-width="100%">
                                    <option value="">--Viloyatni tanlang--</option>
                                    {% for region in regions %}
                                        <option value="{{ region.id }}">{{ region.title }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="legal_address_district">{% trans 'Yuridik manzili(Tuman)' %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9 legal_address_district">
                                <select id="legal_address_district" name="legal_address_district" required
                                        class="form-control select2"
                                        data-width="100%">
                                    <option value="">--Tumanni tanlang--</option>

                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="not_copy col-4 col-xl-3 col-form-label text-start"
                                   for="address_of_garage">{% trans "Garaj manzili" %}<span
                                    class="text-danger">*</span></label>
                            <div class="col-8 col-xl-9">
                                <input type="text" id="address_of_garage" name="address_of_garage"
                                       class="form-control" required value="{{ form.instance.address_of_garage }}"
                                       placeholder="Masalan: Buxoro shahri Suvchilar ko'chasi 24/3"
                                       autocomplete="off">
                            </div>
                        </div>
                    <div class="justify-content-end row">
                            <div class="col-12">
                                 <button type="button" class="btn btn-danger waves-effect waves-light float-start"
                                        id="deleteBtn" data-title="{{ form.instance.title }}">O'chirish
                                </button>
                                <button type="submit" id="saveBtn"
                                        class="btn btn-info waves-effect waves-light float-end">Saqlash
                                </button>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
     <script src="{% static 'assets/libs/multiselect/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
 <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-notify@3.1.3/bootstrap-notify.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.select2').select2()
        })
        $(document).ready(function () {

            sendAuthorizationToken()

            $('#legal_address_region').change(function () {
                var SelectedRegion = $(this).children("option:selected").val()

                $.ajax({
                    type: "GET",
                    url: "{% url 'user:get_district' %}",
                    data: {
                        'region': SelectedRegion, // from form
                    },
                    success: function (message) {
                        $('#legal_address_district').empty().append(message)
                    }
                });
            })


            $('#legal_address_region').on('change', function () {
                var selectedRegion = $(this).children("option:selected").val();
                if (parseInt(selectedRegion)) {
                    $(this).valid()

                }
            })

            $('#legal_address_district').on('change', function () {
                var selectedDistrict = $(this).children("option:selected").val();
                if (parseInt(selectedDistrict)) {
                    $(this).valid()

                }
            })

            jQuery.validator.addMethod("noSpace", function (value, element) {
                return value == '' || value.trim().length != 0;
            }, "Iltimos, bo'sh joy qoldirmang!");
            jQuery.validator.addMethod("customEmail", function (value, element) {
                return this.optional(element) || /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value);
            }, "Iltimos, to'g'ri elektron pochta manzilini kiriting!");
            $.validator.addMethod("alphanumeric", function (value, element) {
                return this.optional(element) || /^\w+$/i.test(value);
            }, "Faqat harf va raqam kiriting!");
            //   $.validator.addMethod("auctionNumber", function (value, element) {
            //      return this.optional(element) || /^[A-Z0-9]{8}$/i.test(value);
            // }, "Raqamni to'liq kiriting!");

            var $organizationForm = $('#add_organization_form');
            if ($organizationForm.length) {
                $organizationForm.validate({
                    {#ignore: ":hidden:not('#fuel_types')",#}

                    rules: {
                        //username is the name of the textbox
                        title: {
                            required: true,
                        },
                        director: {
                            required: true,
                        },
                        identification_number: {
                            required: true,
                            alphanumeric: true,
                            noSpace: true,
                        },
                        legal_address_region: {
                            required: true,
                        },
                        legal_address_district: {
                            required: true,
                        },
                        address_of_garage: {
                            required: true,
                        },


                    },
                    messages: {
                        title: {
                            //error message for the required field
                            required: 'Tashkilot nomi kiritilmagan!'
                        },
                        director: {
                            required: 'Rahbar kiritilmagan!'
                        },
                        identification_number: {
                            required: 'STIR raqam kiritilmagan!'
                        },
                        legal_address_region: {
                            required: "Yuridik manzil(Viloyat) tanlanmagan!",
                        },
                        legal_address_district: {
                            required: "Yuridik manzil(Tuman) tanlanmagan!",
                        },
                        address_of_garage: {
                            required: "Garaj manzili kiritilmagan!",
                        },


                    },
                    errorPlacement: function (error, element) {
                        if (element.is("#legal_address_region")) {
                            error.appendTo(element.parents('.legal_address_region'));
                        } else if (element.is("#legal_address_district")) {
                            error.appendTo(element.parents('.legal_address_district'));
                        } else {
                            error.insertAfter(element);
                        }

                    },


                    submitHandler: function (form) {
                        $('#saveBtn').attr('disabled', true)
                        $('#saveBtn').html('Saqlash&nbsp<i class="fas fa-spinner fa-spin"></i>')

                        $.ajax({
                            type: "POST",
                            url: "{% url 'user:add_organization' %}",
                            data: $(form).serialize(),

                            success: function (response) {
                                console.log(typeof response)
                                if (typeof response === 'object') {
                                    $.notifyDefaults({
                                        type: 'success',
                                        allow_dismiss: false,
                                        animate: {
                                            enter: 'animated fadeInRight',
                                            exit: 'animated fadeOutRight',
                                        },
                                        z_index: '9999'
                                    });
                                    $.notify({
                                        icon: 'glyphicon glyphicon-star',
                                        message: `<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                                            '<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\n' +
                                            '<path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>\n' +
                                            '</svg> ${response.fields.title} muvaffaqiyatli saqlandi!`
                                    });

                                    setTimeout(function () {
                                        window.location.href = "{% url 'user:organizations_list' %}"
                                    }, 1500)
                                } else {
                                    errorFunction()
                                    $('#saveBtn').attr('disabled', false)
                                    $('#saveBtn').html('Saqlash')
                                }
                            }

                        });
                        return false; // required to block normal submit since you used ajax
                    }
                });
            }

            $('#deleteBtn').on('click', function () {
                var title = $(this).data('title'),
                    organizationId = '{{ organization.id }}'

                swal({
                    title: "Tashkilotni o'chirmoqchimisiz ?",
                    text: title + "ni o'chirmoqchimisiz ?",
                    icon: "warning",
                    closeOnClickOutside: false,
                    buttons: [
                        'Yoq, Bekor qilish!',
                        'Ha, Roziman!'
                    ],
                    dangerMode: true,
                }).then(function (isConfirm) {
                    if (isConfirm) {

                        $.ajax({
                            url: "{% url 'user:remove_organization' %}",
                            type: 'POST',
                            data: {
                                'organization': organizationId
                            },
                            success: function (response) {
                                if (response === "True") {
                                    swal({
                                        title: "Muvaffaqiyatli o'chirildi !",
                                        text: title + " muvaffaqiyatli o'chirildi !",
                                        icon: 'success'
                                    }).then(function () {
                                        window.location.href = '{% url "user:organizations_list" %}';
                                    });
                                } else {
                                    swal({
                                        title: "Tashkilotni o'chirishda xatolik yuz berdi!",
                                        text: title + "ni o'chirishda xatolik yuz berdi!",
                                        icon: 'error'
                                    }).then(function () {
                                       errorFunction()
                                    });
                                }
                            }
                        })


                    } else {
                        swal("Bekor qilindi", title + " ro'yhatda turibti !", "error");
                    }
                });

                {#var url = "{% url 'user:remove_organization' organization_id=12345 %}".replace(/12345/, id.toString());#}

            })

        })

    </script>
{% endblock js %}


