{% extends 'base_vertical.html' %}
{% load i18n %}

{% block title %}
    {% if user.last_name %}{{ user.last_name }}{% endif %} {% if user.first_name %}{{ user.first_name }}{% endif %}
{% endblock title %}

{% block page_title %}
    {% trans "Shaxsiy ma'lumotlar" %}
{% endblock page_title %}

{% block content %}

    <div class="row ml-2 mr-2">
        <div class="col-12 text-center p-0">

            <div class="card px-0 pb-0 mb-3">
                <div class="card-body">
                    {% include '_parts/messages.html' %}
                    <table class="table table-striped table-bordered text-start">
                        <tr>
                            <th scope="row">Familiya:</th>
                            <td>{% if user.last_name %}{{ user.last_name }}{% endif %}</td>

                        </tr>

                        <tr>
                            <th scope="row">Ism:</th>
                            <td>{% if user.first_name %}{{ user.first_name }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Otasining ismi:</th>
                            <td>{% if user.middle_name %}{{ user.middle_name }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Tug'ilgan yil:</th>
                            <td>{% if user.birthday %}{{ user.birthday|date:"d.m.Y" }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Yashash manzili:</th>
                            <td>{% if user.region %}{{ user.region }},{% endif %}
                                {% if user.district %}{{ user.district }},{% endif %}
                                {% if user.quarter %}{{ user.quarter }},{% endif %}
                                {% if user.address %}{{ user.address }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Passport seriyasi:</th>
                            <td>{% if user.passport_seriya %}{{ user.passport_seriya }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Passport raqami:</th>
                            <td>{% if user.passport_number %}{{ user.passport_number }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Kim tomonidan berilgan:</th>
                            <td>{% if user.issue_by_whom %}{{ user.issue_by_whom }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">JShShIR:</th>
                            <td>{% if user.person_id %}{{ user.person_id }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th scope="row">Tel raqam/Login:</th>
                            <td>{% if user.phone %}+998{{ user.phone }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th scope="row">Parol:</th>
                            <td>
                                {% if user.turbo %}
                                    <span id="password" data-show="false"
                                                         data-password="{{ user.turbo }}">******</span>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <span style="cursor: pointer" id="show_password"><i class="far fa-eye"></i></span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>

                    <a href="{% url 'user:edit_personal_data' %}">
                        <button style="float: right;margin-bottom: 10px; margin-right: 10px"
                                class="btn btn-outline-secondary"><i class="fas fa-user-edit"></i>&nbsp&nbsp&nbspTahrirlash
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">

        $(document).ready(function () {


            var result = ''
            for (var i = 0; i < $('#password').data('password').length; i++) {
                result += '*'
            }
            $('#password').text(result)




            $('#show_password').on('click', function () {

                if ($(this).siblings('#password').data('show') === false) {
                    $(this).html('<i class="far fa-eye-slash"></i>')
                    $(this).siblings('#password').data('show', true)

                    $('#password').text($(this).siblings('#password').data('password'))
                } else {
                    $(this).html('<i class="far fa-eye"></i>')
                    $(this).siblings('#password').data('show', false)
                    $('#password').text(result)
                }
            })
            $('#addAmountBtn').on('click', function (e) {
                e.preventDefault()
                Swal.fire({
                    allowOutsideClick: false,
                    showCancelButton: false,
                    showConfirmButton: false,
                    showLoaderOnConfirm: true,
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    },

                    title: 'To\'lov turini tanlang!',
                    html:
                        '<a href="?payment_type=payme" ><img src="../../static/online/payme.png" style="border: 1px solid black; padding: 5px; border-radius: 5px" alt="payme" height="80" width="190"></a>' +
                        '<a href="?payment_type=click"  ><img src="../../static/online/clickuz.png" style="margin-left: 20px;border: 1px solid black; padding: 5px; border-radius: 5px" alt="click" height="80" width="190"></a>',

                    focusConfirm: false,
                })
            })

            {% if request.GET.payment_type == 'click' or request.GET.payment_type == 'payme' %}

                const {value: formValues} = Swal.fire({
                    allowOutsideClick: false,
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    },
                    confirmButtonText: 'Keyingi',
                    cancelButtonText: 'Bekor qilish',
                    title: 'To\'lov summasini kiriting!',
                    html:
                        '<label style="float: left; margin-bottom: 0" class="label_required" for="amount">Summa</label>' +
                        '<input style="margin-top: 4px" id="amount" class="form-control" type="number" placeholder="Masalan: 100000">',

                    focusConfirm: false,
                    preConfirm: (value) => {
                        if (value) {
                            if ($('#amount').val() == '') {
                                Swal.showValidationMessage(
                                    'Summa kiritilmagan!'
                                )
                            } else if ($('#amount').val() < 5000) {
                                Swal.showValidationMessage(
                                    'Summa kamida 5000 so\'m bo\'lishi kerak!'
                                )
                            } else {
                                swal.resetValidationMessage();
                                return [
                                    $('#amount').val()
                                ]
                            }
                        }

                        $('#amount').on('keyup', function () {
                            if ($('#amount').val() == '') {
                                Swal.showValidationMessage(
                                    'Summa kiritilmagan!'
                                )
                            } else if ($('#amount').val() < 5000) {
                                Swal.showValidationMessage(
                                    'Summa kamida 5000 so\'m bo\'lishi kerak!'
                                )
                            } else {
                                swal.resetValidationMessage();

                            }
                        })
                    },

                }).then(function (confirm) {

                    if (confirm.isConfirmed) {
                        var amount = confirm.value[0]
                        {% if request.GET.payment_type == 'click' %}
                            window.location.href = "{% url 'click:create_order_url' %}?amount=12345".replace(/12345/, amount.toString());
                        {% elif request.GET.payment_type == 'payme' %}
                            window.location.href = "{% url 'paycom:create_paycom_url_via_order' %}?amount=12345".replace(/12345/, amount.toString());
                        {% else %}
                            window.location.href = "{% url 'user:personal_data' %}"
                        {% endif %}
                    } else {
                        window.location.href = "{% url 'user:personal_data' %}"
                    }
                });
            {% endif %}
        })

    </script>
{% endblock js %}