{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block top %}
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
{% endblock top %}

{% block content %}
    <section class="py-3 mt-2 bg-info text-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2>{% trans "Tashkilotlar" %}</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid mt-3">
        <!-- left column -->
        {% if organizations %}
            <div class="row justify-content-center">
                <div class="col-12">

                    <select class="form-control" name="organization" id="organization">
                        {% for organization in organizations %}
                            <option value="{{ organization.id }}">{{ organization.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-12 mt-3">
                    <table id="table" class="table table-striped table-bordered">
                        <tr>
                            <th scope="row">Tashkilot nomi:</th>
                            <td id="Viewtitle">{% if organization.title %}{{ organization.title }}{% endif %}</td>

                        </tr>

                        <tr>
                            <th scope="row">Rahbari:</th>
                            <td id="Viewdirector">
                                {% if organization.director %}{{ organization.director }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">STIR raqami:</th>
                            <td id="Viewidentification_number">{% if organization.identification_number %}
                                {{ organization.identification_number }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Yuridik manzili:</th>
                            <td id="Viewlegal_address">
                                {% if organization.legal_address %}{{ organization.legal_address }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Garaj manzili:</th>
                            <td id="Viewaddress_of_garage">{% if organization.address_of_garage %}
                                {{ organization.address_of_garage }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Guvohnoma surati:</th>
                            <td id="Viewcertificate_photo"><a target="_blank" download="on"
                                                              href="
                                                                      {% if organization.certificate_photo %}{{ organization.certificate_photo.url }}{% endif %}">Yuklab
                                olish</a></td>
                        </tr>

                        <tr>
                            <th scope="row">Litsenziya surati:</th>
                            <td id="Viewlicense_photo"><a target="_blank" download="on"
                                                          href="
                                                                  {% if organization.license_photo %}{{ organization.license_photo.url }}{% endif %}">Yuklab
                                olish</a></td>
                        </tr>

                        <tr>
                            <th scope="row">Yaratildi:</th>
                            <td id="Viewcreated_date">{% if organization.created_date %}
                                {{ organization.created_date|date:"d.m.Y" }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Tahrirlandi:</th>
                            <td id="Viewcreated_date">{% if organization.updated_date %}
                                {{ organization.updated_date|date:"d.m.Y" }}{% endif %}</td>
                        </tr>

                    </table>

                    <hr>
                    <div class="row">
                        <button type="button" id="EditBtn" style="margin: 3%"
                                class="col-11 col-lg-5 col-md-5 col-xl-5 col-sm-5 btn btn-secondary">Tashkilotni
                            tahrirlash
                        </button>
                        <button id="addBtn" type="button" style="margin: 3%"
                                class="col-11 col-lg-5 col-md-5 col-xl-5 col-sm-5 btn btn-primary">Tashkilot qo'shish
                        </button>

                    </div>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}
{% block bottom %}
    <script type="text/javascript">

        $(document).ready(function () {
            $('#organization').on('change', function () {
                var SelectedOrganization = $(this).children("option:selected").val()

                $.ajax({
                    type: 'GET',
                    url: '{% url "user:get_organization" %}',
                    data: {'organization': SelectedOrganization},
                    success: function (response) {
                        $('#Viewtitle').text(response.fields.title);
                        $('#Viewdirector').text(response.fields.director);
                        $('#Viewidentification_number').text(response.fields.identification_number);
                        $('#Viewlegal_address').text(response.fields.legal_address);
                        $('#Viewaddress_of_garage').text(response.fields.address_of_garage);
                        $('#Viewcertificate_photo a').attr('href', `/media/${response.fields.certificate_photo}`)
                        $('#Viewlicense_photo a').attr('href', `/media/${response.fields.license_photo}`)
                        var date = response.fields.created_date;
                        var arr = date.split('', 10);
                        var created_date = `${arr[8]}${arr[9]}.${arr[5]}${arr[6]}.${arr[0]}${arr[1]}${arr[2]}${arr[3]}`
                        $('#Viewcreated_date').text(created_date)

                    }
                })
            })

            $('#addBtn').on('click', function () {
                window.location.href =
                {% url 'user:add_organization' %}
            })

            $('#EditBtn').on('click', function () {
                var organization_id = $('#organization').children("option:selected").val()
                window.location.href = "{% url 'user:edit_organization' organization_id=12345 %}".replace(/12345/, organization_id.toString());
            })
        })

    </script>
{% endblock bottom %}