{% extends 'base_vertical.html' %}
{% load i18n %}

{% block title %}
    {% if user.last_name and user.first_name %}{{ user.last_name }} {{ user.first_name }}
        {{ user.middle_name }}{% else %}{{ user.username }}{% endif %}
{% endblock title %}

{% block page_title %}
    {% trans "Foydalanuvchi ma'lumotlari" %}
{% endblock page_title %}

{% block content %}
    <div class="row ml-2 mr-2">
        <div class="col-12 text-center p-0">

            <div class="card px-0 pb-0 mb-3">
                <div class="card-body">
                    {% include '_parts/messages.html' %}

                    <table class="table table-striped table-bordered text-start">
                        <tr>
                            <th scope="row">Familiya:</th>
                            <td>{% if user.last_name %}{{ user.last_name }}{% endif %}</td>

                        </tr>

                        <tr>
                            <th scope="row">Ism:</th>
                            <td>{% if user.first_name %}{{ user.first_name }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Otasining ismi:</th>
                            <td>{% if user.middle_name %}{{ user.middle_name }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Tug'ilgan yil:</th>
                            <td>{% if user.birthday %}{{ user.birthday|date:"d.m.Y" }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Yashash manzili:</th>
                            <td>{% if user.region %}{{ user.region }}{% endif %},
                                {% if user.district %}{{ user.district }}{% endif %},
                                {% if user.quarter %}{{ user.quarter }}{% endif %},
                                {% if user.address %}{{ user.address }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Passport seriyasi:</th>
                            <td>{% if user.passport_seriya %}{{ user.passport_seriya }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Passport raqami:</th>
                            <td>{% if user.passport_number %}{{ user.passport_number }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">Kim tomonidan berilgan:</th>
                            <td>{% if user.issue_by_whom %}{{ user.issue_by_whom }}{% endif %}</td>
                        </tr>

                        <tr>
                            <th scope="row">JShShIR:</th>
                            <td>{% if user.person_id %}{{ user.person_id }}{% endif %}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom %}

{% endblock bottom %}